force-app/main/default/flows/ACC_identificarNegocio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AsiganrEmpres</name>
        <label>AsiganrEmpres</label>
        <locationX>991</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>SV</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerTomadores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignaMixto</name>
        <label>asignaMixto</label>
        <locationX>716</locationX>
        <locationY>1312</locationY>
        <assignmentItems>
            <assignToReference>valorCampo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mixto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarRL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignaNinguno</name>
        <label>asignaNinguno</label>
        <locationX>1014</locationX>
        <locationY>1389</locationY>
        <assignmentItems>
            <assignToReference>valorCampo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ninguno</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarRL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarEmpresa</name>
        <label>AsignarEmpresa</label>
        <locationX>987</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>RL</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerTomadores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignaRL</name>
        <label>asignaRL</label>
        <locationX>269</locationX>
        <locationY>1400</locationY>
        <assignmentItems>
            <assignToReference>valorCampo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Colmena Riesgos Laborales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarRL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignarRL</name>
        <label>asignarRL</label>
        <locationX>223</locationX>
        <locationY>754</locationY>
        <assignmentItems>
            <assignToReference>RL</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerParticipantes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignarSV</name>
        <label>asignarSV</label>
        <locationX>223</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>SV</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrerParticipantes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignaSV</name>
        <label>asignaSV</label>
        <locationX>537</locationX>
        <locationY>1309</locationY>
        <assignmentItems>
            <assignToReference>valorCampo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Colmena Seguros de Vida</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarRL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>actualizarCampo</name>
        <label>actualizarCampo</label>
        <locationX>615</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>asignaNinguno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Seguros_Vida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignaSV</targetReference>
            </connector>
            <label>Seguros Vida</label>
        </rules>
        <rules>
            <name>ARL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignaRL</targetReference>
            </connector>
            <label>ARL</label>
        </rules>
        <rules>
            <name>Ninguno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignaNinguno</targetReference>
            </connector>
            <label>Ninguno</label>
        </rules>
        <rules>
            <name>Mixto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignaMixto</targetReference>
            </connector>
            <label>Mixto</label>
        </rules>
    </decisions>
    <decisions>
        <name>validarPolizas</name>
        <label>validarPolizas</label>
        <locationX>216</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>recorrerParticipantes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>verdadero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerParticipantes.InsurancePolicy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recorrerParticipantes.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Asegurado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignarSV</targetReference>
            </connector>
            <label>verdaderoSeguros</label>
        </rules>
        <rules>
            <name>vedaderoRL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerParticipantes.InsurancePolicy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recorrerParticipantes.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Trabajador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignarRL</targetReference>
            </connector>
            <label>vedaderoRL</label>
        </rules>
    </decisions>
    <decisions>
        <name>validarPolizasTomadores</name>
        <label>validarPolizasTomadores</label>
        <locationX>850</locationX>
        <locationY>841</locationY>
        <defaultConnector>
            <targetReference>recorrerTomadores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PoliSV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerTomadores.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Seguro_de_vida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsiganrEmpres</targetReference>
            </connector>
            <label>PoliSV</label>
        </rules>
        <rules>
            <name>PoliRL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrerTomadores.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Contrato_ARL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarEmpresa</targetReference>
            </connector>
            <label>PoliRL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ACC_identificarNegocio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC_identificarNegocio</label>
    <loops>
        <name>recorrerParticipantes</name>
        <label>recorrerParticipantes</label>
        <locationX>616</locationX>
        <locationY>582</locationY>
        <collectionReference>obtenerParticipantes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>validarPolizas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>recorrerTomadores</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorrerTomadores</name>
        <label>recorrerTomadores</label>
        <locationX>617</locationX>
        <locationY>839</locationY>
        <collectionReference>obtenerPoliTomadores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>validarPolizasTomadores</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>actualizarCampo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtenerParticipantes</name>
        <label>obtenerParticipantes</label>
        <locationX>616</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorrerParticipantes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrimaryParticipantAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCuent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InsurancePolicyParticipant</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InsurancePolicyId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtenerPoliTomadores</name>
        <label>obtenerPoliTomadores</label>
        <locationX>616</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtenerParticipantes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NameInsuredId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCuent</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InsurancePolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarRL</name>
        <label>ActualizarRL</label>
        <locationX>628</locationX>
        <locationY>1602</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCuent</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACC_Empresa_cliente__c</field>
            <value>
                <elementReference>valorCampo</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>obtenerPoliTomadores</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>idCuent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SV</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>valorCampo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
