force-app/main/default/flows/Actualizar_contador_de_correos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Estado_del_Caso</name>
        <label>Estado del Caso</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Caso_cerrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado Atendido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Correo_de_Recepcion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtenr_dominios_Colmena.Dominio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_campo_contador</targetReference>
            </connector>
            <label>Caso cerrado</label>
        </rules>
    </decisions>
    <description>Actualiza campo que cuenta los correos entrantes a casos cerrados</description>
    <environments>Default</environments>
    <formulas>
        <name>Actualizar_Contador</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Parent.Correos_entrantes_en_caso_cerrado__c}),1,
PRIORVALUE({!$Record.Parent.Correos_entrantes_en_caso_cerrado__c})+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ExtraerDominio</name>
        <dataType>String</dataType>
        <expression>MID(
        {!$Record.FromAddress},
        FIND(&apos;@&apos;, {!$Record.FromAddress}) + 0,
        FIND(&apos;.&apos;, {!$Record.FromAddress}, FIND(&apos;@&apos;, {!$Record.FromAddress})) - FIND(&apos;@&apos;, {!$Record.FromAddress}) + 4
    )</expression>
    </formulas>
    <interviewLabel>Actualizar contador de correos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar contador de correos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtenr_dominios_Colmena</name>
        <label>Obtenr dominios Colmena</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Estado_del_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dominio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>f3e5695c-0f6b-4dab-a3e4-4f82a1d31a82</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CS_Colmena_domain__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_campo_contador</name>
        <label>Actualizar campo contador</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Correos_entrantes_en_caso_cerrado__c</field>
            <value>
                <elementReference>Actualizar_Contador</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtenr_dominios_Colmena</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
