force-app/main/default/flows/Actualiza_propietario_creado_por_bot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>elegir_propietario</name>
        <label>elegir propietario</label>
        <locationX>512</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>quien_es_el_creador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Comercial_landing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.AccountSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CC_Sub_Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>15</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_3_de_Actualiza_oportunidad</targetReference>
            </connector>
            <label>Comercial landing</label>
        </rules>
        <rules>
            <name>Validacion_colmena</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.AccountSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CC_Sub_Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.AccountSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CC_Sub_Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>16</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Actualiza_oportunidad</targetReference>
            </connector>
            <label>Validacion colmena</label>
        </rules>
        <rules>
            <name>Comercial_TLM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.AccountSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CC_Sub_Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Actualiza_oportunidad</targetReference>
            </connector>
            <label>Comercial TLM</label>
        </rules>
    </decisions>
    <decisions>
        <name>quien_es_el_creador</name>
        <label>quien es el creador</label>
        <locationX>974</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Copia_4_de_Actualiza_oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>BOT_o_MC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.PropietarioOportunidad</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.IdComercialLanding</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_oportunidad</targetReference>
            </connector>
            <label>BOT o MC</label>
        </rules>
    </decisions>
    <description>Ajuste para asignación del propietario de una oportunidad creado desde un cargue de datos</description>
    <environments>Default</environments>
    <interviewLabel>Actualiza propietario creado por bot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualiza propietario creado por bot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualiza_oportunidad</name>
        <label>Actualiza oportunidad</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_1_de_Actualiza_oportunidad</name>
        <label>Copia 1 de Actualiza oportunidad</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.IdComercialTLM</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_2_de_Actualiza_oportunidad</name>
        <label>Copia 2 de Actualiza oportunidad</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.IdValidacionColmenaDataL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_3_de_Actualiza_oportunidad</name>
        <label>Copia 3 de Actualiza oportunidad</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.IdComercialLanding</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_4_de_Actualiza_oportunidad</name>
        <label>Copia 4 de Actualiza oportunidad</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>elegir_propietario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
