force-app/main/default/flows/AfterUpdateCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>After update case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After update case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Milestone_por_cambio_de_estado</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Firma investigadora</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Profesional de la Salud</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gestión de Operaciones</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Caso de Indemnizacion</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Asignar_Milestone_por_cambio_de_estado</name>
        <label>Asignar Milestone por cambio de estado</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>ExpiredMillestoneNotification</targetReference>
        </connector>
        <flowName>CS_SetMilestoneByChangeStatus</flowName>
        <inputAssignments>
            <name>var_PriorRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ClosedCaseNotification</name>
        <label>Notificacion cierre de caso</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <flowName>ClosedCaseNotification</flowName>
        <inputAssignments>
            <name>var_PriorRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ExpiredMillestoneNotification</name>
        <label>Notificación Milestone Vencido</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>ClosedCaseNotification</targetReference>
        </connector>
        <flowName>ExpiredMillestoneNotification</flowName>
        <inputAssignments>
            <name>var_PriorRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
