force-app/main/default/flows/Asignacion_de_Claim_Radicado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Asignacion_Reclamacion_Analista</name>
        <label>Asignacion Reclamacion Analista</label>
        <locationX>182</locationX>
        <locationY>1116</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Notificacion_Asignacion_Reclamacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Asignación de Reclamación</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AsignacionSolicituddeReclamacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Asignar_a_Analista_Profesional</name>
        <label>Asignar a Analista Profesional</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <actionName>CS_ClaimUtilsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidateClaimParticipant</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Claim</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Claim</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Claims</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringFormat</name>
            <value>
                <stringValue>Analista_Profesional</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CS_ClaimUtilsInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Call_IntegrationClaimRequestVT</name>
        <label>Call_IntegrationClaimRequestVT</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>CSIntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>inputParams</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>IP_ClaimRequestVT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CSIntegrationProcedureInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asignacion_1</name>
        <label>Asignación 1</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>EstadoReclamacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Poliza Innominada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_2</name>
        <label>Asignación 2</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>EstadoReclamacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consultar y Radicar VT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Claim</name>
        <label>Asignar Claim</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>Claims</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_a_Analista_Profesional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Users</name>
        <label>Asignar Users</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Asignar_a_Analista_Profesional.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Notificacion_Asignacion_Reclamacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Input_Params</name>
        <label>Assing Input Params</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>claimIdParam.paramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClaimId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimIdParam.paramValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>claimIdParam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_IntegrationClaimRequestVT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_status_Open</name>
        <label>If status Open</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Poliza Innominada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro Indemnizaciones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Is_Another_Third__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_Input_Params</targetReference>
            </connector>
            <label>Is Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateClaimParticipant</name>
        <label>Validamos Reclamante</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Asignacion_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>IsInnominada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Is_Another_Third__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_1</targetReference>
            </connector>
            <label>Es Innominada</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asignación de Claim Radicado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignación de Claim Radicado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Notificacion_Asignacion_Reclamacion</name>
        <label>Obtener Notificacion Asignacion Reclamacion</label>
        <locationX>182</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignacion_Reclamacion_Analista</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asignacion_de_Reclamacion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateStatus</name>
        <label>Actualizar Estado</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Asignar_Users</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>EstadoReclamacion</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Claim</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;CS_ClaimCompensation&apos;</filterFormula>
        <object>Claim</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>If_status_Open</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AsignacionSolicituddeReclamacion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Se le ha asignado la Solicitud de Reclamación {!$Record.ClaimNumber__c} para su Análisis.</text>
    </textTemplates>
    <variables>
        <name>claimIdParam</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Claims</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Claim</objectType>
    </variables>
    <variables>
        <name>EstadoReclamacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputParams</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
