force-app/main/default/flows/Asignar_Pagador_Indemnizaciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asignar_Cola_de_Pagador_Nivel_1</name>
        <label>Asignar Cola de Pagador Nivel 1</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>ColaPagador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pagador_Indemnizaciones</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Cola_Pagador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Cola_de_Pagador_Nivel_2</name>
        <label>Asignar Cola de Pagador Nivel 2</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>ColaPagador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Coordinador_de_Indemnizaciones</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Cola_Pagador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Cola_de_Pagador_Nivel_3</name>
        <label>Asignar Cola de Pagador Nivel 3</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>ColaPagador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gerente_de_Indemnizaciones</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Cola_Pagador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Cola_de_Pagador_Nivel_4</name>
        <label>Asignar Cola de Pagador Nivel 4</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>ColaPagador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vicepresidente_Tecnico</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Cola_Pagador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Cola_de_Pagador_Nivel_5</name>
        <label>Asignar Cola de Pagador Nivel 5</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>ColaPagador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Presidente_Colmena_Seguros</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Cola_Pagador</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asignacion_de_Pagador</name>
        <label>Asignacion de Pagador</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Asignar_Cola_de_Pagador_Nivel_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Nivel_1_de_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovedAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovedAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0E7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cola_de_Pagador_Nivel_1</targetReference>
            </connector>
            <label>Nivel 1 de Asignacion</label>
        </rules>
        <rules>
            <name>Nivel_2_de_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovedAmount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0000001E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovedAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cola_de_Pagador_Nivel_2</targetReference>
            </connector>
            <label>Nivel 2 de Asignacion</label>
        </rules>
        <rules>
            <name>Nivel_3_de_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovedAmount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.00000001E8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovedAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cola_de_Pagador_Nivel_3</targetReference>
            </connector>
            <label>Nivel 3 de Asignacion</label>
        </rules>
        <rules>
            <name>Nivel_4_de_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovedAmount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.00000001E8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovedAmount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cola_de_Pagador_Nivel_4</targetReference>
            </connector>
            <label>Nivel 4 de Asignacion</label>
        </rules>
        <rules>
            <name>Nivel_5_de_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovedAmount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.00000001E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cola_de_Pagador_Nivel_5</targetReference>
            </connector>
            <label>Nivel 5 de Asignacion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asignar Pagador Indemnizaciones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar Pagador Indemnizaciones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Cola_Pagador</name>
        <label>Obtener Cola Pagador</label>
        <locationX>710</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_registros_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ColaPagador</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_registros_1</name>
        <label>Actualizar registros 1</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>CS_SubEstado__c</field>
            <value>
                <stringValue>En Aprobación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Cola_Pagador.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignacion_de_Pagador</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Pagador</stringValue>
            </value>
        </filters>
        <object>Claim</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ColaPagador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
