force-app/main/default/flows/ClaimPruebas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_IntegrationClaimRequestVT</name>
        <label>Call_IntegrationClaimRequestVT</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>CSIntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>inputParams</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>IP_ClaimRequestVT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CSIntegrationProcedureInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assing_Input_Params</name>
        <label>Assing Input Params</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>claimIdParam.paramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClaimId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimIdParam.paramValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>claimIdParam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_IntegrationClaimRequestVT</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ClaimPruebas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClaimPruebas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;CS_ClaimCompensation&apos;</filterFormula>
        <object>Claim</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Assing_Input_Params</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>AsignacionSolicituddeReclamacion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Se le ha asignado la Solicitud de Reclamación {!$Record.ClaimNumber__c} para su Análisis.</text>
    </textTemplates>
    <variables>
        <name>claimIdParam</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Claims</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Claim</objectType>
    </variables>
    <variables>
        <name>EstadoReclamacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputParams</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
