force-app/main/default/flows/claimSendEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Actualizar_Documentos_Faltantes</name>
        <label>Actualizar Documentos Faltantes</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>CS_EmailClaimInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsNewClaim</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Claim</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Claim</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Claims</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_EmailClaimInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NotificacionUpdateClaim</name>
        <label>Notificacion Update Claim</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Claim.SendUpdateClaim</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Claim.SendUpdateClaim</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Envío de email al crearse un registro de Claim</description>
        <name>SendEmailClaimCreated</name>
        <label>Send email claim created</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Claim.SendEmailClaimCreated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreatingEmailMessageCreatingClaim</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Claim.SendEmailClaimCreated</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asignar_Claims</name>
        <label>Asignar Claims</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Claims</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Documentos_Faltantes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsNewClaim</name>
        <label>Is new claim</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>NotificacionUpdateClaim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SendClaimEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SendClaimEmail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailClaimCreated</targetReference>
            </connector>
            <label>Is new</label>
        </rules>
    </decisions>
    <description>Envió automático de correo electrónico  al crear un siniestro.</description>
    <environments>Default</environments>
    <interviewLabel>claimSendEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>claimSendEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatingEmailMessageCreatingClaim</name>
        <label>Creacion Mensaje de Correo Electronico - Creacion Indemnizacion</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>No responder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>htmlBodyCreatedClaim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varClaimSubjectClaimNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.CS_correoReclamante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidatedFromAddress</field>
            <value>
                <stringValue>no-responder@ext.colmenaseguros.com</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Claims</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5 AND 6 AND 7))</filterLogic>
        <filters>
            <field>ClaimEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SendClaimEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SendClaimEmail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Análisis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_SubEstado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Documentos Adicionales</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_SubEstado__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Claim</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>htmlBodyCreatedClaim</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em style=&quot;font-size: 16px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;Apreciado(a) Cliente,&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 16px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; background-color: white;&quot;&gt;Hemos recibido de manera exitosa la radicación de los documentos y la solicitud de indemnización, nuestro aplicativo ha asignado el Siniestro&amp;nbsp;&lt;/em&gt;&lt;em style=&quot;font-size: 16px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;No.&lt;/em&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&lt;em&gt; &lt;/em&gt;{!varClaimClaimNumber}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 16px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; background-color: white;&quot;&gt;el cual le servirá para realizar las consultas que considere al estado de su solicitud de Indemnización. Tenga en cuenta que, con la recepción completa de los documentos, definiremos la solicitud en el menor tiempo posible y en los mejores términos.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varClaimDocumentosFaltantes}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: white;&quot;&gt;Para realizar la consulta de su solicitud , por favor de clic en el siguiente link.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.salesforce.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;https://www.salesforce.com/&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Claims</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim</objectType>
    </variables>
    <variables>
        <name>varClaimClaimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.ClaimNumber__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimDocumentosFaltantes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CS_DocumentosFaltantes__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimSubjectClaimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Confirmación radicación solicitud de indemnización No. {!$Record.ClaimNumber__c}</stringValue>
        </value>
    </variables>
</Flow>
