force-app/main/default/flows/ClaimParticipant_After_Update_Restrictive_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_notificacion_a_Gerencia_de_Riesgos</name>
        <label>Enviar notificacion a Gerencia de Riesgos</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>ClaimParticipant.CS_RestrictiveListNotification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClaimParticipant.CS_RestrictiveListNotification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notificacion_a_usuario</name>
        <label>Enviar notificación a usuario</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UsertoNotify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignUser</name>
        <label>AsignarUsuario</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>UsertoNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_notificacion_a_usuario</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Consulta_Restrictiva</name>
        <label>Consulta Restrictiva</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Tiene_Lista_Restrictiva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_ContainsRestrictedList__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_notificacion_a_Gerencia_de_Riesgos</targetReference>
            </connector>
            <label>Tiene Lista Restrictiva</label>
        </rules>
        <rules>
            <name>Fallo_Lista_Restrictiva</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_ContainsRestrictedList__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No se pudo realizar la consulta a listas restrictivas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_ContainsRestrictedList__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No se ha consultado Listas restrictivas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNotificationType</targetReference>
            </connector>
            <label>Fallo Lista Restrictiva</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BodyNotification</name>
        <dataType>String</dataType>
        <expression>&apos;Número de radicado &apos;+ {!$Record.Claim.CS_Multipolicy__r.ClaimNumber__c}+&apos; presentó fallo en integración de lista restrictiva&apos;</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Consulta a Lista Restrictiva Falló&apos;</expression>
    </formulas>
    <interviewLabel>ClaimParticipant - After Update - Restrictive List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClaimParticipant - After Update - Restrictive List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNotificationType</name>
        <label>Obtener notificación</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS_RestrictiveListNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Consulta_Restrictiva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CS_DatetimeRestrictiveListRequest__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ClaimParticipant</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UsertoNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
