force-app/main/default/flows/Claim_Participant_Restrictive_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invocador de Clase para consulta de Servicio de Listas Restrictivas.</description>
        <name>RestrictiveListsClaimParticipant</name>
        <label>RestrictiveListsClaimParticipant</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>RestrictiveListsClaimParticipant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_ParticipantClaimCoverage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputStrings</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RestrictiveListsClaimParticipant</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_ParticipantValues</name>
        <label>Set ParticipantValues</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_ParticipantClaimCoverage.CS_ResponsibleAnalyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ParticipantClaimCoverage</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>UserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Claim Participant - Restrictive List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Participant - Restrictive List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ParticipantClaimCoverage</name>
        <label>Get ParticipantClaimCoverage</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ParticipantValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ParticipantClaimCoverage</name>
        <label>Update ParticipantClaimCoverage</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>Get_ParticipantClaimCoverage</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RestrictiveListsClaimParticipant</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
