force-app/main/default/flows/ClaimCoverageReserveDetailUpdateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Estado_Reserva</name>
        <label>Estado Reserva</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Objetado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Objetado</stringValue>
                </rightValue>
            </conditions>
            <label>Objetado</label>
        </rules>
        <rules>
            <name>Aprobada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Cobertura</targetReference>
            </connector>
            <label>Aprobada</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ClaimCoverageReserveDetailUpdateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClaimCoverageReserveDetailUpdateFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_Cobertura</name>
        <label>Actualizar Cobertura</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CS_CompensationValue__c</field>
            <value>
                <elementReference>$Record.ReserveAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LossReserveAmount</field>
            <value>
                <elementReference>$Record.ReserveAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ClaimCoverage</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Estado_Reserva</targetReference>
        </connector>
        <object>ClaimCoverageReserveDetail</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
