force-app/main/default/flows/ClosedCaseNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CS_NotificationCloseOperationManagement</name>
        <label>Notificacion Cierre Gestión de Operaciones</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Copia_1_de_Actualizar_cobertura_de_reclamacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>{!GetNorificationCloseCaseOperation.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Notificacion Cierre Caso Gestión de Operaciones</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificacionCierreCasoFirma</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>HealthProfessionalNotification</name>
        <label>Notificacion Cierre Priofesional de la Salud</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>UpdateClaimCoverageHP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Notificacion_cierre_de_caso.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Notificacion Cierre Caso Profesional Salud</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificacionProfesionalSalud</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NotificationClosedCaseInvestigativeFirm</name>
        <label>Notificacion Cierre Firma Investigadora</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>UpdateClaimCoverage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationInvestigativeFirm.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Notificacion Cierre Caso Firma Investigadora</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificacionCierreCasoFirma</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>SetOwnerIdList</name>
        <label>Set owner id to list</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Record.ClaimCoverage__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_NotificationCloseOperationManagement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOwnerIdToList</name>
        <label>Set owner id to list</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Record.ClaimCoverage__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HealthProfessionalNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOwnerIdtoListFI</name>
        <label>Set owner id to list</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Record.ClaimCoverage__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotificationClosedCaseInvestigativeFirm</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>InitialConditions</name>
        <label>Initial conditions</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_PriorRecord.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotificationByRecordtype</targetReference>
            </connector>
            <label>Execute</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotificationByRecordtype</name>
        <label>Notification by recordtype</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HealthProfessional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Profesional_de_la_Salud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Notificacion_cierre_de_caso</targetReference>
            </connector>
            <label>Health professional</label>
        </rules>
        <rules>
            <name>InvestigativeFirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Firma_investigadora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNotificationInvestigativeFirm</targetReference>
            </connector>
            <label>Firma Investigadora</label>
        </rules>
        <rules>
            <name>CS_OperationManagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.RecordTypeCase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestión de Operaciones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNorificationCloseCaseOperation</targetReference>
            </connector>
            <label>Gestión de operaciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_Milestone</name>
        <label>Validar Milestone</label>
        <locationX>534</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>CS_HasMilestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMilestone</targetReference>
            </connector>
            <label>Tiene Milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateExistCoverage</name>
        <label>Validacion Existe Cobertura</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copia_1_de_Actualizar_cobertura_de_reclamacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe_Cobertura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.ClaimCoverage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOwnerIdList</targetReference>
            </connector>
            <label>Existe Cobertura</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NotificacionProfesionalSalud</name>
        <dataType>String</dataType>
        <expression>&apos;El caso número &apos; &amp; {!var_Record.CaseNumber} &amp; &apos; ha sido cerrado.&apos;</expression>
    </formulas>
    <interviewLabel>Notificacion cierre de caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificacion cierre de caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNorificationCloseCaseOperation</name>
        <label>Obtener Notificación cierre de caso Operaciones</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidateExistCoverage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS_NotificationCloseCaseOperationsManagement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationInvestigativeFirm</name>
        <label>Obtener Notificación cierre de caso</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOwnerIdtoListFI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificationClosedCaseInvestigativeFirm</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Notificacion_cierre_de_caso</name>
        <label>Obtener Notificación cierre de caso</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOwnerIdToList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cierre_Caso_Profesional_de_la_Salud</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copia_1_de_Actualizar_cobertura_de_reclamacion</name>
        <label>Actualizar cobertura de reclamacion</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Validar_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.ClaimCoverage__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_SubStatus__c</field>
            <value>
                <stringValue>Caso gestionado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Analisis</stringValue>
            </value>
        </inputAssignments>
        <object>ClaimCoverage</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClaimCoverage</name>
        <label>Actualizar cobertura de reclamacion</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Validar_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.ClaimCoverage__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_SubStatus__c</field>
            <value>
                <stringValue>Caso gestionado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Analisis</stringValue>
            </value>
        </inputAssignments>
        <object>ClaimCoverage</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateClaimCoverageHP</name>
        <label>Actualizar cobertura de reclamacion</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Validar_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.ClaimCoverage__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_SubStatus__c</field>
            <value>
                <stringValue>Caso gestionado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Analisis</stringValue>
            </value>
        </inputAssignments>
        <object>ClaimCoverage</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMilestone</name>
        <label>Actualizar Milestone</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InitialConditions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Action que notifica el cierre del caso</description>
        <name>NotificacionCierreCasoProfesionalSalud</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;El caso número &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!var_Record.CaseNumber}&amp;nbsp;&lt;/span&gt;ha sido cerrado.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BodyNotificationCloseOperationManagement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>El caso con número {!var_Record.CaseNumber} fue cerrado.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NotificacionCierreCasoFirma</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>El caso con número {!var_Record.CaseNumber} fue cerrado.</stringValue>
        </value>
    </variables>
    <variables>
        <description>Varible encargada de guardar los reponsables del caso</description>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIdClaim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PriorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
