force-app/main/default/flows/ContactosBeneficiarioVentaAsistida.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Cantidad_Beneficiarios</name>
        <label>Cantidad Beneficiarios</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Primer_Beneficiario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Un Beneficiario</defaultConnectorLabel>
        <rules>
            <name>Dos_Beneficiarios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CantidadBeneficiarios</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dos Beneficiarios</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primer_Beneficiarios</targetReference>
            </connector>
            <label>Dos Beneficiarios</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PorcentajeSegundoBeneficiario</name>
        <dataType>Number</dataType>
        <expression>100 - {!ValorAseguradoConversion}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TipoDocBen1</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!TipoDocumentoBeneficiario1})), 
IF({!TipoDocumentoBeneficiario1}==&apos;Cédula de Ciudadanía&apos;, &apos;1&apos;, 
IF({!TipoDocumentoBeneficiario1}==&apos;Cédula de Extranjería&apos;, &apos;2&apos;, 
IF({!TipoDocumentoBeneficiario1}==&apos;Registro Civil&apos;, &apos;12&apos;, 
IF({!TipoDocumentoBeneficiario1}==&apos;Tarjeta De Identidad&apos;, &apos;4&apos;, 
IF({!TipoDocumentoBeneficiario1}==&apos;Permiso Especial&apos;, &apos;11&apos;, null))))), null)</expression>
    </formulas>
    <formulas>
        <name>TipoDocBen2</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!TipoDocumentoBeneficiario2})), 
IF({!TipoDocumentoBeneficiario2}==&apos;Cédula de Ciudadanía&apos;, &apos;1&apos;, 
IF({!TipoDocumentoBeneficiario2}==&apos;Cédula de Extranjería&apos;, &apos;2&apos;, 
IF({!TipoDocumentoBeneficiario2}==&apos;Registro Civil&apos;, &apos;12&apos;, 
IF({!TipoDocumentoBeneficiario2}==&apos;Tarjeta De Identidad&apos;, &apos;4&apos;, 
IF({!TipoDocumentoBeneficiario2}==&apos;Permiso Especial&apos;, &apos;11&apos;, null))))), null)</expression>
    </formulas>
    <formulas>
        <name>ValorAseguradoConversion</name>
        <dataType>Number</dataType>
        <expression>VALUE({!ValorAseguradoTexto})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ContactosBeneficiarioVentaAsistida {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactosBeneficiarioVentaAsistida</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Primer_Beneficiario</name>
        <label>Primer Beneficiario</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>CS_NumeroIdentificacionCP__c</field>
            <value>
                <elementReference>NumeroDocumentoBeneficiario1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_TipoIdentificacionCP__c</field>
            <value>
                <elementReference>TipoDocBen1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NombreBeneficiario1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ApellidoBeneficiario1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parentesco__c</field>
            <value>
                <elementReference>ParentescoBeneficiario1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porcentaje_Asegurado__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Ou000000E7BJIA0</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Primer_Beneficiarios</name>
        <label>Primer Beneficiarios</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Segundo_Beneficiario</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_NumeroIdentificacionCP__c</field>
            <value>
                <elementReference>NumeroDocumentoBeneficiario1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_TipoIdentificacionCP__c</field>
            <value>
                <elementReference>TipoDocBen1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NombreBeneficiario1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ApellidoBeneficiario1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parentesco__c</field>
            <value>
                <elementReference>ParentescoBeneficiario1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porcentaje_Asegurado__c</field>
            <value>
                <elementReference>ValorAseguradoConversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Ou000000E7BJIA0</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Segundo_Beneficiario</name>
        <label>Segundo Beneficiario</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>CS_NumeroIdentificacionCP__c</field>
            <value>
                <elementReference>NumeroDocumentoBeneficiario2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_TipoIdentificacionCP__c</field>
            <value>
                <elementReference>TipoDocBen2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NombreBeneficiario2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ApellidoBeneficiario2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parentesco__c</field>
            <value>
                <elementReference>ParentescoBeneficiario2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porcentaje_Asegurado__c</field>
            <value>
                <elementReference>PorcentajeSegundoBeneficiario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Ou000000E7BJIA0</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cantidad_Beneficiarios</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApellidoBeneficiario1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApellidoBeneficiario2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CantidadBeneficiarios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreBeneficiario1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NombreBeneficiario2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroDocumentoBeneficiario1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroDocumentoBeneficiario2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentescoBeneficiario1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentescoBeneficiario2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoDocumentoBeneficiario1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoDocumentoBeneficiario2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValorAseguradoTexto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
