force-app/main/default/flows/CreacionCandidato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>IdLead</name>
        <label>IdLead</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>idCandidato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Creacion_De_Candidato</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TipoObjCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>DocumentTypeFormat</name>
        <dataType>String</dataType>
        <expression>IF({!DocumentType} == &apos;Cédula de Ciudadanía&apos; , &apos;1&apos;, IF({!DocumentType} == &apos;Cédula de Extranjería&apos;, &apos;2&apos;, IF({!DocumentType} == &apos;Permiso Especial&apos;, &apos;11&apos;, null)))</expression>
    </formulas>
    <formulas>
        <name>MobilePhoneConverted</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!phone}, &apos;+57 &apos;), {!phone}, &apos;+57 &apos;+{!phone})</expression>
    </formulas>
    <interviewLabel>CreacionCandidato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreacionCandidato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creacion_De_Candidato</name>
        <label>Creacion De Candidato</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>IdLead</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_TratamientoDatos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>origenProspecto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>secondName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhoneConverted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_documento__c</field>
            <value>
                <elementReference>numeroDocumento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Nt000000OrlCIAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En Proceso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix</field>
            <value>
                <elementReference>secondLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_documento__c</field>
            <value>
                <elementReference>DocumentTypeFormat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypePerson__c</field>
            <value>
                <stringValue>Persona Natural</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creationMedium__c</field>
            <value>
                <elementReference>medioCreacionProspecto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sponsor__c</field>
            <value>
                <elementReference>sponsorProspecto</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Creacion_De_Candidato</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idCandidato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medioCreacionProspecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numeroDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>origenProspecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sponsorProspecto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoObjCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
