force-app/main/default/flows/CreateSubcase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AopenNewRecord</name>
        <label>Navegar a nuevo registro</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>c:cs_navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:cs_navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Crear Subcaso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Subcaso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateSubCase</name>
        <label>Crear SubCaso</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>GetMilestone</targetReference>
        </connector>
        <inputAssignments>
            <field>AccidentType__c</field>
            <value>
                <elementReference>GetCaseData.AccidentType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCaseData.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentDateTime__c</field>
            <value>
                <elementReference>GetCaseData.AppointmentDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AppointmentType__c</field>
            <value>
                <elementReference>GetCaseData.AppointmentType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssistanceCity__c</field>
            <value>
                <elementReference>GetCaseData.AssistanceCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Numero_Poliza_de_seguro__c</field>
            <value>
                <elementReference>GetCaseData.CS_Numero_Poliza_de_seguro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_SinisterCity__c</field>
            <value>
                <elementReference>GetCaseData.CS_SinisterCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Titulo_de_Capitalizaci_n__c</field>
            <value>
                <elementReference>GetCaseData.CS_Titulo_de_Capitalizaci_n__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>GetCaseData.Claim__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Companion_identification_number__c</field>
            <value>
                <elementReference>GetCaseData.Companion_identification_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Companion_phone__c</field>
            <value>
                <elementReference>GetCaseData.Companion_phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractType__c</field>
            <value>
                <elementReference>GetCaseData.ContractType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeathDateTime__c</field>
            <value>
                <elementReference>GetCaseData.DeathDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>GetCaseData.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor__c</field>
            <value>
                <elementReference>GetCaseData.Doctor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>GetCaseData.EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventNumber__c</field>
            <value>
                <elementReference>GetCaseData.EventNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType__c</field>
            <value>
                <elementReference>GetCaseData.EventType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_type__c</field>
            <value>
                <elementReference>GetCaseData.Form_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicalConstraint__c</field>
            <value>
                <elementReference>GetCaseData.MedicalConstraint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicalSpecialties__c</field>
            <value>
                <elementReference>GetCaseData.MedicalSpecialties__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationEmail__c</field>
            <value>
                <elementReference>GetCaseData.NotificationEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationPhone__c</field>
            <value>
                <elementReference>GetCaseData.NotificationPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyParticipant__c</field>
            <value>
                <elementReference>GetCaseData.PolicyParticipant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QueueRouting__c</field>
            <value>
                <elementReference>GetCaseData.QueueRouting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_LE__c</field>
            <value>
                <elementReference>GetCaseData.Reason_LE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedulingType__c</field>
            <value>
                <elementReference>GetCaseData.SchedulingType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialty__c</field>
            <value>
                <elementReference>GetCaseData.Specialty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>GetCaseData.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>GetCaseData.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>GetCaseData.SuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurgeryDateTime__c</field>
            <value>
                <elementReference>GetCaseData.SurgeryDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationRigthsNumber__c</field>
            <value>
                <elementReference>GetCaseData.ValidationRigthsNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weigth__c</field>
            <value>
                <elementReference>GetCaseData.Weigth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>companion_name__c</field>
            <value>
                <elementReference>GetCaseData.companion_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_of_companion_document__c</field>
            <value>
                <elementReference>GetCaseData.type_of_companion_document__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>GetCaseData</name>
        <label>Obtener Caso</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMilestone</name>
        <label>Obtiene Milestone</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>Obtener Tipo de Registro</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSubCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formulario</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>Actualiza Caso</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>AopenNewRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Semaforotexto__c</field>
            <value>
                <stringValue>En atención</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone_start_date__c</field>
            <value>
                <elementReference>GetMilestone.StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
