force-app/main/default/flows/CS_Actualizar_registro_de_prorroga_mas_reciente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CS_Asignar_valores_para_registro_de_prorroga_a_actualizar</name>
        <label>Asignar valores para registro de prórroga a actualizar</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Obtener_registro_de_prorroga_en_estado_pendiente.CS_Usuario_aprobador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Obtener_ultimo_registro_aprobacion_relacionado_al_caso.LastActorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_registro_de_prorroga_en_estado_pendiente.CS_Estado_de_la_solicitud_de_la_prorroga__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Obtener_ultimo_registro_aprobacion_relacionado_al_caso.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_registro_de_prorroga_en_estado_pendiente.CS_Fecha_tentativa_de_cierre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Fecha_y_hora_a_asignar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_registro_de_prorroga_en_estado_pendiente.CS_Fecha_de_aprobacion_rechazo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Obtener_ultimo_registro_aprobacion_relacionado_al_caso.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_registro_de_prorroga_en_estado_pendiente.CS_Dias_de_Prorroga__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Caso.CS_Prorroga__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Actualizar_registro_prorroga</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CS_Existe_prorroga_abierta</name>
        <label>Existe prórroga abierta?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_registro_de_prorroga_en_estado_pendiente.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Obtener_ultimo_registro_aprobacion_relacionado_al_caso</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>CS_Validar_fecha_tentativa_cierre_a_asignar</name>
        <label>Validar fecha tentativa de cierre a asignar</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>CS_fecha_tentativa_asignada_no_esta_en_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CS_Fecha_y_hora_a_asignar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Asignar_valores_para_registro_de_prorroga_a_actualizar</targetReference>
            </connector>
            <label>fecha tentativa asignada no esta en null</label>
        </rules>
    </decisions>
    <description>Este flujo permite actualizar el registro de prórroga en estado Pendiente</description>
    <environments>Default</environments>
    <formulas>
        <name>CS_Fecha_tentativa_cierre</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CS_Caso.CS_FechaTentativaDeCierre__c}),MONTH({!CS_Caso.CS_FechaTentativaDeCierre__c}),DAY({!CS_Caso.CS_FechaTentativaDeCierre__c}))</expression>
    </formulas>
    <formulas>
        <name>CS_Fecha_y_hora_a_asignar</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!CS_Caso.CS_FechaTentativaDeCierre__c}) + &quot; &quot; +  &quot;23:00:00&quot;)</expression>
    </formulas>
    <interviewLabel>Actualizar registro de prórroga más reciente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar registro de prórroga más reciente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CS_Obtener_ultimo_registro_aprobacion_relacionado_al_caso</name>
        <label>Obtener último registro aprobación relacionado al caso</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CS_Validar_fecha_tentativa_cierre_a_asignar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CS_Caso.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CompletedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_registro_de_prorroga_en_estado_pendiente</name>
        <label>Obtener registro de prórroga en estado pendiente</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CS_Existe_prorroga_abierta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CS_Numero_de_Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CS_Caso.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CS_Estado_de_la_solicitud_de_la_prorroga__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CS_Prorroga__c</object>
        <sortField>CS_Fecha_de_solicitud_de_la_Prorroga__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CS_Actualizar_registro_prorroga</name>
        <label>Actualizar registro prórroga</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>Obtener_registro_de_prorroga_en_estado_pendiente</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_registro_de_prorroga_en_estado_pendiente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CS_Caso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
