force-app/main/default/flows/CS_AssignPayersClaimCoverage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Asigna el analista profesional de acuerdo a la cola asignada.</description>
        <name>AssignProfessionalAnalyst</name>
        <label>Asignar a Analista Profesional</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <actionName>CS_ClaimUtilsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidateAssignUser</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>ClaimCoverage</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>ClaimCoverage</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Coberturadereclamacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringFormat</name>
            <value>
                <elementReference>ColaPagador</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_ClaimUtilsInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CS_SendNotificationApprovePayer</name>
        <label>Enviar Notificacion Aprobador Pagador</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTItle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CuerpoNotificacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!var_Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asignar_Cola_de_Pagador_Nivel_1</name>
        <label>Asignar Cola de Pagador Nivel 1</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ColaPagador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pagador_Indemnizaciones</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Cola_Pagador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Cola_de_Pagador_Nivel_2</name>
        <label>Asignar Cola de Pagador Nivel 2</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ColaPagador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Coordinador_de_Indemnizaciones</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Cola_Pagador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Cola_de_Pagador_Nivel_3</name>
        <label>Asignar Cola de Pagador Nivel 3</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ColaPagador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gerente_de_Indemnizaciones</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Cola_Pagador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Cola_de_Pagador_Nivel_4</name>
        <label>Asignar Cola de Pagador Nivel 4</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ColaPagador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vicepresidente_Tecnico</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Cola_Pagador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Cola_de_Pagador_Nivel_5</name>
        <label>Asignar Cola de Pagador Nivel 5</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ColaPagador</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Presidente_Colmena_Seguros</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Cola_Pagador</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignClaimCoverage</name>
        <label>Asignación de cobertura para usar</label>
        <locationX>710</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>Coberturadereclamacion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignProfessionalAnalyst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UserAssignNotification</name>
        <label>Asignar usuario</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>UserNotification</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_SendNotificationApprovePayer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asignacion_de_Pagador</name>
        <label>Asignacion de Pagador</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Asignar_Cola_de_Pagador_Nivel_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Nivel_1_de_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.CS_CompensationValue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.CS_CompensationValue__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0E7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cola_de_Pagador_Nivel_1</targetReference>
            </connector>
            <label>Nivel 1 de Asignacion</label>
        </rules>
        <rules>
            <name>Nivel_2_de_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.CS_CompensationValue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.CS_CompensationValue__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cola_de_Pagador_Nivel_2</targetReference>
            </connector>
            <label>Nivel 2 de Asignacion</label>
        </rules>
        <rules>
            <name>Nivel_3_de_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.CS_CompensationValue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0E8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.CS_CompensationValue__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cola_de_Pagador_Nivel_3</targetReference>
            </connector>
            <label>Nivel 3 de Asignacion</label>
        </rules>
        <rules>
            <name>Nivel_4_de_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.CS_CompensationValue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.CS_CompensationValue__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cola_de_Pagador_Nivel_4</targetReference>
            </connector>
            <label>Nivel 4 de Asignacion</label>
        </rules>
        <rules>
            <name>Nivel_5_de_Asignacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.CS_CompensationValue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Cola_de_Pagador_Nivel_5</targetReference>
            </connector>
            <label>Nivel 5 de Asignacion</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateAssignUser</name>
        <label>Validar si se asigna a usuario</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>UserAssign</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>AssignProfessionalAnalyst.stringValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNotificationType</targetReference>
            </connector>
            <label>Asignado a Usuario</label>
        </rules>
    </decisions>
    <description>Asignación de pagador Cobertura de reclamación</description>
    <environments>Default</environments>
    <interviewLabel>Asignación de pagador Cobertura de reclamación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignación de pagador Cobertura de reclamación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNotificationType</name>
        <label>Obtener notificación</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserAssignNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS_NotificationApprovePayer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cola_Pagador</name>
        <label>Obtener Cola Pagador</label>
        <locationX>710</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignClaimCoverage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ColaPagador</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignacion_de_Pagador</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Coberturadereclamacion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ClaimCoverage</objectType>
    </variables>
    <variables>
        <name>ColaPagador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CuerpoNotificacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Se le ha asignado una cobertura de reclamación para validar el valor de la indemnización. Click para dirigirse a la cobertura asignada.</stringValue>
        </value>
    </variables>
    <variables>
        <name>NotificationTItle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Aprobación de Cobertura de reclamación</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserNotification</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PriorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClaimCoverage</objectType>
    </variables>
    <variables>
        <name>var_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClaimCoverage</objectType>
    </variables>
</Flow>
