force-app/main/default/flows/CS_Actualizar_Caso_en_analisis_y_envio_notificacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CS_EnviarAlertaCapitalizadora</name>
        <label>EnviarAlertaCapitalizadora</label>
        <locationX>578</locationX>
        <locationY>1571</locationY>
        <actionName>Case.CS_CasoProcesoAtencionCapitalizadora</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copia_2_de_Actualizar_flag_de_enviar_alerta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoProcesoAtencionCapitalizadora</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_EnviarAlertaRL</name>
        <label>EnviarAlertaRL</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <actionName>Case.CS_CasoProcesoAtencionRL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_Actualizar_flag_de_enviar_alerta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoProcesoAtencionRL</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_EnviarAlertaSG</name>
        <label>EnviarAlertaSG</label>
        <locationX>842</locationX>
        <locationY>1571</locationY>
        <actionName>Case.CS_CasoProcesoAtencionSG</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copia_3_de_Actualizar_flag_de_enviar_alerta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoProcesoAtencionSG</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_EnviarAlertaSV</name>
        <label>EnviarAlertaSV</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <actionName>Case.CS_CasoProcesoAtencionSV</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copia_1_de_Actualizar_flag_de_enviar_alerta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoProcesoAtencionSV</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_Obtener_dias_habiles_de_gestion_tutela_requerimiento_juridico</name>
        <label>Obtener días hábiles para gestión de tutela o Requerimiento Jurídico</label>
        <locationX>677</locationX>
        <locationY>539</locationY>
        <actionName>CS_GetWorkingDaysBetweenDates_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CS_Actualizar_tiempo_global_de_atencion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>finalDate</name>
            <value>
                <elementReference>$Record.CS_FechaTentativaDeCierre__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_GetWorkingDaysBetweenDates_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Alert_SV</name>
        <label>SendAlertSV</label>
        <locationX>1557</locationX>
        <locationY>647</locationY>
        <actionName>Case.Caso_en_Proceso_de_Asignaci_n_SV</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Caso_en_Proceso_de_Asignaci_n_SV</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendAlertCAP</name>
        <label>SendAlertCAP</label>
        <locationX>1821</locationX>
        <locationY>647</locationY>
        <actionName>Case.Caso_en_Proceso_de_Asignaci_n_Capitalizadora</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Caso_en_Proceso_de_Asignaci_n_Capitalizadora</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendAlertRL</name>
        <label>SendAlertRL</label>
        <locationX>1293</locationX>
        <locationY>647</locationY>
        <actionName>Case.Caso_en_proceso_de_Asignaci_n_RL</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Caso_en_proceso_de_Asignaci_n_RL</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendAlertSG</name>
        <label>SendAlertSG</label>
        <locationX>2085</locationX>
        <locationY>647</locationY>
        <actionName>Case.Caso_en_Proceso_de_Asignaci_n_SG</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Caso_en_Proceso_de_Asignaci_n_SG</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CS_Validacion_de_flag_y_Email_de_contacto</name>
        <label>Validación de flag y Email de contacto</label>
        <locationX>1304</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>No se cumplen</defaultConnectorLabel>
        <rules>
            <name>CS_Validaciones_oblgatorias_para_envio_de_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_EnvioAlertaCasoAnalisis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Validaciones_opcionales</targetReference>
            </connector>
            <label>Validaciones oblgatorias para envio de email</label>
        </rules>
    </decisions>
    <decisions>
        <name>CS_Validaciones_opcionales</name>
        <label>Validaciones opcionales</label>
        <locationX>974</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>CS_Se_selecciono_una_entidad_permitida</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Validar_Sub_Tipo_Caso</targetReference>
            </connector>
            <label>Se selecciono una entidad permitida</label>
        </rules>
    </decisions>
    <decisions>
        <name>CS_Validar_Actualizaci_n_de_Estatus_del_caso</name>
        <label>Validar Actualización de Estatus del caso</label>
        <locationX>1601</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>No se actualizo el estatus</defaultConnectorLabel>
        <rules>
            <name>CS_Si_se_actualizo_el_estatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Análisis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Validacion_de_flag_y_Email_de_contacto</targetReference>
            </connector>
            <label>Si se actualizo el estatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>CS_Validar_Sub_Tipo_Caso</name>
        <label>Validar Sub Tipo Caso</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Es Distinto</defaultConnectorLabel>
        <rules>
            <name>CS_EsClienteRL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarAlertaRL</targetReference>
            </connector>
            <label>EsClienteRL</label>
        </rules>
        <rules>
            <name>CS_EsClienteSV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarAlertaSV</targetReference>
            </connector>
            <label>EsClienteSV</label>
        </rules>
        <rules>
            <name>CS_EsClienteCapitalizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarAlertaCapitalizadora</targetReference>
            </connector>
            <label>EsClienteCapitalizadora</label>
        </rules>
        <rules>
            <name>CS_EsClienteSG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarAlertaSG</targetReference>
            </connector>
            <label>EsClienteSG</label>
        </rules>
    </decisions>
    <decisions>
        <name>CS_ValidarRecordtype</name>
        <label>Validar RecordType</label>
        <locationX>1601</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>RecordType No Permitido</defaultConnectorLabel>
        <rules>
            <name>CS_RecordTypepermitido</name>
            <conditionLogic>6 AND 7 AND 8 AND 9 AND (1 OR 2 OR 3 OR 4 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Solicitud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Derecho_de_peticion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Incidente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Novedad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nuevo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_MacroMotivo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Submotivo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_ActualizarEstadoEnAnalisis</targetReference>
            </connector>
            <label>RecordTypepermitido</label>
        </rules>
        <rules>
            <name>CS_Es_Tutela</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Tutela</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Fecha_Vencimiento_de_Tutela__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Fecha_Vencimiento_de_Tutela__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarFechaTentativaCierreConFechaTutela</targetReference>
            </connector>
            <label>Es Tutela</label>
        </rules>
        <rules>
            <name>CS_Es_Requerimiento_Juridico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Requerimiento_Juridico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_FechaTentativaDeCierre__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_FechaTentativaDeCierre__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CS_Obtener_dias_habiles_de_gestion_tutela_requerimiento_juridico</targetReference>
            </connector>
            <label>Es Requerimiento Jurídico</label>
        </rules>
        <rules>
            <name>RecordType_Buzon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Buzon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validar_Campos</targetReference>
            </connector>
            <label>RecordType Buzon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_requerimiento_juridico</name>
        <label>Es requerimiento jurídico?</label>
        <locationX>677</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_requerimiento_juridico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Requerimiento_Juridico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Validar_Actualizaci_n_de_Estatus_del_caso</targetReference>
            </connector>
            <label>Si es requerimiento jurídico</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_Campos</name>
        <label>Validar Campos</label>
        <locationX>2217</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Se_cumple</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Análisis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_EnvioAlertaCasoAnalisis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validar_Sub_Tipo_Caso</targetReference>
            </connector>
            <label>Se cumple</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_Sub_Tipo_Caso</name>
        <label>Validar Sub Tipo Caso</label>
        <locationX>1821</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Es Distinto</defaultConnectorLabel>
        <rules>
            <name>EsClienteRL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendAlertRL</targetReference>
            </connector>
            <label>EsClienteRL</label>
        </rules>
        <rules>
            <name>EsClienteSV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Alert_SV</targetReference>
            </connector>
            <label>EsClienteSV</label>
        </rules>
        <rules>
            <name>EsClienteCapitalizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendAlertCAP</targetReference>
            </connector>
            <label>EsClienteCapitalizadora</label>
        </rules>
        <rules>
            <name>EsClienteSG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendAlertSG</targetReference>
            </connector>
            <label>EsClienteSG</label>
        </rules>
    </decisions>
    <description>Se encarga de actualizar el campos &quot;Status&quot; del caso en análisis si tiene un RT permitido, después envía la notificación de email dependiendo la entidad seleccionada en el caso.
Se incluye la ruta de Seguros Generales.</description>
    <environments>Default</environments>
    <formulas>
        <description>Obtiene la el valor date para el campo fecha tentativa de cierre a partir de un campo datetime CS_Fecha_Vencimiento_de_Tutela__c</description>
        <name>fechaCalculadaDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CS_Fecha_Vencimiento_de_Tutela__c})</expression>
    </formulas>
    <interviewLabel>Actualizar Caso en analisis y envio notificación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Caso en analisis y envio notificación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ActualizarFechaTentativaCierreConFechaTutela</name>
        <label>ActualizarFechaTentativaCierreConFechaTutela</label>
        <locationX>677</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>CS_Obtener_dias_habiles_de_gestion_tutela_requerimiento_juridico</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_FechaTentativaDeCierre__c</field>
            <value>
                <elementReference>fechaCalculadaDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_1_de_Actualizar_flag_de_enviar_alerta</name>
        <label>Copia 1 de Actualizar flag de enviar alerta</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>CS_EnvioAlertaCasoAnalisis__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_2_de_Actualizar_flag_de_enviar_alerta</name>
        <label>Copia 2 de Actualizar flag de enviar alerta</label>
        <locationX>578</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>CS_EnvioAlertaCasoAnalisis__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_3_de_Actualizar_flag_de_enviar_alerta</name>
        <label>Copia 3 de Actualizar flag de enviar alerta</label>
        <locationX>842</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>CS_EnvioAlertaCasoAnalisis__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CS_Actualizar_flag_de_enviar_alerta</name>
        <label>Actualizar flag de enviar alerta</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>CS_EnvioAlertaCasoAnalisis__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CS_Actualizar_tiempo_global_de_atencion</name>
        <label>Actualizar tiempo global de atención</label>
        <locationX>677</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Es_requerimiento_juridico</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_TiempoGlobalAtencion__c</field>
            <value>
                <elementReference>CS_Obtener_dias_habiles_de_gestion_tutela_requerimiento_juridico.cantidadDias</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CS_ActualizarEstadoEnAnalisis</name>
        <label>CS_ActualizarEstadoEnAnalisis</label>
        <locationX>325</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>CS_Validar_Actualizaci_n_de_Estatus_del_caso</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En Análisis</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1475</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CS_ValidarRecordtype</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FechaTentativaCalculada</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
