force-app/main/default/flows/CS_AnadirProrrogaFechaTentativeAtencion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CS_FuncionalidadesCasoCalcularFechaTentativaCierre</name>
        <label>Funcionalidades Caso: Calcular fecha tentativa de cierre.</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>CS_GetCaseTentativeCloseDate_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CS_Actualizar_registro_de_prorroga_mas_reciente</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caso</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diasParaCierre</name>
            <value>
                <elementReference>CS_SumaTotalDias</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>esProrroga</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>CS_GetCaseTentativeCloseDate_Invocable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_PorrogaAprobadaSG</name>
        <label>Prórroga Aprobada SG</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <actionName>Case.CS_ProrrogaAprobadaSG</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_SeasignoProrrogaSG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_ProrrogaAprobadaSG</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_ProrrogaAprobadaCap</name>
        <label>Prorroga Aprobada Cap</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>Case.CS_ProrrogaAprobadaCapitalizadora</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_SeAsignoProrrogaCapi</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_ProrrogaAprobadaCapitalizadora</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_ProrrogaAprobadaRL</name>
        <label>Prórroga Aprobada RL</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>Case.CS_ProrrogaAprobadaRL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_SeasignoProrrogaRL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_ProrrogaAprobadaRL</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_ProrrogaAprobadaSV</name>
        <label>Prórroga Aprobada SV</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <actionName>Case.CS_ProrrogaAprobadaSV</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_SeasignoProrrogaSV</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_ProrrogaAprobadaSV</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SeAsignoProrrogaCapi</name>
        <label>Se asignó Prórroga Capi</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>Case.CS_SeasignoprorrogaCasoCapitalizadora</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_SeasignoprorrogaCasoCapitalizadora</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SeasignoProrrogaRL</name>
        <label>Se asignó Prórroga RL</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>Case.CS_SeasignoprorrogaCasoRL</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_SeasignoprorrogaCasoRL</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SeasignoProrrogaSG</name>
        <label>Se asignó Prórroga SG</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <actionName>Case.CS_SeasignoprorrogaCasoSG</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_SeasignoprorrogaCasoSG</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SeasignoProrrogaSV</name>
        <label>Se asignó Prórroga SV</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <actionName>Case.CS_SeasignoprorrogaCasoSV</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_SeasignoprorrogaCasoSV</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Validar_Sub_Tipo_Caso</name>
        <label>Validar Sub Tipo Caso</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>EsDistinto</defaultConnectorLabel>
        <rules>
            <name>CS_EsClienteCapitalizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_ProrrogaAprobadaCap</targetReference>
            </connector>
            <label>EsClienteCapitalizadora</label>
        </rules>
        <rules>
            <name>CS_EsClienteRL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_ProrrogaAprobadaRL</targetReference>
            </connector>
            <label>EsClienteRL</label>
        </rules>
        <rules>
            <name>CS_EsClienteSV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_ProrrogaAprobadaSV</targetReference>
            </connector>
            <label>EsClienteSV</label>
        </rules>
        <rules>
            <name>CS_EsClienteSG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_PorrogaAprobadaSG</targetReference>
            </connector>
            <label>EsClienteSG</label>
        </rules>
    </decisions>
    <description>Se incluye ruta para Seguros Generales.</description>
    <environments>Default</environments>
    <formulas>
        <name>CS_SumaTotalDias</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.RecordType.DeveloperName} != &quot;CS_Requerimiento_Juridico&quot;,{!CS_ObtenerProcesoAtencion.CS_TiempoGlobalAtencion__c} + {!$Record.CS_Prorroga__c},  {!$Record.CS_TiempoGlobalAtencion__c} + {!$Record.CS_Prorroga__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Añadir prorroga a fecha tentativa de atencion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Añadir prorroga a fecha tentativa de atencion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CS_ObtenerAsignacionProcesoAtencion</name>
        <label>Obtener asignacion de proceso de atencion</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CS_ObtenerProcesoAtencion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CS_CasoRelacionado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CS_AsginacionPasosAtencion__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CS_ProcesoAtencion__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CS_ObtenerProcesoAtencion</name>
        <label>Obtener proceso de atencion</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CS_FuncionalidadesCasoCalcularFechaTentativaCierre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CS_ObtenerAsignacionProcesoAtencion.CS_ProcesoAtencion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CS_ProcesoAtencion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CS_ObtenerAsignacionProcesoAtencion</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 7 AND (4 OR 5 OR 6 OR 8)</filterLogic>
        <filters>
            <field>CS_ProrrogaAutorizada__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_Prorroga__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_FechaTentativaDeCierre__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_ProrrogaAutorizada__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CS_Actualizar_registro_de_prorroga_mas_reciente</name>
        <label>Actualizar registro de prórroga más reciente</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Validar_Sub_Tipo_Caso</targetReference>
        </connector>
        <flowName>CS_Actualizar_registro_de_prorroga_mas_reciente</flowName>
        <inputAssignments>
            <name>CS_Caso</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
