force-app/main/default/flows/CS_CaseAfterCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CS_SmartSupervisionACK_0</name>
        <label>Smart Supervision ACK</label>
        <locationX>3218</locationX>
        <locationY>600</locationY>
        <actionName>CS_ACKSS_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_ACKSS_Invocable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SmartSupervisionACK_1</name>
        <label>Smart Supervision ACK</label>
        <locationX>3746</locationX>
        <locationY>600</locationY>
        <actionName>CS_ACKSS_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_ACKSS_Invocable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SmartSupervisionACK_2</name>
        <label>Smart Supervision ACK</label>
        <locationX>4274</locationX>
        <locationY>600</locationY>
        <actionName>CS_ACKSS_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_ACKSS_Invocable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SmartSupervisionACK_4</name>
        <label>Smart Supervision ACK</label>
        <locationX>4802</locationX>
        <locationY>600</locationY>
        <actionName>CS_ACKSS_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_ACKSS_Invocable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SmartSupervisionActualizarCaso_MOMENTO_3</name>
        <label>Smart Supervision Actualizar Caso (MOMENTO 3)</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <actionName>CS_UpdateCaseSS_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>casos</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_UpdateCaseSS_Invocable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SmartSupervisionEnviarCaso_MOMENTO_2</name>
        <label>Smart Supervision Enviar Caso (MOMENTO 2)</label>
        <locationX>2426</locationX>
        <locationY>492</locationY>
        <actionName>CS_SendCaseSS_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>casos</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_SendCaseSS_Invocable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SmartSupervisionObtenerArchivosQueja_0</name>
        <label>Smart Supervision Obtener Archivos de la Queja</label>
        <locationX>2954</locationX>
        <locationY>600</locationY>
        <actionName>CS_GetComplainFilesSS_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_GetComplainFilesSS_Invocable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SmartSupervisionObtenerArchivosQueja_1</name>
        <label>Smart Supervision Obtener Archivos de la Queja</label>
        <locationX>3482</locationX>
        <locationY>600</locationY>
        <actionName>CS_GetComplainFilesSS_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_GetComplainFilesSS_Invocable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SmartSupervisionObtenerArchivosQueja_2</name>
        <label>Smart Supervision Obtener Archivos de la Queja</label>
        <locationX>4010</locationX>
        <locationY>600</locationY>
        <actionName>CS_GetComplainFilesSS_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_GetComplainFilesSS_Invocable</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_SmartSupervisionObtenerArchivosQueja_4</name>
        <label>Smart Supervision Obtener Archivos de la Queja</label>
        <locationX>4538</locationX>
        <locationY>600</locationY>
        <actionName>CS_GetComplainFilesSS_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_GetComplainFilesSS_Invocable</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>ClasificarPorEntidad</name>
        <label>Clasificar por entidad</label>
        <locationX>4076</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CS_RiesgosLaboralesAsyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_si_hay_anexos_0</targetReference>
            </connector>
            <label>Riesgos Laborales</label>
        </rules>
        <rules>
            <name>CS_SegurosVidaAsyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_si_hay_anexos</targetReference>
            </connector>
            <label>Seguros de Vida</label>
        </rules>
        <rules>
            <name>CS_CapitalizadoraAsyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_si_hay_anexos_0_0</targetReference>
            </connector>
            <label>Capitalizadora</label>
        </rules>
        <rules>
            <name>CS_SegurosGeneralesAsyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_si_hay_anexos_4</targetReference>
            </connector>
            <label>Seguros Generales</label>
        </rules>
    </decisions>
    <decisions>
        <name>CS_SincronizarSuperintendenciaFinanciera</name>
        <label>Sincronizar Superintendencia Financiera</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No Sincronizar</defaultConnectorLabel>
        <rules>
            <name>CS_Actualizar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réplica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Replica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_ArgumentoReplica__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.CS_EstadoSincronizacionSuperfinanciera__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No radicado (error al radicar)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_SmartSupervisionActualizarCaso_MOMENTO_3</targetReference>
            </connector>
            <label>Actualizar</label>
        </rules>
        <rules>
            <name>CS_Radicar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_EstadoSincronizacionSuperfinanciera__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sin Radicar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_SmartSupervisionEnviarCaso_MOMENTO_2</targetReference>
            </connector>
            <label>Radicar</label>
        </rules>
    </decisions>
    <decisions>
        <name>CS_TipoCasoAsyn</name>
        <label>Tipo de Caso</label>
        <locationX>3614</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>CS_BuzonAsyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Buzon</stringValue>
                </rightValue>
            </conditions>
            <label>Buzón</label>
        </rules>
        <rules>
            <name>CS_QuejaAsyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Borrador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_SincronizarSuperintendenciaFinanciera</targetReference>
            </connector>
            <label>Queja</label>
        </rules>
        <rules>
            <name>CS_QuejaSuperintendenciaAsyn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja_Superintendencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClasificarPorEntidad</targetReference>
            </connector>
            <label>Queja Superintendencia</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_caso_tiene_cobertura_de_reclamaci_n</name>
        <label>¿El caso tiene cobertura de reclamación?</label>
        <locationX>1238</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClaimCoverage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ClaimCoverage__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_caso_con_el_porpietario_de_Cobertura_de_reclamaci_n</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoCaso</name>
        <label>Tipo de Caso</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Buzon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Buzon</stringValue>
                </rightValue>
            </conditions>
            <label>Buzón</label>
        </rules>
        <rules>
            <name>Queja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerEntidad</targetReference>
            </connector>
            <label>Queja</label>
        </rules>
        <rules>
            <name>QuejaSuperintendencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja_Superintendencia</stringValue>
                </rightValue>
            </conditions>
            <label>Queja Superintendencia</label>
        </rules>
        <rules>
            <name>CS_CasoIndemnizacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_CasoIndemnizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Milestone_por_cambio_de_estado</targetReference>
            </connector>
            <label>Caso de Indemnizacion</label>
        </rules>
        <rules>
            <name>Tutela_RequerimientoJuridico</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Tutela</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Requerimiento_Juridico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_tutela_y_requerimientos_juridicos_a_cola_de_Secretaria_General</targetReference>
            </connector>
            <label>Tutela o Requerimiento Jurídico</label>
        </rules>
        <rules>
            <name>Tipos_de_caso_indemnizaciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Caso de Indemnizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>El_caso_tiene_cobertura_de_reclamaci_n</targetReference>
            </connector>
            <label>Tipos de caso indemnizaciones</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica si la variable Anexos de la queja es TRUE.</description>
        <name>Verifica_si_hay_anexos</name>
        <label>Verifica si hay anexos</label>
        <locationX>3614</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>CS_SmartSupervisionACK_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay anexos</defaultConnectorLabel>
        <rules>
            <name>Hay_anexos1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_AnexosQueja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_SmartSupervisionObtenerArchivosQueja_1</targetReference>
            </connector>
            <label>Si tiene Anexos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica si la variable Anexos de la queja es TRUE.</description>
        <name>Verifica_si_hay_anexos_0</name>
        <label>Verifica si hay anexos</label>
        <locationX>3086</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>CS_SmartSupervisionACK_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene anexos</defaultConnectorLabel>
        <rules>
            <name>CS_HayAnexos_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_AnexosQueja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_SmartSupervisionObtenerArchivosQueja_0</targetReference>
            </connector>
            <label>Si tiene Anexos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica si la variable Anexos de la queja es TRUE.</description>
        <name>Verifica_si_hay_anexos_0_0</name>
        <label>Verifica si hay anexos</label>
        <locationX>4142</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>CS_SmartSupervisionACK_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay anexos</defaultConnectorLabel>
        <rules>
            <name>Hay_anexos1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_AnexosQueja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_SmartSupervisionObtenerArchivosQueja_2</targetReference>
            </connector>
            <label>Si tiene Anexos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica si la variable Anexos de la queja es TRUE.</description>
        <name>Verifica_si_hay_anexos_4</name>
        <label>Verifica si hay anexos</label>
        <locationX>4670</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>CS_SmartSupervisionACK_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay anexos</defaultConnectorLabel>
        <rules>
            <name>Si_tiene_Anexos4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_AnexosQueja__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_SmartSupervisionObtenerArchivosQueja_4</targetReference>
            </connector>
            <label>Si tiene Anexos</label>
        </rules>
    </decisions>
    <description>13/11/2024 Se realiza actualizacion adicionando accion para el tipo de registros de casos replicas de indemnizaciones.</description>
    <environments>Default</environments>
    <formulas>
        <name>codigoQueja</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ParentId}),
TEXT({!ObtenerEntidad.CS_TipoEntidad__c}) + TEXT({!ObtenerEntidad.CS_CodigoEntidad__c}) + &quot;-&quot; +  {!$Record.CaseNumber},
{!$Record.Parent.CS_CodigoQueja__c}
)</expression>
    </formulas>
    <interviewLabel>Case After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObtenerEntidad</name>
        <label>Obtener Entidad</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarCamposCalculados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CS_Entidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CS_Subtipo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CS_MapeoEntidades__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_caso_con_el_porpietario_de_Cobertura_de_reclamaci_n</name>
        <label>Actualiza caso con el propietario de Cobertura de reclamación</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ClaimCoverage__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AsignarCamposCalculados</name>
        <label>Asignar Campos Calculados</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>CS_CodigoQueja__c</field>
            <value>
                <elementReference>codigoQueja</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TipoCaso</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>CS_TipoCasoAsyn</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Asignar_Milestone_por_cambio_de_estado</name>
        <label>Asignar Milestone por cambio de estado</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <flowName>CS_SetMilestoneByChangeStatus</flowName>
        <inputAssignments>
            <name>var_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Asignar_tutela_y_requerimientos_juridicos_a_cola_de_Secretaria_General</name>
        <label>Asignar tutela y requerimientos jurídicos a cola de Secretaria General</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <flowName>CS_Asignar_Tutelas_y_Requerimientos_Juridicos_a_Secretar_a_General</flowName>
        <inputAssignments>
            <name>CS_Caso</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>envioExitoso</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
