force-app/main/default/flows/CS_CallEngineRulesAPI_Sub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnginesClaimRequestVT</name>
        <label>EnginesClaimRequestVT</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <actionName>CSIntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>inputParams</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>IP_EnginesClaimRequestVT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CSIntegrationProcedureInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_input_params</name>
        <label>Assign input params</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>inputParams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>isFirstCallParam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>isManualCallParam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>claimIdParam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParams</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>coverageIdParam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnginesClaimRequestVT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_gereal_params</name>
        <label>Set gereal params</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>claimIdParam.paramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClaimId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimIdParam.paramValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetClaimCoverage.ClaimId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coverageIdParam.paramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClaimCoverageId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coverageIdParam.paramValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isFirstCallParam.paramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>isFirstCall</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isFirstCallParam.paramValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isManualCallParam.paramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>isManualCall</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isManualCallParam.paramValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidateSubEstatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFirstSubStatus</name>
        <label>SetFirstSubStatus</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>isFirstCallParam.paramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>isFirstCall</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isFirstCallParam.paramValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Is_manual_call</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Is_manual_call</name>
        <label>Check Is manual call</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Assign_input_params</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_manual_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_input_params</targetReference>
            </connector>
            <label>Is manual call</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateConditions</name>
        <label>Validate Conditions</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>UpdateCoverageEstatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Integration_Engine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClaimCoverage.CS_InsurancePolicy__r.CS_Ramo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Desempleo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetClaimCoverageReserveDetail.CS_ReserveAmount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetClaimCoverage.CS_MotorsInsured__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Objetado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_gereal_params</targetReference>
            </connector>
            <label>Call Integration Engine</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateSubEstatus</name>
        <label>ValidateSubEstatus</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Check_Is_manual_call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newRecord.CS_FirstCalEnginesAPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFirstSubStatus</targetReference>
            </connector>
            <label>First Call</label>
        </rules>
    </decisions>
    <description>Sub flow para llamar integración de motores de reglas</description>
    <environments>Default</environments>
    <interviewLabel>Call engine rules API {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call engine rules API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetClaimCoverage</name>
        <label>GetClaimCoverage</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClaimCoverageReserveDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimCoverage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClaimCoverageReserveDetail</name>
        <label>GetClaimCoverageReserveDetail</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidateConditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimCoverageId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimCoverageReserveDetail</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCoverageEstatus</name>
        <label>UpdateCoverageEstatus</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClaimCoverage.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_SubStatus__c</field>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Análisis</stringValue>
            </value>
        </inputAssignments>
        <object>ClaimCoverage</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetClaimCoverage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>claimIdParam</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coverageIdParam</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputParams</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isFirstCallParam</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isFirstCallVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isManualCallParam</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClaimCoverage</objectType>
    </variables>
    <variables>
        <name>oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClaimCoverage</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
