force-app/main/default/flows/CS_CallVTRequestAPISub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Integration_Procedure</name>
        <label>Integration Procedure</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>CSIntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>inputParamsVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>IP_ClaimRequestVT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CSIntegrationProcedureInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_claim_param</name>
        <label>Set claim param</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>claimIdParamVar.paramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClaimId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimIdParamVar.paramValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParamsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>claimIdParamVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Integration_Procedure</targetReference>
        </connector>
    </assignments>
    <description>SUb flow para llamar la integración de VT de forma manual</description>
    <environments>Default</environments>
    <interviewLabel>Call VT request API {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call VT request API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_claim_param</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>claimIdParamVar</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputParamsVar</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
