force-app/main/default/flows/CS_CaseCreationFromCoverage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Asigna cola o miembro relacionado a la cola si tiene.</description>
        <name>AssignQueu</name>
        <label>Asignación de cola y usuario de cola</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <actionName>CS_ClaimUtilsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidateAssignUser</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Caso</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringFormat</name>
            <value>
                <elementReference>QueuAssign</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_ClaimUtilsInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendNotification</name>
        <label>Enviar Notificación</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Se_creo_de_una_cobertura</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>{!GetNotification.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserAssign</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Asignación de caso</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendNotificationAssingment</name>
        <label>Enviar Notificación Asignación</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Se_creo_de_una_cobertura</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>{!GetNotificationUser.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserAssign</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Asignación de caso</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Asigna las variables a utilizar</description>
        <name>AssignValue</name>
        <label>Asignación de variables</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Caso</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValidatedAssignQueu</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UserAssignNotification</name>
        <label>Asignación de usuario de notificación</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>UserAssign</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignQueu.stringValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UserAssingmentNotification</name>
        <label>Asignación de usuario de notificación</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UserAssign</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotificationAssingment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Se_creo_de_una_cobertura</name>
        <label>Se creo de una cobertura</label>
        <locationX>336</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Creado_Cobertura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClaimCoverage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFieldCase</targetReference>
            </connector>
            <label>Creado Cobertura</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateAssignUser</name>
        <label>Validar asignación a usuario</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Se_creo_de_una_cobertura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>IsUser</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>AssignQueu.stringValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNotification</targetReference>
            </connector>
            <label>Es usuario</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidatedAssignQueu</name>
        <label>Valida asignación de cola o usuario de cola</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetNotificationUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SendQueu</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignQueu</targetReference>
            </connector>
            <label>Enviar a cola</label>
        </rules>
    </decisions>
    <description>Se ejecuta cuando identifica que es un caso nacido de la cobertura.</description>
    <environments>Default</environments>
    <formulas>
        <name>Asuntopordefecto</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Subject}),
CASE({!$Record.RecordType.Name}, &quot;Gestión de Operaciones&quot;, &quot;Área de Operaciones  - Indemnizaciones - &quot; + {!$Record.Claim__r.ClaimNumber__c}, &quot;Profesional de la Salud&quot;, &quot; Profesional de la salud - Indemnizaciones - &quot; + {!$Record.Claim__r.ClaimNumber__c}, &quot;Firma investigadora&quot;, &quot; Firma Investigadora Indemnizaciones -&quot; + {!$Record.Claim__r.ClaimNumber__c} ,&quot;Area Operaciones Indemnizaciones - {!$Record.Claim__r.ClaimNumber__c}&quot;),
{!$Record.Subject})</expression>
    </formulas>
    <formulas>
        <description>Determina la cola asignar dependiendo del tipo de caso a crear que nace de la cobertura.</description>
        <name>QueuAssign</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.RecordType.Name}, &quot;Gestión de Operaciones&quot;, &quot;Area_Operaciones_Indemnizaciones&quot;, &quot;Profesional de la Salud&quot;, &quot;Profesional_de_la_Salud&quot;, &quot;Firma investigadora&quot;, &quot;Firma_Investigadora&quot;,&quot;Area_Operaciones_Indemnizaciones&quot;)</expression>
    </formulas>
    <interviewLabel>Creación Casos desde Cobertura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación Casos desde Cobertura</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNotification</name>
        <label>Obtener Notificación</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserAssignNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS_NotificationCaseCreatedFromClaimCoverage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationUser</name>
        <label>Obtener Notificación Usuario</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserAssingmentNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS_NotificationCaseCreatedFromClaimCoverage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza campos como Nombre de la cuenta, Indemnización.</description>
        <name>UpdateFieldCase</name>
        <label>Actualizar caso con la información</label>
        <locationX>204</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>CS_CurrenlySinisterDate__c</field>
            <value>
                <elementReference>$Record.ClaimCoverage__r.Claim.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_DepartmentCity__c</field>
            <value>
                <elementReference>$Record.ClaimCoverage__r.Claim.DepartmentCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_EventCause__c</field>
            <value>
                <elementReference>$Record.ClaimCoverage__r.Claim.ClaimReasonType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_EventSubCause__c</field>
            <value>
                <elementReference>$Record.ClaimCoverage__r.Claim.ClaimSubReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Nombre_Reclamante__c</field>
            <value>
                <elementReference>$Record.ClaimCoverage__r.Claim.CS_NombreReclamante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Numero_Identificacion_Reclamante__c</field>
            <value>
                <elementReference>$Record.ClaimCoverage__r.Claim.CS_DocumentoReclamante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_SinisterCity__c</field>
            <value>
                <elementReference>$Record.ClaimCoverage__r.Claim.SinisterCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_TypeClaimantIdentification__c</field>
            <value>
                <elementReference>$Record.ClaimCoverage__r.Claim.CS_TipoDocumentoReclamante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>$Record.ClaimCoverage__r.ClaimId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Asuntopordefecto</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignValue</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gestión de Operaciones</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Firma investigadora</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Profesional de la Salud</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BodyNotification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Se le ha asignado el caso {!$Record.CaseNumber} .</stringValue>
        </value>
    </variables>
    <variables>
        <name>Caso</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UserAssign</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
