force-app/main/default/flows/CS_CreateCaseReplication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CS_NavigateToRecord</name>
        <label>Navigate To Record</label>
        <locationX>380</locationX>
        <locationY>1574</locationY>
        <actionName>c:cs_navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>caseReplication.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:cs_navigateToRecord</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignmentReplicaNumber</name>
        <label>AssignmentReplicaNumber</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CS_GetCase.CS_Numero_de_replicas__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateNumerodeReplicas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssignmentReplicaNumber</name>
        <label>Copy 1 of AssignmentReplicaNumber</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>getParent.CS_Numero_de_replicas__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_UpdateNumerodeReplicas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CS_CaseReplicationAssignment</name>
        <label>Case Replication Assignment</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>caseReplication.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.ContactFax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.ContactFax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.ContactMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.ContactMobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.ContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.ContactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Aceptacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Aceptacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Admision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Admision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_AlertaRojo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_AlertaRojo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_AnexosQueja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_AnexosQueja__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_ArgumentoReplica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_ArgumentoReplica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_AsistenciaCovid19__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_AsistenciaCovid19__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Canal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Canal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_CodigoEntidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_CodigoEntidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Departamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Departamento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Desistimiento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Desistimiento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_EnteControl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_EnteControl__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_EnvioAlertaCasoAnalisis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_EnvioAlertaCasoAnalisis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Escalamientodefensor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Escalamientodefensor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_EstadoQuejaReclamo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_EstadoQuejaReclamo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_EstadoSincronizacionSuperfinanciera__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_EstadoSincronizacionSuperfinanciera__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_EstrategiaM1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_EstrategiaM1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_EstrategiaM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_EstrategiaM2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_FechaActualizacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_FechaActualizacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_FechaCreacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_FechaCreacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_InstanciaRecepcion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_InstanciaRecepcion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_MacroMotivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_MacroMotivo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Marcacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Marcacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_MotivoQuejaInicial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_MotivoQuejaInicial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_MotivoQuejaReclamoSuperM1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_MotivoQuejaReclamoSuperM1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_MotivoQuejaReclamoSuperM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_MotivoQuejaReclamoSuperM2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Municipio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Municipio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Pais__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Pais__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_PasoAtrasado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_PasoAtrasado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_PasosCompletados__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_PasosCompletados__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_ProductoColmenaM1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_ProductoColmenaM1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_ProductoColmenaM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_ProductoColmenaM2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_ProductoDigital__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_ProductoDigital__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_ProductoM1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_ProductoM1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_ProductoM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_ProductoM2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_ProductoNombre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_ProductoNombre__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_QuejaExpres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_QuejaExpres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_RamoM1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_RamoM1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_RamoM2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_RamoM2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_RecordatorioEnviado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_RecordatorioEnviado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Rectificacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Rectificacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Replica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Semaforotexto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Semaforotexto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Submotivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Submotivo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Subtipo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Subtipo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_TextoQueja__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_TextoQueja__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_TiempoGlobalAtencion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_TiempoGlobalAtencion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_TipoEntidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_TipoEntidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Tutela__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Tutela__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_URL_HistoriaClinica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_URL_HistoriaClinica__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_UrlArchivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_UrlArchivo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.IsClosedOnCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.IsClosedOnCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.IsEscalated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.LastModifiedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.SourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.SourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Réplica</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.SuppliedCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.SuppliedCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Tipo_de_replica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_de_Replica</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Juzgado_de_Origen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Juzgado_de_Origen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Fecha_de_radicacion_en_la_Compania__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Fecha_de_radicacion_en_la_Compania__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Numero_radicado_de_tutela__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Numero_radicado_de_tutela__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Tipo_Documento_que_se_radica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Tipo_Documento_que_se_radica__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Medida_provisional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Medida_provisional__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Numero_Poliza_de_seguro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Numero_Poliza_de_seguro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Siniestro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Siniestro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Numero_de_Control_ARL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Numero_de_Control_ARL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Numero_de_ATEL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Numero_de_ATEL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Titulo_de_Capitalizaci_n__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.CS_Titulo_de_Capitalizaci_n__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseReplication.CS_Marcacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_IsParentCaseReplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CS_ParentAssignment</name>
        <label>Parent Assignment</label>
        <locationX>512</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>caseReplication.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_CreateCaseReplication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CS_ReplicationParentCaseAssignment</name>
        <label>Replication Parent Case Assignment</label>
        <locationX>248</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>caseReplication.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_GetCase.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_CreateCaseReplication</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CS_IsParentCaseReplication</name>
        <label>Is Parent Case a replication?</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>CS_ParentAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>CS_IsParentCaseReplication_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CS_GetCase.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_ReplicationParentCaseAssignment</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetParentnotNull</name>
        <label>GetParentnotNull</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>CS_CaseReplicationAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getParent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_AssignmentReplicaNumber</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfIsFirstOrNot</name>
        <label>IfIsFirstOrNot</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>getParent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>excepction_create_replica_caso_abierto</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>CS_GetCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado Atendido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CS_GetCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CS_GetCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Buzon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CS_GetCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Derecho_de_peticion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CS_GetCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Incidente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CS_GetCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Novedad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CS_GetCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja_Superintendencia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CS_GetCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Requerimiento_Juridico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CS_GetCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Solicitud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CS_GetCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Tutela</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pantalla_error_limite_crear_replica</targetReference>
            </connector>
            <label>excepction_create_replica_caso_abierto</label>
        </rules>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CS_GetCase.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentReplicaNumber</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Se adiciona a la primera decisión del flujo, una ruta para los Casos que sea diferente a estado: Cerrado Atendido, no permita crear su Replica.</description>
    <dynamicChoiceSets>
        <name>CS_Tipo_Replica</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CS_Tipo_de_replica__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Calcular 60 días calendario a la Fecha/Hora de Cierre (ClosedDate)</description>
        <name>add_60days_dateclosed</name>
        <dataType>Date</dataType>
        <expression>{!CS_GetCase.ClosedDate} + 60</expression>
    </formulas>
    <interviewLabel>Crear Réplica Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Réplica Caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CS_CreateCaseReplication</name>
        <label>Create Case Replication</label>
        <locationX>380</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>CS_NavigateToRecord</targetReference>
        </connector>
        <inputReference>caseReplication</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CS_GetCase</name>
        <label>Get Case</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MotivoReplicaScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParent</name>
        <label>getParent</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetParentnotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CS_GetCase.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_UpdateNumerodeReplicas</name>
        <label>Copy 1 of UpdateNumerodeReplicas</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>CS_CaseReplicationAssignment</targetReference>
        </connector>
        <inputReference>getParent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNumerodeReplicas</name>
        <label>UpdateNumerodeReplicas</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>CS_CaseReplicationAssignment</targetReference>
        </connector>
        <inputReference>CS_GetCase</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>MotivoReplicaScreen</name>
        <label>Motivo de Réplica</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfIsFirstOrNot</targetReference>
        </connector>
        <fields>
            <name>CS_ArgumentoReplica</name>
            <fieldText>Argumento de la réplica</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo_de_Replica</name>
            <choiceReferences>CS_Tipo_Replica</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Réplica</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CS_GetCase.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CS_Tutela</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>pantalla_error_limite_crear_replica</name>
        <label>pantalla_error_limite_crear_replica</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>alert_exception_60days</name>
            <fieldText>&lt;p&gt;Acción no permitida, no se puede crear una replica a un caso con estado diferente a: Cerrado Atendido.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;En caso de inquietudes, por favor contactar con el Administrador de Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CS_GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseReplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
