force-app/main/default/flows/CS_Crear_Registro_Prorroga.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CS_Asignar_fecha_de_cierre_prorroga_anterior</name>
        <label>Asignar fecha de cierre prórroga anterior</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CS_Obtener_Registro_de_Prorroga_Abierta.CS_Fecha_de_cierre_de_la_prorroga__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_fecha_de_cierre_prorroga_anterior</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CS_Asignar_valores_nueva_prorroga</name>
        <label>Asignar valores nueva prórroga</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>CS_ProrrogaACrear.CS_Estado_de_la_solicitud_de_la_prorroga__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CS_ProrrogaACrear.CS_Usuario_solicitante__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CS_ProrrogaACrear.CS_Fecha_de_solicitud_de_la_Prorroga__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CS_ProrrogaACrear.CS_Numero_de_Caso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CS_Crear_registro_prorroga</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Se valida si existen registros de prórrogas abiertas relacionadas al caso para realizar el cierre de la prórroga anterior</description>
        <name>CS_Tiene_prorrogas_abiertas</name>
        <label>Tiene prórrogas abiertas?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CS_Obtener_Registro_de_Prorroga_Abierta.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Asignar_fecha_de_cierre_prorroga_anterior</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Crear Registro Prórroga {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Registro Prórroga</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CS_Crear_registro_prorroga</name>
        <label>Crear registro prórroga</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>CS_Obtener_Registro_de_Prorroga_Abierta</targetReference>
        </connector>
        <inputReference>CS_ProrrogaACrear</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CS_Obtener_Registro_de_Prorroga_Abierta</name>
        <label>Obtener Registro de Prórroga Abierta</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CS_Tiene_prorrogas_abiertas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CS_Numero_de_Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CS_Fecha_de_cierre_de_la_prorroga__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_Estado_de_la_solicitud_de_la_prorroga__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_Estado_de_la_solicitud_de_la_prorroga__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CS_Prorroga__c</object>
        <sortField>CS_Fecha_de_cierre_de_la_prorroga__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_fecha_de_cierre_prorroga_anterior</name>
        <label>Actualizar fecha de cierre prórroga anterior</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputReference>CS_Obtener_Registro_de_Prorroga_Abierta</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CS_Asignar_valores_nueva_prorroga</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CS_ProrrogaAutorizada__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_ProrrogaAutorizada__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CS_ProrrogaACrear</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CS_Prorroga__c</objectType>
    </variables>
</Flow>
