force-app/main/default/flows/CS_CaseBeforeUpdate_FormulariosSLE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>assignBusinessGroup_Cerromatoso</name>
        <label>assignBusinessGroup_Cerromatoso</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.BusinessGroupAssignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValueBusinessGroup_Cerromatoso</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignBusinessGroup_Hidrocarburos</name>
        <label>assignBusinessGroup_Hidrocarburos</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.BusinessGroupAssignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValueBusinessGroup_Hidrocarburos</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckRulesDataRequired</name>
        <label>CheckRulesDataRequired</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isComplete</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) AND (5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nuevo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PolicyParticipant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PolicyParticipant__r.InsurancePolicy.NameInsuredId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidateAssignType</targetReference>
            </connector>
            <label>isComplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateAssignType</name>
        <label>ValidateAssignType</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isHidrocarburos</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PolicyParticipant__r.InsurancePolicy.NameInsured.Industry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PolicyParticipant__r.InsurancePolicy.NameInsured.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hidrocarburos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PolicyParticipant__r.InsurancePolicy.NameInsured.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hidrocarburos nivel i</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PolicyParticipant__r.InsurancePolicy.NameInsured.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hidrocarburos nivel ii</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignBusinessGroup_Hidrocarburos</targetReference>
            </connector>
            <label>isHidrocarburos</label>
        </rules>
        <rules>
            <name>isCerromatoso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PolicyParticipant__r.InsurancePolicy.NameInsured.CS_Holding__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PolicyParticipant__r.InsurancePolicy.NameInsured.CS_Holding__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.labelAccountHoldingIsCerromatoso</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignBusinessGroup_Cerromatoso</targetReference>
            </connector>
            <label>isCerromatoso</label>
        </rules>
    </decisions>
    <description>Flujo antes de guardar para los casos de tipo Formulario de SLE</description>
    <environments>Default</environments>
    <interviewLabel>Case BeforeUpdate Formularios SLE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case BeforeUpdate Formularios SLE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckRulesDataRequired</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Formulario&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ValueBusinessGroup_Cerromatoso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cerromatoso</stringValue>
        </value>
    </variables>
    <variables>
        <name>ValueBusinessGroup_Hidrocarburos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hidrocarburos</stringValue>
        </value>
    </variables>
</Flow>
