force-app/main/default/flows/CS_Claim_Coverage_Payment_Detail_After_Update_Restrictive_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invocador de Clase para consulta de Servicio de Listas Restrictivas.</description>
        <name>RestrictiveListsClaimParticipant</name>
        <label>RestrictiveListsClaimParticipant</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>RestrictiveListsClaimParticipant</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asignar_analista_de_Consulta_al_Participante</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputStrings</name>
            <value>
                <elementReference>$Record.ClaimParticipantRecipientId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RestrictiveListsClaimParticipant</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Claim Coverage Payment Detail - After Update - Restrictive List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Coverage Payment Detail - After Update - Restrictive List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Asignar_analista_de_Consulta_al_Participante</name>
        <label>Asignar analista de Consulta al Participante</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CS_ResponsibleAnalyst__c</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ClaimParticipantRecipient</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RestrictiveListsClaimParticipant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proceso de Pago VT</stringValue>
            </value>
        </filters>
        <object>ClaimCoveragePaymentDetail</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
