force-app/main/default/flows/CS_ClaimCoverageStatusFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_new_coverage_status</name>
        <label>Set new coverage status</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_Claim_Coverage.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_NewStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Claim_Coverage.CS_SubStatus__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Save_Claim_Coverage_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pagado_Status</name>
        <label>Set Pagado Status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CS_NewStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pagado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Claim_Coverage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pago_Parcial_Status</name>
        <label>Set Pago Parcial Status</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CS_NewStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pago Parcial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Claim_Coverage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status</name>
        <label>Set new Varaibles (Status, Sub-Status, Owner)</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Claim_Coverage_Analisis.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Analisis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Claim_Coverage_Analisis.CS_SubStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rechazo del Pagador</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Claim_Coverage_Analisis.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim_Coverage_Analisis.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Claim_Coverage_Analisis</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Validar el nuevo estado que se debe aplicar a la covertura</description>
        <name>Nuevo_estado_covertura</name>
        <label>Nuevo estado covertura</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Pagado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClaimCoverage.CS_PaidValue__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ClaimCoverage.CS_CompensationValue__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pagado_Status</targetReference>
            </connector>
            <label>Pagado</label>
        </rules>
        <rules>
            <name>Pago_Parcial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClaimCoverage.CS_PaidValue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClaimCoverage.CS_PaidValue__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ClaimCoverage.CS_CompensationValue__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pago_Parcial_Status</targetReference>
            </connector>
            <label>Pago Parcial</label>
        </rules>
        <rules>
            <name>Analisis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.CS_Pagador</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pago No Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claim_Coverage_Analisis</targetReference>
            </connector>
            <label>Analisis</label>
        </rules>
    </decisions>
    <description>Maneja los estados del Objecto Claim Coverage segun acciones del pago</description>
    <environments>Default</environments>
    <interviewLabel>Maquina {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClaimCoverageStatusFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Claim_Coverage</name>
        <label>Get Claim Coverage</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_new_coverage_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ClaimCoverageId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimCoverage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claim_Coverage_Analisis</name>
        <label>Get Claim Coverage Analisis</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ClaimCoverageId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimCoverage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Claim_Coverage_Status</name>
        <label>Save Claim Coverage Status</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Save_new_status</targetReference>
        </connector>
        <inputReference>Get_Claim_Coverage</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_new_status</name>
        <label>Save new status</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>CS_SubStatus__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>CS_NewStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ClaimCoverage</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Claim_Coverage_Analisis</name>
        <label>Update Claim Coverage Analisis</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputReference>Get_Claim_Coverage_Analisis</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Nuevo_estado_covertura</targetReference>
        </connector>
        <object>ClaimCoveragePaymentDetail</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>New value for the coverage</description>
        <name>CS_NewStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
