force-app/main/default/flows/CS_Dias_Habiles_Tentativos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Dias habiles entre fecha tentativa y fecha real de cierre</description>
        <name>Dias_Habiles</name>
        <label>Dias Habiles</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>CS_GetWorkingDaysBetweenDates_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateFieldDiasHabiles</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>finalDate</name>
            <value>
                <elementReference>$Record.ClosedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialDate</name>
            <value>
                <elementReference>$Record.CS_FechaTentativaDeCierre__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_GetWorkingDaysBetweenDates_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>isClosed</name>
        <label>isClosed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_FechaTentativaDeCierre__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dias_Habiles</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>este flujo se encarga de calcular los dias habiles que hay entre la fecha de cierre y la fecha tentativa de cierre donde el valor es positivo si la fecha tentativa de cierre es primero que la fecha real de cierre</description>
    <environments>Default</environments>
    <interviewLabel>CS Dias Habiles Tentativos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS Dias Habiles Tentativos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateFieldDiasHabiles</name>
        <label>UpdateFieldDiasHabiles</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CS_Dias_Habiles_Cierre__c</field>
            <value>
                <elementReference>Dias_Habiles.cantidadDias</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isClosed</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
