force-app/main/default/flows/CS_EnviarEncuestaCorreo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CS_EnviarCorreoCapitalizadora</name>
        <label>EnviarEncuestaCapitalizadora</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Case.CS_EncuestaAtencionClientesCapitalizadora</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_ActualizarFlagRecordatorioEnviado</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_EncuestaAtencionClientesCapitalizadora</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_EnviarEncuestaRL</name>
        <label>EnviarEncuestaRL</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>Case.CS_EncuestaAtencionClientesRL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_ActualizarFlagRecordatorioEnviado_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_EncuestaAtencionClientesRL</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_EnviarEncuestaSG</name>
        <label>EnviarEncuestaSG</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <actionName>Case.CS_EncuestaAtencionClientesSG</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_Actualizar_flag_recordatorio_enviado_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_EncuestaAtencionClientesSG</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_EnviarEncuestaSV</name>
        <label>EnviarEncuestaSV</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>Case.CS_EncuestaAtencionClientesSV</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_ActualizarFlagRecordatorioEnviado_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_EncuestaAtencionClientesSV</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EnviarEncuestaCapitalizadoraCS</name>
        <label>EnviarEncuestaCapitalizadoraCS</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Case.CS_EncuestaAtencionClientesCapitalizadoraCS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_ActualizarFlagRecordatorioEnviado</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_EncuestaAtencionClientesCapitalizadoraCS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EnviarEncuestaRLCS</name>
        <label>EnviarEncuestaRLCS</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>Case.CS_EncuestaAtencionClientesRLCS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_ActualizarFlagRecordatorioEnviado_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_EncuestaAtencionClientesRLCS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EnviarEncuestaSGCS</name>
        <label>EnviarEncuestaSGCS</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <actionName>Case.CS_EncuestaAtencionClientesSGCS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_Actualizar_flag_recordatorio_enviado_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_EncuestaAtencionClientesSGCS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EnviarEncuestaSVCS</name>
        <label>EnviarEncuestaSVCS</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <actionName>Case.CS_EncuestaAtencionClientesSVCS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_ActualizarFlagRecordatorioEnviado_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_EncuestaAtencionClientesSVCS</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>RequerimientoJuridico</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Requerimiento Jurídico</stringValue>
        </value>
    </constants>
    <constants>
        <name>Tutela</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tutela</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CS_ValidarSubTipoCaso</name>
        <label>Validar sub tipo de caso</label>
        <locationX>1172</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>EsClienteDistinto</defaultConnectorLabel>
        <rules>
            <name>CS_EsClienteCapitalizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidarCaso_Queja</targetReference>
            </connector>
            <label>EsClienteCapitalizadora</label>
        </rules>
        <rules>
            <name>CS_EsClienteRL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidarCaso_Queja_1</targetReference>
            </connector>
            <label>EsClienteRL</label>
        </rules>
        <rules>
            <name>CS_EsClienteCV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidarCaso_Queja_2</targetReference>
            </connector>
            <label>EsClienteSV</label>
        </rules>
        <rules>
            <name>CS_EsClienteSG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidarCaso_Queja_4</targetReference>
            </connector>
            <label>EsClienteSG</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_caso</name>
        <label>Tipo de caso</label>
        <locationX>347</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CS_ValidarSubTipoCaso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otros tipos de caso</defaultConnectorLabel>
        <rules>
            <name>Tutelas_o_Requerimientos_Juridicos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RequerimientoJuridico</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tutela</elementReference>
                </rightValue>
            </conditions>
            <label>Tutelas o Requerimientos Juridicos</label>
        </rules>
        <rules>
            <name>Caso_de_SLE_Formulario_agendamiento_interno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario</stringValue>
                </rightValue>
            </conditions>
            <label>Caso de SLE Formulario agendamiento interno</label>
        </rules>
    </decisions>
    <decisions>
        <description>Dependiendo si es un caso o una queja se envía su respectiva notificación</description>
        <name>ValidarCaso_Queja</name>
        <label>ValidarCaso-Queja</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>EnviarEncuestaCapitalizadoraCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Queja</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja_Superintendencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarCorreoCapitalizadora</targetReference>
            </connector>
            <label>Queja</label>
        </rules>
    </decisions>
    <decisions>
        <description>Dependiendo si es un caso o una queja se envía su respectiva notificación</description>
        <name>ValidarCaso_Queja_1</name>
        <label>ValidarCaso-Queja</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>EnviarEncuestaRLCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Queja_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja_Superintendencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarEncuestaRL</targetReference>
            </connector>
            <label>Queja</label>
        </rules>
    </decisions>
    <decisions>
        <description>Dependiendo si es un caso o una queja se envía su respectiva notificación</description>
        <name>ValidarCaso_Queja_2</name>
        <label>ValidarCaso-Queja</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>EnviarEncuestaSVCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Queja_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja_Superintendencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarEncuestaSV</targetReference>
            </connector>
            <label>Queja</label>
        </rules>
    </decisions>
    <decisions>
        <description>Dependiendo si es un caso o una queja se envía respectiva notificación.</description>
        <name>ValidarCaso_Queja_4</name>
        <label>ValidarCaso-Queja</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>EnviarEncuestaSGCS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Queja_4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Queja_Superintendencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarEncuestaSG</targetReference>
            </connector>
            <label>Queja</label>
        </rules>
    </decisions>
    <description>flujo con los dos tipos caso y queja - Se agrega flujo para Seguros Generales.</description>
    <environments>Default</environments>
    <interviewLabel>CS_Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enviar encuesta por correo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>CS_Actualizar_flag_recordatorio_enviado_4</name>
        <label>Actualizar flag recordatorio enviado</label>
        <locationX>1766</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>CS_RecordatorioEnviado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CS_ActualizarFlagRecordatorioEnviado</name>
        <label>Actualizar flag recordatorio enviado</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>CS_RecordatorioEnviado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CS_ActualizarFlagRecordatorioEnviado_0</name>
        <label>Actualizar flag recordatorio enviado</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>CS_RecordatorioEnviado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CS_ActualizarFlagRecordatorioEnviado_0_0</name>
        <label>Actualizar flag recordatorio enviado</label>
        <locationX>1238</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>CS_RecordatorioEnviado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_caso</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 6) AND 4 AND 5</filterLogic>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrado Atendido</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_RecordatorioEnviado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
