force-app/main/default/flows/CS_EnviarAlertaVencimientoCaso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CS_EnviarAlertaColmenaCapitalizadora</name>
        <label>Enviar alerta colmena capitalizadora</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <actionName>Case.CS_CasoVencidoCapitalizadora</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoVencidoCapitalizadora</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_EnviarAlertaRiesgosLaborales</name>
        <label>Enviar alerta de riesgos laborales</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>Case.CS_CasoVencidoRL</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoVencidoRL</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_EnviarAlertaSegurosGenerales</name>
        <label>Enviar alerta de seguros generales</label>
        <locationX>842</locationX>
        <locationY>468</locationY>
        <actionName>Case.CS_Caso_Vencido_SG</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_Caso_Vencido_SG</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_EnviarAlertaSegurosVida</name>
        <label>Enviar alerta seguros vida</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <actionName>Case.CS_CasoVencidoSV</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoVencidoSV</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CS_EnviarNotificacionPorDefecto</name>
        <label>Enviar Notificación Por Defecto</label>
        <locationX>1106</locationX>
        <locationY>468</locationY>
        <actionName>Case.CS_CasoVencidoRL</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoVencidoRL</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>CS_EnviarAlertaDeVencimiento</name>
        <label>Enviar alerta de vencimiento</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>CS_EnviarNotificacionPorDefecto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CS_RiesgosLaborales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarAlertaRiesgosLaborales</targetReference>
            </connector>
            <label>Riesgos Laborales</label>
        </rules>
        <rules>
            <name>CS_SegurosVida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarAlertaSegurosVida</targetReference>
            </connector>
            <label>Seguros vida</label>
        </rules>
        <rules>
            <name>CS_ColmenaCapitalizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarAlertaColmenaCapitalizadora</targetReference>
            </connector>
            <label>Colmena capitalizadora</label>
        </rules>
        <rules>
            <name>CS_Seguros_Generales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_EnviarAlertaSegurosGenerales</targetReference>
            </connector>
            <label>Seguros Generales</label>
        </rules>
    </decisions>
    <description>Se incluye en el flujo la alerta para Seguros Generales.</description>
    <environments>Default</environments>
    <interviewLabel>Enviar alerta de vencimiento de caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enviar alerta de vencimiento de caso N9</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>CS_ActualizarEstado</name>
        <label>Actualizar estado</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>CS_EnviarAlertaDeVencimiento</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CS_ActualizarEstado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CS_VencioFechaTentativaAtencion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrado Atendido</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrado Inactivo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prórroga</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pendiente fallo de Tutela</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Resultado segundo fallo de Tutela</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-22</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
