force-app/main/default/flows/CS_ProrrogaDiasHabiles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CS_ObtenerDiasDabilesEntreFechas</name>
        <label>Obtener días hábiles entre fechas</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>CS_GetWorkingDaysBetweenDates_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CS_ActualizarDiasTranscurridos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>finalDate</name>
            <value>
                <elementReference>$Record.CS_Fecha_de_cierre_de_la_prorroga__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialDate</name>
            <value>
                <elementReference>$Record.CS_Fecha_tentativa_de_cierre__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_GetWorkingDaysBetweenDates_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <description>Flow que se encarga de invocar la clase apex que toma en cuenta los holidays para calclular una fecha tentaiva de cierre en la prorroga</description>
    <environments>Default</environments>
    <interviewLabel>Prorroga Dias hábiles fecha tentativa y cierre {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prorroga Dias hábiles fecha tentativa y cierre</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>CS_ActualizarDiasTranscurridos</name>
        <label>Actualizar Días Transcurridos</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>CS_Dias_habiles_tentativo_cierre__c</field>
            <value>
                <elementReference>CS_ObtenerDiasDabilesEntreFechas.cantidadDias</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CS_ObtenerDiasDabilesEntreFechas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CS_Fecha_tentativa_de_cierre__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_Fecha_de_cierre_de_la_prorroga__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CS_Prorroga__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
