force-app/main/default/flows/CS_SetClaimCoverageQueueGeneric.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Asigment_User_of_Queue</name>
        <label>Asigment User of Queue</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>CS_ClaimUtilsInvocable</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>ClaimCoverage</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>ClaimCoverage</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>coverages</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stringFormat</name>
            <value>
                <elementReference>Get_Queue.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_ClaimUtilsInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Asigment_Claim_Coverage</name>
        <label>Asigment Claim Coverage</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>coverages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asigment_User_of_Queue</targetReference>
        </connector>
    </assignments>
    <description>Se realiza modificaci칩n en la inicializaci칩n del flujo, pasando de An치lisis a Abierto a petici칩n de cliente.</description>
    <environments>Default</environments>
    <interviewLabel>Set Claim Coverage Queue Generic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Claim Coverage Queue Generic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigment_Claim_Coverage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CS_UnidentifiedClaimCoverage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abierto</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_NumberOfSinisterVT__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COBERTURA GENERICA</stringValue>
            </value>
        </filters>
        <object>ClaimCoverage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coverages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClaimCoverage</objectType>
    </variables>
</Flow>
