force-app/main/default/flows/CS_SubFlow_CreateAutomaticAlert_from_InsurancePolicyParticipant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>setAlert</name>
        <label>setAlert</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Alert_temp.FinServ__Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAlerts.FinServ__Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert_temp.ModuloSLE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAlerts.ModuloSLE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert_temp.FinServ__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAlerts.FinServ__Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert_temp.InsurancePolicyParticipant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TriggerRecord_InsurancePolicyParticipant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert_temp.FinServ__Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAlerts.FinServ__Severity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAlerts_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAlerts_collection</name>
        <label>setAlerts_collection</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Alerts_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Alert_temp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAlerts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Exist_Alerts</name>
        <label>Check Exist Alerts</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>ThereAreaRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAlerts_FromThe_InsurancePolicy</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAlerts</targetReference>
            </connector>
            <label>ThereAreaRecords</label>
        </rules>
    </decisions>
    <description>Se añadió condición para las Alertas por tipo de registro: &apos;LEAlerts&apos; y se añade el campo &lt;FinServ__Severity__c&gt; a las nuevas Alertas.</description>
    <environments>Default</environments>
    <interviewLabel>SubFlow Crear Alerta Automática desde Participante de Poliza {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow Crear Alerta LE Automática desde Participante de Póliza</label>
    <loops>
        <name>LoopAlerts</name>
        <label>LoopAlerts</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>getAlerts_FromThe_InsurancePolicy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setAlert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Alerts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Alerts</name>
        <label>Create Alerts</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <inputReference>Alerts_collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAlerts_FromThe_InsurancePolicy</name>
        <label>getAlerts_FromThe_InsurancePolicy</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Exist_Alerts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Insurance_Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TriggerRecord_InsurancePolicyParticipant.InsurancePolicy.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRecordTypeId_AlertLE.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__Alert__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__Message__c</queriedFields>
        <queriedFields>ModuloSLE__c</queriedFields>
        <queriedFields>FinServ__Active__c</queriedFields>
        <queriedFields>FinServ__Insurance_Policy__c</queriedFields>
        <queriedFields>FinServ__Severity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId_AlertLE</name>
        <label>getRecordTypeId_AlertLE</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAlerts_FromThe_InsurancePolicy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FinServ__Alert__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LEAlerts</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordTypeId_AlertLE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Alert_temp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Alert__c</objectType>
    </variables>
    <variables>
        <name>Alerts_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__Alert__c</objectType>
    </variables>
    <variables>
        <name>TriggerRecord_InsurancePolicyParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>InsurancePolicyParticipant</objectType>
    </variables>
</Flow>
