force-app/main/default/flows/CS_SendEmailChangeStatusClaimCoverage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailObjection</name>
        <label>Envio de correo Objecion</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>ClaimCoverage.CS_SendEmailGroundObjectionClaimCoverage</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreatingEmailMessageObjection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClaimCoverage.CS_SendEmailGroundObjectionClaimCoverage</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendingMailWaitingForDocuments</name>
        <label>Envio de correo en espera de documentos</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>ClaimCoverage.SendEmailStatusInSuspendedClaimCoverage</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailMessageCreationSuspended</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClaimCoverage.SendEmailStatusInSuspendedClaimCoverage</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>ChangeStatus</name>
        <label>Cambio de estados</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Objetado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Objetado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailObjection</targetReference>
            </connector>
            <label>Objetado</label>
        </rules>
        <rules>
            <name>Suspendido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspendido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_SubStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentos solicitados</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendingMailWaitingForDocuments</targetReference>
            </connector>
            <label>Suspendido</label>
        </rules>
    </decisions>
    <description>Envia corro por cambio de estado.</description>
    <environments>Default</environments>
    <interviewLabel>Envio de Correo de Cambio Estado Cobertura de Reclamación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envio de Correo de Cambio Estado Cobertura de Reclamación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatingEmailMessageObjection</name>
        <label>Creacion Mensaje de Correo Electronico - Objecion</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>No responder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>htmlBodyObjected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varClaimCoverageSubjectFiledClaimObjected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.CS_ClaimEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidatedFromAddress</field>
            <value>
                <stringValue>no-responder@ext.colmenaseguros.com</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>EmailMessageCreationSuspended</name>
        <label>Creacion Mensaje de Correo Electronico - Suspendido</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Dates_Coveraga</targetReference>
        </connector>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>No responder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>htmlBodySuspended</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varClaimCoverageSubjectToTemplateSuspended</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.CS_ClaimEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidatedFromAddress</field>
            <value>
                <stringValue>no-responder@ext.colmenaseguros.com</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Dates_Coveraga</name>
        <label>Update Dates Coveraga</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>CS_DateStatusChange__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstNotificationDateWaitingForDocument__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastNotificationDateWaitingForDocument__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChangeStatus</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Objetado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suspendido</stringValue>
            </value>
        </filters>
        <object>ClaimCoverage</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>htmlBodyObjected</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 151, 174); font-family: Arial, Helvetica, sans-serif; font-size: 20px;&quot;&gt;Proceso de Indemnizaciones&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;Señor&amp;nbsp;{!varClaimCoverageClaimantRequestingClaim},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Agradecemos el tiempo que tomó para acercarse a nuestra compañía mediante la solicitud&amp;nbsp;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;{!varClaimCoverageFiledClaim}&lt;/strong&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;. Al respecto, debemos manifestarle lo siguiente:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Una vez realizada la validación de la información que soportan el caso, hemos definido una comunicación de objeción para el amparo&amp;nbsp;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;{!varClaimCoverageName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;&amp;nbsp;del número de póliza&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!varClaimCoverageInsurancePolicy}&lt;/strong&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;&amp;nbsp;por esta causal “&lt;/span&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!varGroundObjection}&lt;/strong&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;”.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;{!varDescriptionOfObjectionReason}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;Por favor no responda a esta dirección de correo electrónico, no le estamos haciendo seguimiento. Si desea remitir información adicional o si tiene un requerimiento sobre la solicitud, podrá enviárnosla a través de&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.colmenaseguros.com/solicita-tu-indemnizacion&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;Colmena Seguros - Solicita tu indemnización en Colmena&lt;/a&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;&amp;nbsp;en la opción Retomar y haciendo referencia al número de radicado citado en el asunto.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102);&quot;&gt;Queremos informarle que nuestro defensor del consumidor financiero es Andrés Augusto Garavito Colmenares y el defensor suplente es César Alejandro Pérez Hamilton.&amp;nbsp;&amp;nbsp;Puede comunicarse con él en Bogotá a los teléfonos: (601) 2131370 - 2131322, celular 321 9240479 - 323 2322934 - 323 2322911, Correo electrónico:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:defensordelconsumidorfinancierovida@colmenaseguros.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;&lt;em&gt;defensordelconsumidorfinancierovida@colmenaseguros.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;color: rgb(102, 102, 102); font-family: Arial, Helvetica, sans-serif; font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/em&gt;&lt;span style=&quot;color: rgb(102, 102, 102);&quot;&gt;&amp;nbsp;o a la avenida 19 No. 114 - 09 Of. 502.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Colmena Seguros, adelante valientes&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Atentamente,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Gerencia de Indemnizaciones Colmena Seguros&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>htmlBodySuspended</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 151, 174);&quot;&gt;Proceso de Indemnizaciones&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Apreciado cliente,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Agradecemos el tiempo que tomó para acercarse a nuestra compañía mediante la solicitud que fue presentada.&amp;nbsp;Al respecto, amablemente le informamos que para continuar el análisis es necesario obtener los siguientes documentos:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varClaimCoverageMissingDocuments}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;La siguiente información será de su utilidad:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Una vez obtenga la documentación solicitada, podrá enviárnosla a través de&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.colmenaseguros.com/seguros-personas/Paginas/reclamacion-siniestros.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;https://www.colmenaseguros.com/seguros-personas/Paginas/reclamacion-siniestros.aspx&lt;/a&gt;&lt;span style=&quot;font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt; color: rgb(102, 102, 102);&quot;&gt;en la opción&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt; color: rgb(102, 102, 102);&quot;&gt;adjuntar información de una solicitud anterior&lt;/em&gt;&lt;span style=&quot;font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt; color: rgb(102, 102, 102);&quot;&gt;&amp;nbsp;y haciendo referencia al número de siniestro citado en el asunto.&lt;/span&gt;&amp;nbsp;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Aunque tiene un máximo de dos años para enviar la documentación solicitada, queremos resaltar que estamos comprometidos en resolver el caso lo más pronto posible, por lo que le sugerimos enviar la documentación a la mayor brevedad, para poder definir la solicitud en los mejores términos.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Por favor no responda a esta dirección de correo electrónico, no le estamos haciendo seguimiento&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Queremos informarle que nuestro defensor del consumidor financiero es Andrés Augusto Garavito Colmenares y el defensor suplente es César Alejandro Pérez Hamilton.&amp;nbsp;Puede comunicarse con él en Bogotá a los teléfonos: (601) 2131370 - 2131322, celular 321 9240479 - 323 2322934 - 323 2322911, Correo electrónico:&amp;nbsp;&lt;/em&gt;&lt;a href=&quot;mailto:defensordelconsumidorfinancierovida@colmenaseguros.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 99, 193); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;defensordelconsumidorfinancierovida@colmenaseguros.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&amp;nbsp;o a la avenida 19 No. 114 - 09 Of. 502.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Colmena Seguros, adelante valientes&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Atentamente,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Gerencia de Indemnizaciones Colmena Seguros&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varClaimCoverageClaimantRequestingClaim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CS_ClaimantRequestingClaim__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoverageFiledClaim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CS_FiledClaim__r.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoverageInsurancePolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CS_InsurancePolicy__r.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoverageMissingDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CS_MissingDocuments__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoverageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CS_ClaimText__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoverageSubjectFiledClaimObjected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Estado Solicitud de Indemnización N° {!$Record.CS_ClaimText__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>varClaimCoverageSubjectToTemplateSuspended</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Subject_to_template__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDescriptionOfObjectionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CS_DescriptionOfObjectionReason__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varGroundObjection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CS_GroundObjection__c</elementReference>
        </value>
    </variables>
</Flow>
