force-app/main/default/flows/encuesta_colmena_de_satisfacci_n_consulta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_f26d2e16_7f7c_4e46_8cf6_1a7f8ffee658</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_03166125_8ac2_4ae6_a361_fc656867ef25</name>
        <choiceText>Utilidad de la informaci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utilidad de la información</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_05035084_5447_42ec_ae08_5a672e675995</name>
        <choiceText>Nada Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0820836e_6a23_42a3_8bbb_59485c294c24</name>
        <choiceText>Claridad de la informaci&amp;oacute;n suministrada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claridad de la información suministrada</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0b20a368_99c3_4892_b3dc_47d78d5e5a4b</name>
        <choiceText>Muy Dif&amp;iacute;cil</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2cb63799_8b46_4a0e_bfc8_64ca9d4cb802</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_30f775f4_ad25_4eec_942e_7cb52fb2609e</name>
        <choiceText>Oportunidad en la entrega de informaci&amp;oacute;n</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oportunidad en la entrega de información</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5b8330fa_a7bf_430d_839b_e5543ef72f4b</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_625e7479_d379_465e_9907_b712f5cfe487</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_640895e2_b452_41b7_9128_ef960d42d95a</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6633612f_ecfb_4d8b_9636_95285a22d4b9</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_84cb180e_551b_43e6_b62c_0eb87d7685a8</name>
        <choiceText>Muy F&amp;aacute;cil</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_95904ba2_889c_4168_8564_29bc155ee4d9</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bd7b1994_e0d8_43e8_a0cf_e2d72ff2477a</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Encuesta Colmena de Satisfacción Consulta</interviewLabel>
    <label>Encuesta Colmena de Satisfacción Consulta</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_encuesta_colmena_de_satisfacci_bfbc2107_4b9b_408e_a69b_c03c87566385</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_f26d2e16_7f7c_4e46_8cf6_1a7f8ffee658</name>
        <label>Página 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a61463d8_bdbd_4125_a988_3762d7b47917_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_a61463d8_bdbd_4125_a988_3762d7b47917</name>
            <choiceReferences>c_05035084_5447_42ec_ae08_5a672e675995</choiceReferences>
            <choiceReferences>c_2cb63799_8b46_4a0e_bfc8_64ca9d4cb802</choiceReferences>
            <choiceReferences>c_5b8330fa_a7bf_430d_839b_e5543ef72f4b</choiceReferences>
            <choiceReferences>c_625e7479_d379_465e_9907_b712f5cfe487</choiceReferences>
            <choiceReferences>c_95904ba2_889c_4168_8564_29bc155ee4d9</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿Cuál es su nivel de satisfacción durante el proceso de venta de su seguro?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fac6c798_98cb_4501_9a49_c5d3f7607af6</name>
            <choiceReferences>c_30f775f4_ad25_4eec_942e_7cb52fb2609e</choiceReferences>
            <choiceReferences>c_0820836e_6a23_42a3_8bbb_59485c294c24</choiceReferences>
            <choiceReferences>c_03166125_8ac2_4ae6_a361_fc656867ef25</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿A qué se debe esta calificación?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5c1ccb85_f113_4309_bfe8_270290ca090b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsColorCodeEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <name>q_5c1ccb85_f113_4309_bfe8_270290ca090b</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿Recomendaría a Colmena Seguros de Vida a un familiar o amigo?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_c2c38596_253a_45b9_b617_6ab51e49a1c0_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_c2c38596_253a_45b9_b617_6ab51e49a1c0</name>
            <choiceReferences>c_0b20a368_99c3_4892_b3dc_47d78d5e5a4b</choiceReferences>
            <choiceReferences>c_bd7b1994_e0d8_43e8_a0cf_e2d72ff2477a</choiceReferences>
            <choiceReferences>c_6633612f_ecfb_4d8b_9636_95285a22d4b9</choiceReferences>
            <choiceReferences>c_640895e2_b452_41b7_9128_ef960d42d95a</choiceReferences>
            <choiceReferences>c_84cb180e_551b_43e6_b62c_0eb87d7685a8</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿Qué tan fácil fue para usted adquirir el seguro?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_686459e7_c793_4b82_b2f4_1c559ed3debc</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¡Para terminar!&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;font-size: medium;&quot;&gt;Escribe los comentarios que nos quieras compartir&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Página de bienvenida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_f26d2e16_7f7c_4e46_8cf6_1a7f8ffee658</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 16px;&quot;&gt;Muchas gracias por participar recuerda que puedes contactarnos en nuestra página&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://www.colmenaseguros.com/Paginas/default.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 16px;&quot;&gt;&lt;strong&gt;https://www.colmenaseguros.com/Paginas/default.aspx&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://colmenaseguros.file.force.com/file-asset-public/Footer_RL101?oid=00DNq000002OUBt&amp;amp;v=1&quot; alt=&quot;Footer_RL101&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://colmenaseguros.file.force.com/file-asset-public/Header_SDV051?oid=00DNq000002OUBt&amp;amp;v=1&quot; alt=&quot;Header_SDV051&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Para Colmena Seguros S.A. es muy importante conocer tu opinión, por eso te invitamos a contestar las siguientes preguntas…&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_5c1ccb85_f113_4309_bfe8_270290ca090b_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_a61463d8_bdbd_4125_a988_3762d7b47917_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_c2c38596_253a_45b9_b617_6ab51e49a1c0_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
