force-app/main/default/flows/encuesta_actividades_de_prevenci_n.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_1f591da3_64b8_45b4_a441_1ddd4b37afb3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_ab70139f_135b_4d23_a6cd_1bba2e7eb5e1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_b3ce0873_ff89_44a8_934f_4f5569f85537</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_11c52302_bed0_405d_84cd_5656f4c5eced</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1812e544_8fb9_46de_a053_6f4aa97844b4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1d1ec13d_c00b_40cb_9fee_558036c915f4</name>
        <choiceText>Muy poco esfuerzo</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_75cd0353_6a6f_494f_be30_b72e6d625ebf</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bd803c9a_2ffc_4381_985f_ac7e302d0926</name>
        <choiceText>S&amp;iacute; autoriza</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí autoriza</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cb20fa75_6941_49a4_9ccb_db2c3f0d37aa</name>
        <choiceText>No autoriza</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No autoriza</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d60f4174_28ca_4fa7_91e1_3218da2b4fc7</name>
        <choiceText>Muy alto esfuerzo</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Encuesta Actividades de Prevención</interviewLabel>
    <label>Encuesta Actividades de Prevención</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_1f591da3_64b8_45b4_a441_1ddd4b37afb3</name>
        <label>Indicadores generales</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ab70139f_135b_4d23_a6cd_1bba2e7eb5e1</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_ca14a9a8_a642_458a_8630_36161221f74d_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ca14a9a8_a642_458a_8630_36161221f74d</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;Teniendo en cuenta su experiencia en general, en una escala de&lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt; 0 &lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;a&lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt; 10&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;: ¿Qué tan probable es que usted recomiende a &lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;Colmena Seguros&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt; a un amigo, familiar o compañero de trabajo?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Donde 0 es NADA PROBABLE y 10 es MUY PROBABLE</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_01d3433a_0ce9_470b_ad11_80e07a8bccc7_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_01d3433a_0ce9_470b_ad11_80e07a8bccc7</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;En escala de &lt;/span&gt;&lt;b style=&quot;font-size: 10pt;&quot;&gt;0 &lt;/b&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;a &lt;/span&gt;&lt;b style=&quot;font-size: 10pt;&quot;&gt;4&lt;/b&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;, donde &lt;/span&gt;&lt;b style=&quot;font-size: 10pt;&quot;&gt;0&lt;/b&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt; es &lt;/span&gt;&lt;b style=&quot;font-size: 10pt;&quot;&gt;totalmente insatisfecho&lt;/b&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt; y &lt;/span&gt;&lt;b style=&quot;font-size: 10pt;&quot;&gt;4&lt;/b&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt; es &lt;/span&gt;&lt;b style=&quot;font-size: 10pt;&quot;&gt;totalmente satisfecho&lt;/b&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;, en términos generales, ¿qué tan satisfecho se encuentra con el desarrollo de las actividades de prevención desarrolladas por la Unidad de Prevención de &lt;/span&gt;&lt;b style=&quot;font-size: 10pt;&quot;&gt;Colmena Seguros en los últimos meses&lt;/b&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1c2d2c0b_0387_45f7_86d2_4c202e5658e4</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Calibri, sans-serif;&quot;&gt;Si califica 0 a 2: ¿Cuál es el principal motivo por el cual no brinda una calificación superior?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>CSAT</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_01d3433a_0ce9_470b_ad11_80e07a8bccc7</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_248be434_0d3d_4d24_994c_24a4b0ecbc92</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 10pt; font-family: Calibri, sans-serif;&quot;&gt;Si califica 3: ¿Qué tendría que hacer &lt;/b&gt;&lt;span style=&quot;font-size: 10pt; font-family: Calibri, sans-serif;&quot;&gt;Colmena Seguros&lt;/span&gt;&lt;b style=&quot;font-size: 10pt; font-family: Calibri, sans-serif;&quot;&gt; para que usted le asignara una calificación más alta? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>CSAT</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_01d3433a_0ce9_470b_ad11_80e07a8bccc7</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_380fc0a6_6a48_4509_9cc6_d0ee443a8c7c</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Calibri, sans-serif;&quot;&gt;Si califica &lt;/span&gt;&lt;b style=&quot;font-size: 10pt; font-family: Calibri, sans-serif;&quot;&gt;4&lt;/b&gt;&lt;span style=&quot;font-size: 10pt; font-family: Calibri, sans-serif;&quot;&gt;: ¿Cuál es, específicamente, la razón por la cual&amp;nbsp;usted&amp;nbsp;da esta calificación? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>CSAT</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_01d3433a_0ce9_470b_ad11_80e07a8bccc7</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_8cfc3be1_043a_41a8_bb06_8165c5331134_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8cfc3be1_043a_41a8_bb06_8165c5331134</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Calibri, sans-serif;&quot;&gt;¿En comparación con las actividades desarrolladas con la red tradicional de proveedores como califica la realización de las actividades por parte de Unidad de Prevención de Colmena Seguros? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>0 totalmente insatisfecho y 5 totalmente satisfecho</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d8aa1102_403f_4a8f_add9_f5544de338d3_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d8aa1102_403f_4a8f_add9_f5544de338d3</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;El acompañamiento realizado por los consultores de la unidad de prevención aporto en la implementación efectiva de los programas desarrollados…&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>En escala de 0 a 4, donde 4 significa “excelente” y 0 significa “pésimo”, vamos a calificar las siguientes características relacionadas con las actividades de prevención que desarrollo la unidad de Prevención de Colmena Seguros.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_948d7769_894c_4719_9e56_344e989b3af7_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_948d7769_894c_4719_9e56_344e989b3af7</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;La &lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;oportunidad &lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;en la&lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt; atención de los consultores de la unidad de prevención para dar respuesta a sus inquietudes/solicitudes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>En escala de 0 a 4, donde 4 significa “excelente” y 0 significa “pésimo”, vamos a calificar las siguientes características relacionadas con las actividades de prevención que desarrollo la unidad de Prevención de Colmena Seguros.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b84a4942_fb3b_4e86_8881_3b659757e3a8_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b84a4942_fb3b_4e86_8881_3b659757e3a8</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;La innovación en la prestación de los Servicio por parte de la Unidad de prevención Colmena RL (&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>En escala de 0 a 4, donde 4 significa “excelente” y 0 significa “pésimo”, vamos a calificar las siguientes características relacionadas con las actividades de prevención que desarrollo la unidad de Prevención de Colmena Seguros.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_13d0ad79_8877_49dd_9f0b_f3ed441b9955_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_13d0ad79_8877_49dd_9f0b_f3ed441b9955</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;La innovación frente a las herramientas y productos empleados por la unidad de prevención.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>En escala de 0 a 4, donde 4 significa “excelente” y 0 significa “pésimo”, vamos a calificar las siguientes características relacionadas con las actividades de prevención que desarrollo la unidad de Prevención de Colmena Seguros.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a916dab6_91b4_4401_82d8_b87cba709af5_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a916dab6_91b4_4401_82d8_b87cba709af5</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;La &lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;oportunidad&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt; en la entrega de los soportes e informes de las actividades desarrolladas por los consultores de la unidad de prevención. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>En escala de 0 a 4, donde 4 significa “excelente” y 0 significa “pésimo”, vamos a calificar las siguientes características relacionadas con las actividades de prevención que desarrollo la unidad de Prevención de Colmena Seguros.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ab70139f_135b_4d23_a6cd_1bba2e7eb5e1</name>
        <label>CES</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_b3ce0873_ff89_44a8_934f_4f5569f85537</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_33e0d26b_82f9_4e98_a581_e50cdc83dad1_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_33e0d26b_82f9_4e98_a581_e50cdc83dad1</name>
            <choiceReferences>c_1d1ec13d_c00b_40cb_9fee_558036c915f4</choiceReferences>
            <choiceReferences>c_11c52302_bed0_405d_84cd_5656f4c5eced</choiceReferences>
            <choiceReferences>c_75cd0353_6a6f_494f_be30_b72e6d625ebf</choiceReferences>
            <choiceReferences>c_1812e544_8fb9_46de_a053_6f4aa97844b4</choiceReferences>
            <choiceReferences>c_d60f4174_28ca_4fa7_91e1_3218da2b4fc7</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;¿Qué tanto esfuerzo personal le generó realizar las actividades de prevención a través de la unidad de Prevención con &lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;Colmena Seguros&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d02de2ee_8a11_47de_a4a1_aba7aaa8fc44</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;¿Por qué motivo da esta calificación?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_33e0d26b_82f9_4e98_a581_e50cdc83dad1</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>c_75cd0353_6a6f_494f_be30_b72e6d625ebf</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b3ce0873_ff89_44a8_934f_4f5569f85537</name>
        <label>Observaciones y sugerencias</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2a52a5c1_4c83_4e44_9170_9ad4ae50e00a</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;¿Tiene usted alguna sugerencia? O ¿Qué le gustaría cambiar del servicio prestado para mejorar la experiencia en una futura oportunidad? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_530031fa_a1f5_452f_ae5d_d426ff6c38a6</name>
            <choiceReferences>c_bd803c9a_2ffc_4381_985f_ac7e302d0926</choiceReferences>
            <choiceReferences>c_cb20fa75_6941_49a4_9ccb_db2c3f0d37aa</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;Sr(a) le recuerdo que la información brindada por usted será utilizada internamente por &lt;/span&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt;Colmena Seguros,&lt;/b&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 10pt;&quot;&gt; con el objetivo de mejorar la atención a sus clientes. ¿Nos autorizaría eventualmente, a identificar sus opiniones si así se requiere? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Página de bienvenida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_1f591da3_64b8_45b4_a441_1ddd4b37afb3</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Gracias.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Hola.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;La siguiente encuesta es para i&lt;/b&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;dentificar la experiencia de cliente de Riesgos Laborales frente a las actividades de Prevención Desarrolladas por la unidad de prevención.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_01d3433a_0ce9_470b_ad11_80e07a8bccc7_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_13d0ad79_8877_49dd_9f0b_f3ed441b9955_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_33e0d26b_82f9_4e98_a581_e50cdc83dad1_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_8cfc3be1_043a_41a8_bb06_8165c5331134_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_948d7769_894c_4719_9e56_344e989b3af7_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_a916dab6_91b4_4401_82d8_b87cba709af5_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_b84a4942_fb3b_4e86_8881_3b659757e3a8_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_ca14a9a8_a642_458a_8630_36161221f74d_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_d8aa1102_403f_4a8f_add9_f5544de338d3_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
