force-app/main/default/flows/encuesta_colmena_capitalizadora_atenci_n_a_clientes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_83ef87dd_f8bd_49ac_b227_7881070f6cb3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_dc9b8799_1613_4f0b_a27f_14b6eb701480</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_35688ca8_73e0_48ef_8bb1_b644908ddf23</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_08d3daf9_3eaa_4a94_9565_64d0c74146b3</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0b381e6a_c589_43a0_868c_4c4329dc654a</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1b484c12_cb89_4dc1_a8fe_807bfaf9d6b7</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2220eb80_a69d_43c1_8990_acc82f08221a</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2d4d2775_891c_420a_800a_943b8eec0a23</name>
        <choiceText>No satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_32223982_83ba_4c48_8954_f7ec5e360b65</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_325f8c0f_609b_4f2b_80ec_8301160be46c</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_327eb2a9_b90c_448c_97bb_30fceec1f859</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3ce830a5_85c7_41ba_bc4c_dcacb82b705a</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_53beae4e_8875_445b_b708_1793a325e820</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5457eb9e_f2cb_42d7_b961_2ed22a1fcbbb</name>
        <choiceText>No satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7be11266_9a47_4b1d_a3c0_0b501e7aef04</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_abe17add_d786_46f6_b3cb_21aaf5ee958f</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ada9414f_42ad_4dd5_9b43_f060046fd739</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ae8669c1_1672_46c2_8282_74c775f4445b</name>
        <choiceText>No satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c2fa51c9_07b8_4174_8742_7d9aa518de17</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e274bd5f_d717_4ee0_8e06_7fd4d6e4547d</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e40c7550_c424_4b28_90c1_524368478b00</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e59e8a95_5bcf_42fe_9c6d_c9055b81aabf</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fc94eb30_746d_4030_865d_ff3d046dfad5</name>
        <choiceText>No satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Encuesta Colmena Capitalizadora Atención a Clientes</interviewLabel>
    <label>Encuesta Colmena Capitalizadora Atención a Clientes</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_encuesta_colmena_capitalizador_10229d8b_de51_4e73_8337_ee023ca96f83</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_35688ca8_73e0_48ef_8bb1_b644908ddf23</name>
        <label>Página 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_3b606ab8_042e_407b_bfb0_24a199274cf9_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_3b606ab8_042e_407b_bfb0_24a199274cf9</name>
            <choiceReferences>c_2d4d2775_891c_420a_800a_943b8eec0a23</choiceReferences>
            <choiceReferences>c_7be11266_9a47_4b1d_a3c0_0b501e7aef04</choiceReferences>
            <choiceReferences>c_e40c7550_c424_4b28_90c1_524368478b00</choiceReferences>
            <choiceReferences>c_08d3daf9_3eaa_4a94_9565_64d0c74146b3</choiceReferences>
            <choiceReferences>c_1b484c12_cb89_4dc1_a8fe_807bfaf9d6b7</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;¿Qué tan fácil fue para ti realizar la radicación de tu queja?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e3e5868f_db48_47d4_89cf_a32be449fe84</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Para terminar, ¿Tienes algún comentario o sugerencia adicional que nos quieras compartir?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_83ef87dd_f8bd_49ac_b227_7881070f6cb3</name>
        <label>Página 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_dc9b8799_1613_4f0b_a27f_14b6eb701480</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_7246e512_acd2_490e_b569_0cd8f6a61555_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7246e512_acd2_490e_b569_0cd8f6a61555</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;¿Qué tan probable es que recomiendes a Colmena Seguros a un familiar o amigo?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_879a3667_39a3_4740_8f47_5af66bd42f0b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_879a3667_39a3_4740_8f47_5af66bd42f0b</name>
            <choiceReferences>c_5457eb9e_f2cb_42d7_b961_2ed22a1fcbbb</choiceReferences>
            <choiceReferences>c_53beae4e_8875_445b_b708_1793a325e820</choiceReferences>
            <choiceReferences>c_0b381e6a_c589_43a0_868c_4c4329dc654a</choiceReferences>
            <choiceReferences>c_abe17add_d786_46f6_b3cb_21aaf5ee958f</choiceReferences>
            <choiceReferences>c_32223982_83ba_4c48_8954_f7ec5e360b65</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;¿Qué tan satisfecho estás con el proceso de atención que ha brindado Colmena Seguros a tu queja?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_dc9b8799_1613_4f0b_a27f_14b6eb701480</name>
        <label>Página 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_35688ca8_73e0_48ef_8bb1_b644908ddf23</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_13fc4ad1_980a_44bc_ab0c_a32e42069b15_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_13fc4ad1_980a_44bc_ab0c_a32e42069b15</name>
            <choiceReferences>c_ae8669c1_1672_46c2_8282_74c775f4445b</choiceReferences>
            <choiceReferences>c_c2fa51c9_07b8_4174_8742_7d9aa518de17</choiceReferences>
            <choiceReferences>c_e274bd5f_d717_4ee0_8e06_7fd4d6e4547d</choiceReferences>
            <choiceReferences>c_325f8c0f_609b_4f2b_80ec_8301160be46c</choiceReferences>
            <choiceReferences>c_3ce830a5_85c7_41ba_bc4c_dcacb82b705a</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;¿La respuesta a tu queja fue clara?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_2687bc0f_201c_4c6c_912b_8d82cb32b623_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_2687bc0f_201c_4c6c_912b_8d82cb32b623</name>
            <choiceReferences>c_fc94eb30_746d_4030_865d_ff3d046dfad5</choiceReferences>
            <choiceReferences>c_ada9414f_42ad_4dd5_9b43_f060046fd739</choiceReferences>
            <choiceReferences>c_327eb2a9_b90c_448c_97bb_30fceec1f859</choiceReferences>
            <choiceReferences>c_2220eb80_a69d_43c1_8990_acc82f08221a</choiceReferences>
            <choiceReferences>c_e59e8a95_5bcf_42fe_9c6d_c9055b81aabf</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;¿Se cumplieron los tiempos de respuesta que te informamos al momento de radicar tu queja?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Página de bienvenida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_83ef87dd_f8bd_49ac_b227_7881070f6cb3</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 15px;&quot;&gt;En Colmena Seguros estamos comprometidos con nuestra política de calidad y servicio de &quot;Satisfacer a nuestros clientes con un servicio integral de excelente calidad&quot;, estamos siempre a su disposición para resolver sus inquietudes y requerimientos.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 15px;&quot;&gt;Cordial saludo,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Colmena Seguros&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://colmenaseguros--dev--c.documentforce.com/file-asset-public/Mailings_cs613?oid=00D52000000L70d&amp;amp;v=1&quot; alt=&quot;Mailings_cs6-13&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://colmenaseguros--dev--c.documentforce.com/file-asset-public/Mailings_cs611?oid=00D52000000L70d&amp;amp;v=1&quot; alt=&quot;Mailings_cs6-11&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Cordial saludo.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Tu opinión es muy importante ya que nos permite continuar fortaleciendo y mejorando nuestro proceso de atención.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_13fc4ad1_980a_44bc_ab0c_a32e42069b15_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_2687bc0f_201c_4c6c_912b_8d82cb32b623_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_3b606ab8_042e_407b_bfb0_24a199274cf9_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_7246e512_acd2_490e_b569_0cd8f6a61555_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_879a3667_39a3_4740_8f47_5af66bd42f0b_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
