force-app/main/default/flows/encuesta_colmena_seguros_generales_atenci_n_a_clientes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_9e549960_7560_44df_9968_76b27f229eec</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_fe05c06a_b6ae_4fa6_a686_491645357096</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_4278b8cb_68b9_44bd_b3bb_41229986f58c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_00cdedfe_f422_4d12_9a67_6eb8bfd12684</name>
        <choiceText>No Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_02e5b1ea_2bf5_4375_9e91_e447427663df</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_067275f5_9e60_4bd5_8c4b_6e5f1b9c9728</name>
        <choiceText>No Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_15e73a98_1ebe_4538_bfe1_cfd3aace2815</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_17a67e05_6f79_4205_8ad6_fe651eac66e4</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1de4205d_519e_4ad7_9c51_04c5b6457e4b</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5cbb5084_56ab_4c0e_b2cc_60b438d2b5e2</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_66205c8f_b2f2_4c7b_9205_a33b6d32979e</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7d1938ce_592d_45d6_90b1_110e93b1e6e4</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_92802e37_1002_4cbf_9039_e1d47f09522e</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9c2121b8_768d_463a_a936_3d20be50ede3</name>
        <choiceText>No Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a1b0f2d5_0440_40e5_b756_50c13fc74162</name>
        <choiceText>No Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a2723ce4_caa4_41ae_9e50_66a1d21427b5</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a32c57fd_d706_4663_845d_6c9d40f73ddf</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a7b20355_9b22_428b_81b0_d7772c36646c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_afda1569_9ebc_46e3_8f17_e12991bb69e5</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c53e4ebd_a35e_40b6_a22f_384c91342a46</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e3a9521e_5a2b_4671_b5ed_398c9ffda008</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f79c2d06_2ad3_4b52_8324_2584b86e131d</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fd50ecf4_68b7_47f1_b39a_e66d2a30b990</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Encuesta Colmena Seguros Generales Atención a Clientes</interviewLabel>
    <label>Encuesta Colmena Seguros Generales Atención a Clientes</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_encuesta_colmena_seguros_gener_91f08cc0_9309_4c69_b2c0_696252d8f292</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_4278b8cb_68b9_44bd_b3bb_41229986f58c</name>
        <label>Página 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_1cbf85f0_cfd3_4616_8d9d_b311975b9d1e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1cbf85f0_cfd3_4616_8d9d_b311975b9d1e</name>
            <choiceReferences>c_9c2121b8_768d_463a_a936_3d20be50ede3</choiceReferences>
            <choiceReferences>c_17a67e05_6f79_4205_8ad6_fe651eac66e4</choiceReferences>
            <choiceReferences>c_f79c2d06_2ad3_4b52_8324_2584b86e131d</choiceReferences>
            <choiceReferences>c_fd50ecf4_68b7_47f1_b39a_e66d2a30b990</choiceReferences>
            <choiceReferences>c_e3a9521e_5a2b_4671_b5ed_398c9ffda008</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿Qué tan fácil fue para ti realizar la radicación de tu queja?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a8787ca6_2fb9_48f3_800e_98de1fd5ce96</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Para terminar, ¿Tienes algún comentario o sugerencia adicional que nos quieras compartir?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausar</pauseButtonLabel>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_9e549960_7560_44df_9968_76b27f229eec</name>
        <label>Página 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>p_fe05c06a_b6ae_4fa6_a686_491645357096</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_9d7778ca_f9ca_4a87_b9cc_9fec7fcdd876_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsColorCodeEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <name>q_9d7778ca_f9ca_4a87_b9cc_9fec7fcdd876</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿Qué tan probable es que recomiendes a Colmena Seguros a un familiar o amigo?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f7be2506_9bda_4d4a_bc03_407b37f104b7_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f7be2506_9bda_4d4a_bc03_407b37f104b7</name>
            <choiceReferences>c_a1b0f2d5_0440_40e5_b756_50c13fc74162</choiceReferences>
            <choiceReferences>c_a7b20355_9b22_428b_81b0_d7772c36646c</choiceReferences>
            <choiceReferences>c_5cbb5084_56ab_4c0e_b2cc_60b438d2b5e2</choiceReferences>
            <choiceReferences>c_02e5b1ea_2bf5_4375_9e91_e447427663df</choiceReferences>
            <choiceReferences>c_15e73a98_1ebe_4538_bfe1_cfd3aace2815</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿Qué tan satisfecho estás con el proceso de atención que ha brindado Colmena Seguros a tu queja?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausar</pauseButtonLabel>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_fe05c06a_b6ae_4fa6_a686_491645357096</name>
        <label>Página 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>p_4278b8cb_68b9_44bd_b3bb_41229986f58c</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_ddf4a9e0_ea33_407c_9a93_8f1d8fd7244c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ddf4a9e0_ea33_407c_9a93_8f1d8fd7244c</name>
            <choiceReferences>c_067275f5_9e60_4bd5_8c4b_6e5f1b9c9728</choiceReferences>
            <choiceReferences>c_c53e4ebd_a35e_40b6_a22f_384c91342a46</choiceReferences>
            <choiceReferences>c_66205c8f_b2f2_4c7b_9205_a33b6d32979e</choiceReferences>
            <choiceReferences>c_afda1569_9ebc_46e3_8f17_e12991bb69e5</choiceReferences>
            <choiceReferences>c_7d1938ce_592d_45d6_90b1_110e93b1e6e4</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿La respuesta a tu queja fue clara?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_8eba985c_ab5a_46b5_be9b_4a280df15274_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8eba985c_ab5a_46b5_be9b_4a280df15274</name>
            <choiceReferences>c_00cdedfe_f422_4d12_9a67_6eb8bfd12684</choiceReferences>
            <choiceReferences>c_92802e37_1002_4cbf_9039_e1d47f09522e</choiceReferences>
            <choiceReferences>c_a2723ce4_caa4_41ae_9e50_66a1d21427b5</choiceReferences>
            <choiceReferences>c_1de4205d_519e_4ad7_9c51_04c5b6457e4b</choiceReferences>
            <choiceReferences>c_a32c57fd_d706_4663_845d_6c9d40f73ddf</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿Se cumplieron los tiempos de respuesta que te informamos al momento de radicar tu queja?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausar</pauseButtonLabel>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Página de bienvenida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_9e549960_7560_44df_9968_76b27f229eec</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 15px; font-family: sans-serif;&quot;&gt;En Colmena Seguros Generales estamos comprometidos con nuestra política de calidad y servicio de &quot;Satisfacer a nuestros clientes con un servicio integral de excelente calidad&quot;, estamos siempre a su disposición para resolver sus inquietudes y requerimientos.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 15px; font-family: sans-serif;&quot;&gt;Cordial saludo,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Colmena Seguros Generales&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Vigilado Superintendencia Financiera de Colombia&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;img src=&quot;https://colmenaseguros.file.force.com/file-asset-public/Footer_SDV071_20241?oid=00DNq000002OUBt&amp;amp;v=1&quot; alt=&quot;Footer_SDV071_2024&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://colmenaseguros.file.force.com/file-asset-public/Header_20241?oid=00DNq000002OUBt&amp;amp;v=1&quot; alt=&quot;Header_2024&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Cordial saludo.&lt;/strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Tu opinión es muy importante ya que nos permite continuar fortaleciendo y mejorando nuestro proceso de atención.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_1cbf85f0_cfd3_4616_8d9d_b311975b9d1e_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_8eba985c_ab5a_46b5_be9b_4a280df15274_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_9d7778ca_f9ca_4a87_b9cc_9fec7fcdd876_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_ddf4a9e0_ea33_407c_9a93_8f1d8fd7244c_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f7be2506_9bda_4d4a_bc03_407b37f104b7_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
