force-app/main/default/flows/Envio_Correo_Codigo_Bot_Buena_Venta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Correo_Codigo</name>
        <label>Correo Código</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Colmena Seguros te hace envío del siguiente código de verificación</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue> &lt;span style=&quot;font-size: 18px&quot;&gt;Hola ¡Tu correo electrónico ha sido autenticado! Tu código de verificación es &lt;b&gt;{!Codigo}&lt;/b&gt;&lt;/span&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Correo_Electronico</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Remitente</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Generacion_de_Codigo</name>
        <label>Generación de Codigo</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>ValidationCodeGenerate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Correo_Codigo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>ValidationCodeGenerate</nameSegment>
        <outputParameters>
            <assignToReference>Codigo</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Envio Correo Codigo Bot Buena Venta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envió Correo Código Bot Buena Venta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generacion_de_Codigo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Codigo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Correo_Electronico</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>julian.velasco@vasslatam.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>Remitente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>servicioalcliente@colmenaseguros.com</stringValue>
        </value>
    </variables>
</Flow>
