force-app/main/default/flows/EnviarNotificacionesCasoN3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnviarAlertaCapitalizadora</name>
        <label>EnviarAlertaCapitalizadora</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.CS_CasoProcesoAtencionCapitalizadora</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_ActualizarFlagEnviarAlerta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoProcesoAtencionCapitalizadora</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EnviarAlertaRL</name>
        <label>EnviarAlertaRL</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Case.CS_CasoProcesoAtencionRL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_ActualizarFlagEnviarAlerta_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoProcesoAtencionRL</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EnviarAlertaSV</name>
        <label>EnviarAlertaSV</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Case.CS_CasoProcesoAtencionSV</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CS_ActualizarFlagEnviarAlerta_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CS_CasoProcesoAtencionSV</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Validar_Sub_Tipo_Caso</name>
        <label>Validar Sub Tipo Caso</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>EsDistinto</defaultConnectorLabel>
        <rules>
            <name>CS_EsClienteCapitalizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnviarAlertaCapitalizadora</targetReference>
            </connector>
            <label>EsClienteCapitalizadora</label>
        </rules>
        <rules>
            <name>CS_EsClienteRL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnviarAlertaRL</targetReference>
            </connector>
            <label>EsClienteRL</label>
        </rules>
        <rules>
            <name>CS_EsClienteSV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Subtipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnviarAlertaSV</targetReference>
            </connector>
            <label>EsClienteSV</label>
        </rules>
    </decisions>
    <description>Enviar notificaciones cuando el estado del caso es &quot;En Analisis&quot; y cumple con 3 valores de subcategorias. SV,RL y Capitalizadora</description>
    <interviewLabel>EnviarNotificacionesCasoN3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EnviarNotificacionesCasoEnAnálisis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>CS_ActualizarFlagEnviarAlerta</name>
        <label>Actualizar flag de enviar alerta</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CS_EnvioAlertaCasoAnalisis__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CS_ActualizarFlagEnviarAlerta_0</name>
        <label>Actualizar flag de enviar alerta</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CS_EnvioAlertaCasoAnalisis__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CS_ActualizarFlagEnviarAlerta_0_0</name>
        <label>Actualizar flag de enviar alerta</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CS_EnvioAlertaCasoAnalisis__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validar_Sub_Tipo_Caso</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_Subtipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Análisis</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_EnvioAlertaCasoAnalisis__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
