force-app/main/default/flows/Flujo_actualiza_tipificacion_de_llamada_SLE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>AcomFamiliarTLM</name>
        <choiceText>Acom. Familiar TLM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acom. Familiar TLM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Actualizaci_n_en_Linea</name>
        <choiceText>Actualización en Linea</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Actualización en Linea</stringValue>
        </value>
    </choices>
    <choices>
        <name>Afiliacion</name>
        <choiceText>Afiliación</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Afiliacion</stringValue>
        </value>
    </choices>
    <choices>
        <name>AfiliacionDeEmpresa</name>
        <choiceText>Afiliación de Empresa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Afiliacion de Empresa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Aplicaci_n_M_vil</name>
        <choiceText>Aplicación Móvil</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aplicación Móvil</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ariba</name>
        <choiceText>Ariba</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ariba</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asesor_a</name>
        <choiceText>Asesoría</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asesoría</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asesoria</name>
        <choiceText>Asesoría</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asesoria</stringValue>
        </value>
    </choices>
    <choices>
        <name>AsignacionOficina</name>
        <choiceText>Asignación Oficina</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asignación Oficina</stringValue>
        </value>
    </choices>
    <choices>
        <name>AsistenciaEnElExterior</name>
        <choiceText>Asistencia en el Exterior</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asistencia en el Exterior</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asistencias_Vida</name>
        <choiceText>Asistencias Vida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asistencias Vida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Atel</name>
        <choiceText>Atel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Atel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Autorizacion</name>
        <choiceText>Autorización</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autorizacion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bases</name>
        <choiceText>Bases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancelaci_n_de_P_lizas</name>
        <choiceText>Cancelación de Pólizas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelación de Polizas</stringValue>
        </value>
    </choices>
    <choices>
        <name>CapitalizadoraModulo</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Capitalizadora&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Capitalizadora</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChatsModulo</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Chats&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chats</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clientepotencial</name>
        <choiceText>Cliente potencial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente potencial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coaseguro</name>
        <choiceText>Coaseguro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coaseguro</stringValue>
        </value>
    </choices>
    <choices>
        <name>Colmenagestion</name>
        <choiceText>Colmena Gestión</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Colmena Gestion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Comunicados</name>
        <choiceText>Comunicados</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comunicados</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coordinacion</name>
        <choiceText>Coordinación</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coordinacion</stringValue>
        </value>
    </choices>
    <choices>
        <name>DatosFinancieros</name>
        <choiceText>Datos Financieros</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Datos Financieros</stringValue>
        </value>
    </choices>
    <choices>
        <name>DerechodepeticionVerbal</name>
        <choiceText>Derecho de peticion verbal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Derecho de peticion verbal</stringValue>
        </value>
    </choices>
    <choices>
        <name>DerechodepeticionverbalC</name>
        <choiceText>Derecho de peticion verbal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Derecho de peticion verbal</stringValue>
        </value>
    </choices>
    <choices>
        <name>DerechodepeticionverbalM</name>
        <choiceText>Derecho de peticion verbal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Derecho de peticion verbal</stringValue>
        </value>
    </choices>
    <choices>
        <name>DerechodepeticionverbalSG</name>
        <choiceText>Derecho de peticion verbal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Derecho de peticion verbal</stringValue>
        </value>
    </choices>
    <choices>
        <name>DerechodepeticionverbalSV</name>
        <choiceText>Derecho de peticion verbal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Derecho de peticion verbal</stringValue>
        </value>
    </choices>
    <choices>
        <name>DesafiliacionesEmpresas</name>
        <choiceText>Desafiliaciones Empresas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desafiliaciones Empresas</stringValue>
        </value>
    </choices>
    <choices>
        <name>FormatoFacil</name>
        <choiceText>Formato Fácil</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Formato Facil</stringValue>
        </value>
    </choices>
    <choices>
        <name>GestionPAC</name>
        <choiceText>Gestión PAC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestión PAC</stringValue>
        </value>
    </choices>
    <choices>
        <name>GestionSADE</name>
        <choiceText>Gestión SADE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestión SADE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incapacidades</name>
        <choiceText>Incapacidades</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incapacidades</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inconsistenciaenpago</name>
        <choiceText>Inconsistencia en Pago</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inconsistencia en Pago</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indemnizaciones</name>
        <choiceText>Indemnizaciones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indemnizaciones</stringValue>
        </value>
    </choices>
    <choices>
        <name>Informacion_General</name>
        <choiceText>Informacion General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informacion General</stringValue>
        </value>
    </choices>
    <choices>
        <name>Informacionbancocajasocial</name>
        <choiceText>Informacion banco caja social</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informacion banco caja social</stringValue>
        </value>
    </choices>
    <choices>
        <name>InformacionGeneral</name>
        <choiceText>Información General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Información General</stringValue>
        </value>
    </choices>
    <choices>
        <name>InformacionyMediosModulo</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Información y Medios&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Información y Medios</stringValue>
        </value>
    </choices>
    <choices>
        <name>Investigacion_De_At</name>
        <choiceText>Investigación De At</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Investigacion De At</stringValue>
        </value>
    </choices>
    <choices>
        <name>Libertyseguros</name>
        <choiceText>Liberty seguros</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Liberty seguros</stringValue>
        </value>
    </choices>
    <choices>
        <name>LlamadasCaidas</name>
        <choiceText>Llamadas Caídas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Llamadas Caidas</stringValue>
        </value>
    </choices>
    <choices>
        <name>LLamadasConManejoEspecial</name>
        <choiceText>Llamadas Con Manejo Especial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Llamadas Con Manejo Especial</stringValue>
        </value>
    </choices>
    <choices>
        <name>MedicalizacionModulo</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Medicalización&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medicalización</stringValue>
        </value>
    </choices>
    <choices>
        <name>novedades</name>
        <choiceText>Novedades</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Novedades</stringValue>
        </value>
    </choices>
    <choices>
        <name>Novedadesdelempleador</name>
        <choiceText>Novedades del empleador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Novedades del empleador</stringValue>
        </value>
    </choices>
    <choices>
        <name>Novedadesdetrabajador</name>
        <choiceText>Novedades de Trabajador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Novedades de Trabajador</stringValue>
        </value>
    </choices>
    <choices>
        <name>Novedadessedes</name>
        <choiceText>Novedades Sedes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Novedades Sedes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opcion5Modulo</name>
        <choiceText>Opcion5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opcion5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oportunidad_de_Mejora</name>
        <choiceText>Oportunidad de Mejora</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oportunidad de Mejora</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oportunidaddemejora</name>
        <choiceText>Oportunidad de mejora</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oportunidad de mejora</stringValue>
        </value>
    </choices>
    <choices>
        <name>OportunidaddeMejoraSV</name>
        <choiceText>Oportunidad de Mejora</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oportunidad de Mejora</stringValue>
        </value>
    </choices>
    <choices>
        <name>OportunidadesdemejoraIyM</name>
        <choiceText>Oportunidades de mejora</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oportunidades de mejora</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlanDeContinuidad</name>
        <choiceText>Plan De Continuidad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plan De Continuidad</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portal</name>
        <choiceText>Portal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portaldeprestador</name>
        <choiceText>Portal de Prestador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portal de Prestador</stringValue>
        </value>
    </choices>
    <choices>
        <name>PortalPpcProveedores</name>
        <choiceText>Portal PPC - Proveedores</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portal PPC - Proveedores</stringValue>
        </value>
    </choices>
    <choices>
        <name>PrevencionModulo</name>
        <choiceText>Prevención</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prevención</stringValue>
        </value>
    </choices>
    <choices>
        <name>Procesos_Deudores</name>
        <choiceText>Procesos Deudores</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Procesos Deudores</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quejas</name>
        <choiceText>Quejas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quejas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Radicacion</name>
        <choiceText>Radicación</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Radicacion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Radicacionderechodepeticionverbal</name>
        <choiceText>Radicacion derecho de peticion verbal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Radicacion derecho de peticion verbal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Radicaciondesolicitudes</name>
        <choiceText>Radicacion de solicitudes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Radicacion de solicitudes</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReclamosyQuejas</name>
        <choiceText>Reclamos y Quejas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reclamos y Quejas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seguros_Generales</name>
        <choiceText>Seguros Generales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seguros Generales</stringValue>
        </value>
    </choices>
    <choices>
        <name>SegurosdeVidaModulo</name>
        <choiceText>Seguros de Vida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seguros de Vida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Servicios_Administrativos</name>
        <choiceText>Servicios Administrativos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicios Administrativos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Servicios_Asistenciales</name>
        <choiceText>Servicios Asistenciales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicios Asistenciales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Servicios_de_Prevenci_n</name>
        <choiceText>Servicios de Prevención</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicios de Prevención</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServiciosAdministrativos</name>
        <choiceText>Servicios Administrativos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicios Administrativos</stringValue>
        </value>
    </choices>
    <choices>
        <description>Servicios de Prevención</description>
        <name>ServiciosdePrevencion</name>
        <choiceText>Servicios de Prevención</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicios de Prevención</stringValue>
        </value>
    </choices>
    <choices>
        <name>ServiciosEconomicos</name>
        <choiceText>Servicios Económicos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicios Económicos</stringValue>
        </value>
    </choices>
    <choices>
        <name>SolicitudServiciosPolizaVida</name>
        <choiceText>Solicitud Servicios Póliza Vida&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitud Servicios Poliza Vida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sorteosinformacion</name>
        <choiceText>Sorteos información</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sorteos información</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sucursales</name>
        <choiceText>Sucursales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sucursales</stringValue>
        </value>
    </choices>
    <choices>
        <name>SuscriptoresFallecidos</name>
        <choiceText>Suscriptores Fallecidos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suscriptores Fallecidos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tramite_Intermediarios</name>
        <choiceText>Tramite Intermediarios</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tramite Intermediarios</stringValue>
        </value>
    </choices>
    <choices>
        <name>TransferenciaDesdeBcs</name>
        <choiceText>Transferencia Desde Bcs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferencia Desde Bcs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transferencias</name>
        <choiceText>Transferencias</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferencias</stringValue>
        </value>
    </choices>
    <choices>
        <name>TransferenciasSG</name>
        <choiceText>Transferencias</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferencias</stringValue>
        </value>
    </choices>
    <choices>
        <name>Validaciondecoberturaempresa</name>
        <choiceText>Validación de Cobertura Empresa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Validacion de Cobertura Empresa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Validaciondecoberturatrabajador</name>
        <choiceText>Validación de Cobertura Trabajador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Validacion de Cobertura Trabajador</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehigrupo</name>
        <choiceText>Vehigrupo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehigrupo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Visual_Time</name>
        <choiceText>Visual Time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visual Time</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Valida_Modulo</name>
        <label>Valida Modulo</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Capitalizadora</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ModuloCapitalizadora</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CapitalizadoraModulo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ModuloOpcion5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CapitalizadoraModulo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Tipificacion_de_llamada</targetReference>
            </connector>
            <label>Capitalizadora</label>
        </rules>
        <rules>
            <name>Chats</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ModuloChats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChatsModulo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ModuloOpcion5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChatsModulo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Tipificaci_n_de_llamada2</targetReference>
            </connector>
            <label>Chats</label>
        </rules>
        <rules>
            <name>Informaci_n_y_Medios</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ModuloInformacionymedios</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InformacionyMediosModulo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ModuloOpcion5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InformacionyMediosModulo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Tipificaci_n_de_llamada3</targetReference>
            </connector>
            <label>Información y Medios</label>
        </rules>
        <rules>
            <name>Medicalizaci_n</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ModuloMedicalizacion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MedicalizacionModulo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ModuloOpcion5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MedicalizacionModulo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Tipificaci_n_de_llamada4</targetReference>
            </connector>
            <label>Medicalización</label>
        </rules>
        <rules>
            <name>Opcion5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ModuloOpcion5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opcion5Modulo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Tipificaci_n_de_llamada5</targetReference>
            </connector>
            <label>Opcion5</label>
        </rules>
        <rules>
            <name>Prevenci_n</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ModuloPrevencion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PrevencionModulo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ModuloOpcion5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PrevencionModulo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Tipificaci_n_de_llamada6</targetReference>
            </connector>
            <label>Prevención</label>
        </rules>
        <rules>
            <name>Seguros_de_Vida</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ModuloSegurosdevida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SegurosdeVidaModulo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ModuloOpcion5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SegurosdeVidaModulo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Tipificaci_n_de_llamada7</targetReference>
            </connector>
            <label>Seguros de Vida</label>
        </rules>
        <rules>
            <name>Seguros_Generales1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Modulosegurosgenerales</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Seguros_Generales</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ModuloOpcion5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Seguros_Generales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Tipificaci_n_de_llamada8</targetReference>
            </connector>
            <label>Seguros Generales</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListaAgrupacion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Agrupacion__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaAgrupacionCapitalizadora</name>
        <dataType>String</dataType>
        <displayField>Agrupacion__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Capitalizadora</stringValue>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <outputAssignments>
            <assignToReference>ValorListaAgrupacionCapitalizadora</assignToReference>
            <field>Agrupacion__c</field>
        </outputAssignments>
        <valueField>Agrupacion__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaAgrupacionChats</name>
        <dataType>String</dataType>
        <displayField>Agrupacion__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chats</stringValue>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <outputAssignments>
            <assignToReference>ValorListaAgrupacionChats</assignToReference>
            <field>Agrupacion__c</field>
        </outputAssignments>
        <valueField>Agrupacion__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaAgrupacionInfoyMedios</name>
        <dataType>String</dataType>
        <displayField>Agrupacion__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Información y Medios</stringValue>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <outputAssignments>
            <assignToReference>ValorListaAgrupacionInformacionyMedios</assignToReference>
            <field>Agrupacion__c</field>
        </outputAssignments>
        <valueField>Agrupacion__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaAgrupacionMedicalizacion</name>
        <dataType>String</dataType>
        <displayField>Agrupacion__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medicalización</stringValue>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <outputAssignments>
            <assignToReference>ValorListaAgrupacionMedicalizacion</assignToReference>
            <field>Agrupacion__c</field>
        </outputAssignments>
        <valueField>Agrupacion__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaAgrupacionOpcion5</name>
        <dataType>String</dataType>
        <displayField>Agrupacion__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opcion5</stringValue>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <outputAssignments>
            <assignToReference>ValorListaAgrupacionOpcion5</assignToReference>
            <field>Agrupacion__c</field>
        </outputAssignments>
        <valueField>Agrupacion__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaAgrupacionPrevencion</name>
        <dataType>String</dataType>
        <displayField>Agrupacion__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prevención</stringValue>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <outputAssignments>
            <assignToReference>ValorListaAgrupacionPrevencion</assignToReference>
            <field>Agrupacion__c</field>
        </outputAssignments>
        <valueField>Agrupacion__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaAgrupacionSegurosdevida</name>
        <dataType>String</dataType>
        <displayField>Agrupacion__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seguros de Vida</stringValue>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <outputAssignments>
            <assignToReference>ValorListaAgrupacionSegurosdeVida</assignToReference>
            <field>Agrupacion__c</field>
        </outputAssignments>
        <valueField>Agrupacion__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaAgrupacionSegurosGenerales</name>
        <dataType>String</dataType>
        <displayField>Agrupacion__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seguros Generales</stringValue>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <outputAssignments>
            <assignToReference>ValorListaAgrupacionSegurosGenerales</assignToReference>
            <field>Agrupacion__c</field>
        </outputAssignments>
        <valueField>Agrupacion__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Listademodulo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modulo__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaRazon</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Razon__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaRazonCapitalizadora</name>
        <dataType>String</dataType>
        <displayField>Razon__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Capitalizadora</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agrupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgrupacionCapitalizadora</elementReference>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <sortField>Razon__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Razon__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaRazonChats</name>
        <dataType>String</dataType>
        <displayField>Razon__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>chats</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agrupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgrupacionChats</elementReference>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <sortField>Razon__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Razon__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaRazonInformacionyMedios</name>
        <dataType>String</dataType>
        <displayField>Razon__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Información y Medios</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agrupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgrupacionInformacionyMedios</elementReference>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <sortField>Razon__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Razon__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaRazonMedicalizacion</name>
        <dataType>String</dataType>
        <displayField>Razon__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medicalización</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agrupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgrupacionMedicalizacion</elementReference>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <sortField>Razon__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Razon__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaRazonOpcion5</name>
        <dataType>String</dataType>
        <displayField>Razon__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opcion5</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agrupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgrupacionOpcion5</elementReference>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <sortField>Razon__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Razon__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaRazonPrevencion</name>
        <dataType>String</dataType>
        <displayField>Razon__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prevención</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agrupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgrupacionPrevencion</elementReference>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <sortField>Razon__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Razon__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaRazonSegurosdeVida</name>
        <dataType>String</dataType>
        <displayField>Razon__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seguros de Vida</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agrupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgrupacionSegurosdeVida</elementReference>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <sortField>Razon__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Razon__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaRazonSegurosGenerales</name>
        <dataType>String</dataType>
        <displayField>Razon__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seguros Generales</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agrupacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgrupacionSegurosGenerales</elementReference>
            </value>
        </filters>
        <object>Matriz_de_Validacion_Tipificacion_SLE__mdt</object>
        <sortField>Razon__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Razon__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Flujo actualiza tipificación de llamada SLE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo actualiza tipificación de llamada SLE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_Id_de_Tarea</name>
        <label>Obtener Id de Tarea</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seleccion_de_modulo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Tipificaci_n_de_llamada2</name>
        <label>Actualiza Tipificación de llamada</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Pantalla_Validacion_identidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>AgrupacionChats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>{!ModuloChats}{!ModuloOpcion5}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>RazonChats</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Tipificaci_n_de_llamada3</name>
        <label>Actualiza Tipificación de llamada</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Pantalla_Validacion_identidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>AgrupacionInformacionyMedios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>{!ModuloInformacionymedios}{!ModuloOpcion5}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>RazonInformacionyMedios</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Tipificaci_n_de_llamada4</name>
        <label>Actualiza Tipificación de llamada</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Pantalla_Validacion_identidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>AgrupacionMedicalizacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>{!ModuloMedicalizacion}{!ModuloOpcion5}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>RazonMedicalizacion</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Tipificaci_n_de_llamada5</name>
        <label>Actualiza Tipificación de llamada</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Pantalla_Validacion_identidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>AgrupacionOpcion5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <elementReference>ModuloOpcion5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>RazonOpcion5</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Tipificaci_n_de_llamada6</name>
        <label>Actualiza Tipificación de llamada</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Pantalla_Validacion_identidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>AgrupacionPrevencion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>{!ModuloPrevencion}{!ModuloOpcion5}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>RazonPrevencion</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Tipificaci_n_de_llamada7</name>
        <label>Actualiza Tipificación de llamada</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Pantalla_Validacion_identidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>AgrupacionSegurosdeVida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>{!ModuloSegurosdevida}{!ModuloOpcion5}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>RazonSegurosdevida</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Tipificaci_n_de_llamada8</name>
        <label>Actualiza Tipificación de llamada</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Pantalla_Validacion_identidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>AgrupacionSegurosGenerales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>{!Modulosegurosgenerales}{!ModuloOpcion5}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>RazonSegurosGenerales</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Tipificacion_de_llamada</name>
        <label>Actualiza Tipificación de llamada</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Pantalla_Validacion_identidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>AgrupacionCapitalizadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>{!ModuloCapitalizadora}{!ModuloOpcion5}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>RazonCapitalizadora</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Pantalla_Validacion_identidad</name>
        <label>Pantalla Validación identidad</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Textofinal</name>
            <fieldText>&lt;p&gt;Se creo la tipificación correctamente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>xperian</name>
            <extensionName>c:VS_ValidateAccountInTask</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selecci_n_de_Agrupaci_n</name>
        <label>Selección de Agrupación</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selecci_n_de_Raz_n</targetReference>
        </connector>
        <fields>
            <name>Titulo2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TIPIFICACIÓN DE LLAMADA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AgrupacionCapitalizadora</name>
            <choiceReferences>AsignacionOficina</choiceReferences>
            <choiceReferences>InformacionGeneral</choiceReferences>
            <choiceReferences>novedades</choiceReferences>
            <choiceReferences>ReclamosyQuejas</choiceReferences>
            <choiceReferences>Sorteosinformacion</choiceReferences>
            <choiceReferences>SuscriptoresFallecidos</choiceReferences>
            <choiceReferences>Transferencias</choiceReferences>
            <choiceReferences>DerechodepeticionverbalC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agrupación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CapitalizadoraModulo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ModuloCapitalizadora</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModuloOpcion5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CapitalizadoraModulo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgrupacionChats</name>
            <choiceReferences>GestionPAC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agrupación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ModuloChats</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Chats</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModuloOpcion5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChatsModulo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgrupacionInformacionyMedios</name>
            <choiceReferences>Afiliacion</choiceReferences>
            <choiceReferences>AfiliacionDeEmpresa</choiceReferences>
            <choiceReferences>Ariba</choiceReferences>
            <choiceReferences>AsistenciaEnElExterior</choiceReferences>
            <choiceReferences>Atel</choiceReferences>
            <choiceReferences>Bases</choiceReferences>
            <choiceReferences>Comunicados</choiceReferences>
            <choiceReferences>DesafiliacionesEmpresas</choiceReferences>
            <choiceReferences>FormatoFacil</choiceReferences>
            <choiceReferences>Incapacidades</choiceReferences>
            <choiceReferences>Inconsistenciaenpago</choiceReferences>
            <choiceReferences>InformacionGeneral</choiceReferences>
            <choiceReferences>LlamadasCaidas</choiceReferences>
            <choiceReferences>Novedadesdetrabajador</choiceReferences>
            <choiceReferences>Novedadesdelempleador</choiceReferences>
            <choiceReferences>Novedadessedes</choiceReferences>
            <choiceReferences>Portal</choiceReferences>
            <choiceReferences>Portaldeprestador</choiceReferences>
            <choiceReferences>PortalPpcProveedores</choiceReferences>
            <choiceReferences>ServiciosAdministrativos</choiceReferences>
            <choiceReferences>ServiciosdePrevencion</choiceReferences>
            <choiceReferences>ServiciosEconomicos</choiceReferences>
            <choiceReferences>SolicitudServiciosPolizaVida</choiceReferences>
            <choiceReferences>Sucursales</choiceReferences>
            <choiceReferences>Transferencias</choiceReferences>
            <choiceReferences>Validaciondecoberturaempresa</choiceReferences>
            <choiceReferences>Validaciondecoberturatrabajador</choiceReferences>
            <choiceReferences>OportunidadesdemejoraIyM</choiceReferences>
            <choiceReferences>Radicacionderechodepeticionverbal</choiceReferences>
            <choiceReferences>Radicaciondesolicitudes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agrupación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ModuloInformacionymedios</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Información y Medios</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModuloOpcion5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>InformacionyMediosModulo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgrupacionMedicalizacion</name>
            <choiceReferences>Asesoria</choiceReferences>
            <choiceReferences>Autorizacion</choiceReferences>
            <choiceReferences>Bases</choiceReferences>
            <choiceReferences>Coordinacion</choiceReferences>
            <choiceReferences>DatosFinancieros</choiceReferences>
            <choiceReferences>LLamadasConManejoEspecial</choiceReferences>
            <choiceReferences>PlanDeContinuidad</choiceReferences>
            <choiceReferences>Radicacion</choiceReferences>
            <choiceReferences>Servicios_Asistenciales</choiceReferences>
            <choiceReferences>TransferenciaDesdeBcs</choiceReferences>
            <choiceReferences>Transferencias</choiceReferences>
            <choiceReferences>DerechodepeticionverbalM</choiceReferences>
            <choiceReferences>Quejas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agrupación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ModuloMedicalizacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Medicalización</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModuloOpcion5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>MedicalizacionModulo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgrupacionOpcion5</name>
            <choiceReferences>Transferencias</choiceReferences>
            <choiceReferences>Seguros_Generales</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agrupación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModuloOpcion5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Opcion5</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgrupacionPrevencion</name>
            <choiceReferences>Asesor_a</choiceReferences>
            <choiceReferences>Investigacion_De_At</choiceReferences>
            <choiceReferences>Oportunidad_de_Mejora</choiceReferences>
            <choiceReferences>Servicios_Administrativos</choiceReferences>
            <choiceReferences>Servicios_de_Prevenci_n</choiceReferences>
            <choiceReferences>Colmenagestion</choiceReferences>
            <choiceReferences>DerechodepeticionVerbal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agrupación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ModuloPrevencion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prevención</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModuloOpcion5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PrevencionModulo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgrupacionSegurosdeVida</name>
            <choiceReferences>Actualizaci_n_en_Linea</choiceReferences>
            <choiceReferences>Aplicaci_n_M_vil</choiceReferences>
            <choiceReferences>Asistencias_Vida</choiceReferences>
            <choiceReferences>Bases</choiceReferences>
            <choiceReferences>Cancelaci_n_de_P_lizas</choiceReferences>
            <choiceReferences>Indemnizaciones</choiceReferences>
            <choiceReferences>InformacionGeneral</choiceReferences>
            <choiceReferences>Visual_Time</choiceReferences>
            <choiceReferences>Procesos_Deudores</choiceReferences>
            <choiceReferences>Tramite_Intermediarios</choiceReferences>
            <choiceReferences>Vehigrupo</choiceReferences>
            <choiceReferences>Transferencias</choiceReferences>
            <choiceReferences>AcomFamiliarTLM</choiceReferences>
            <choiceReferences>GestionSADE</choiceReferences>
            <choiceReferences>Informacionbancocajasocial</choiceReferences>
            <choiceReferences>OportunidaddeMejoraSV</choiceReferences>
            <choiceReferences>DerechodepeticionverbalSV</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agrupación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ModuloSegurosdevida</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Seguros de Vida</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModuloOpcion5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SegurosdeVidaModulo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgrupacionSegurosGenerales</name>
            <choiceReferences>Coaseguro</choiceReferences>
            <choiceReferences>Transferencias</choiceReferences>
            <choiceReferences>Oportunidaddemejora</choiceReferences>
            <choiceReferences>DerechodepeticionverbalSG</choiceReferences>
            <choiceReferences>Clientepotencial</choiceReferences>
            <choiceReferences>Libertyseguros</choiceReferences>
            <choiceReferences>TransferenciasSG</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agrupación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Modulosegurosgenerales</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Seguros Generales</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModuloOpcion5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Seguros_Generales</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selecci_n_de_Raz_n</name>
        <label>Selección de Razón</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Valida_Modulo</targetReference>
        </connector>
        <fields>
            <name>Copia_2_de_Titulo1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TIPIFICACIÓN DE LLAMADA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RazonCapitalizadora</name>
            <choiceReferences>ListaRazonCapitalizadora</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razón</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AgrupacionCapitalizadora</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AgrupacionCapitalizadora</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AgrupacionCapitalizadora</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RazonChats</name>
            <choiceReferences>ListaRazonChats</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razón</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AgrupacionChats</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AgrupacionChats</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AgrupacionChats</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RazonInformacionyMedios</name>
            <choiceReferences>ListaRazonInformacionyMedios</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razón</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AgrupacionInformacionyMedios</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AgrupacionInformacionyMedios</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AgrupacionInformacionyMedios</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RazonMedicalizacion</name>
            <choiceReferences>ListaRazonMedicalizacion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razón</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AgrupacionMedicalizacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AgrupacionMedicalizacion</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AgrupacionMedicalizacion</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RazonOpcion5</name>
            <choiceReferences>ListaRazonOpcion5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razón</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AgrupacionOpcion5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AgrupacionOpcion5</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AgrupacionOpcion5</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RazonPrevencion</name>
            <choiceReferences>ListaRazonPrevencion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razón</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AgrupacionPrevencion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AgrupacionPrevencion</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AgrupacionPrevencion</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RazonSegurosdevida</name>
            <choiceReferences>ListaRazonSegurosdeVida</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razón</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AgrupacionSegurosdeVida</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AgrupacionSegurosdeVida</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AgrupacionSegurosdeVida</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RazonSegurosGenerales</name>
            <choiceReferences>ListaRazonSegurosGenerales</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Razón</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AgrupacionSegurosGenerales</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AgrupacionSegurosGenerales</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AgrupacionSegurosGenerales</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Seleccion_de_modulo</name>
        <label>Selección de modulo</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selecci_n_de_Agrupaci_n</targetReference>
        </connector>
        <fields>
            <name>Titulo1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;TIPIFICACIÓN DE LLAMADA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ModuloCapitalizadora</name>
            <choiceReferences>CapitalizadoraModulo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modulo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtener_Id_de_Tarea.Modulo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Capitalizadora</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ModuloChats</name>
            <choiceReferences>ChatsModulo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modulo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtener_Id_de_Tarea.Modulo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Chats</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ModuloInformacionymedios</name>
            <choiceReferences>InformacionyMediosModulo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modulo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtener_Id_de_Tarea.Modulo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Información y Medios</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ModuloMedicalizacion</name>
            <choiceReferences>MedicalizacionModulo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modulo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtener_Id_de_Tarea.Modulo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Medicalización</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ModuloOpcion5</name>
            <choiceReferences>Opcion5Modulo</choiceReferences>
            <choiceReferences>ChatsModulo</choiceReferences>
            <choiceReferences>InformacionyMediosModulo</choiceReferences>
            <choiceReferences>PrevencionModulo</choiceReferences>
            <choiceReferences>SegurosdeVidaModulo</choiceReferences>
            <choiceReferences>Seguros_Generales</choiceReferences>
            <choiceReferences>MedicalizacionModulo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modulo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtener_Id_de_Tarea.Modulo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Opcion5</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ModuloPrevencion</name>
            <choiceReferences>PrevencionModulo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modulo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtener_Id_de_Tarea.Modulo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prevención</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ModuloSegurosdevida</name>
            <choiceReferences>SegurosdeVidaModulo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modulo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtener_Id_de_Tarea.Modulo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Seguros de Vida</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Modulosegurosgenerales</name>
            <choiceReferences>Seguros_Generales</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Modulo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Obtener_Id_de_Tarea.Modulo__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Seguros Generales</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Id_de_Tarea</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValorListaAgrupacionCapitalizadora</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValorListaAgrupacionChats</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValorListaAgrupacionInformacionyMedios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValorListaAgrupacionMedicalizacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValorListaAgrupacionOpcion5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValorListaAgrupacionPrevencion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValorListaAgrupacionSegurosdeVida</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValorListaAgrupacionSegurosGenerales</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
