force-app/main/default/flows/Flujo_de_agendamiento_SLE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navegar_al_registro_creado</name>
        <label>Navegar al registro creado</label>
        <locationX>721</locationX>
        <locationY>2006</locationY>
        <actionName>c:cs_navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>IdEvento</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:cs_navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>CaseOwner</name>
        <label>Propietario del caso</label>
        <locationX>1405</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ActualCaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_Caso.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsUserAssigned</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Citas</name>
        <choiceText>Citas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Citas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Examenes</name>
        <choiceText>Exámenes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exámenes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Juridico</name>
        <choiceText>Jurídico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jurídico</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>S</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Terapias</name>
        <choiceText>Terapias</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Terapias</stringValue>
        </value>
    </choices>
    <choices>
        <name>Traslados</name>
        <choiceText>Traslados</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Traslados</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urgente</name>
        <choiceText>Urgente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urgente</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ContactDataChange</name>
        <label>Cambio Datos de contacto</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Crear_cita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAppointmentContactData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Formulario_actualizaci_n</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUserAssigned</name>
        <label>Caso asignado a Usuario?</label>
        <locationX>1405</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>CaseOwnerIsnotUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>UserCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualCaseOwner</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verificar_Formulario</targetReference>
            </connector>
            <label>Usuario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_propietario</name>
        <label>¿ Tiene propietario ?</label>
        <locationX>248</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>ContactDataChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_tiene_propietario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Caso.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_propietario</targetReference>
            </connector>
            <label>No tiene propietario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_Actualizacion_de_datos_Cirugia</name>
        <label>Validar Actualización de datos Cirugía</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Crear_agendamiento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Actualizar_Datos_Cirugia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Actualizar_datos_contacto_cirugia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulario_actualizacion_cirugia</targetReference>
            </connector>
            <label>Actualizar Datos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_Formulario</name>
        <label>Validar Formulario</label>
        <locationX>721</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Agendamiento_Traslado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Formulario Traslado</defaultConnectorLabel>
        <rules>
            <name>Formulario_Cita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Caso.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agendamiento_Cita</targetReference>
            </connector>
            <label>Formulario Cita</label>
        </rules>
        <rules>
            <name>Formulario_Cirugia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Caso.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agendamiento_Cirugia</targetReference>
            </connector>
            <label>Formulario Cirugía</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_Formulario</name>
        <label>Verificar Formulario</label>
        <locationX>1089</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Aplica_Agendamiento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Formularios_medicalizacipn</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtiene_Caso.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Caso.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Caso.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Caso.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtiene_Caso.Form_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtiene_Tarea</targetReference>
            </connector>
            <label>Formularios medicalización</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CiudadLista</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Codigo_Ciudad__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Especialidad</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MedicalSpecialties__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MotivoNAS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SLE_MotivosANS__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Valida14dias</name>
        <dataType>Boolean</dataType>
        <expression>{!Fecha_Fin_de_traslado} &lt; ({!InicioTraslado} + 14)</expression>
    </formulas>
    <interviewLabel>Flujo de agendamiento SLE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo de agendamiento SLE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_agendamiento</name>
        <label>Crear agendamiento</label>
        <locationX>886</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>IdEvento</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateSurgeryCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AditionalEmails__c</field>
            <value>
                <elementReference>AditionalSurgeryEmails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agendamiento_SLE__c</field>
            <value>
                <stringValue>Cirugía</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentId__c</field>
            <value>
                <elementReference>Obtiene_Tarea.AgentId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Agrupacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Called__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Called__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller__c</field>
            <value>
                <elementReference>PhoneProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad_SLE__c</field>
            <value>
                <elementReference>CantidadCirugia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CityCall__c</field>
            <value>
                <elementReference>Obtiene_Caso.AssistanceCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_SLE__c</field>
            <value>
                <elementReference>EmailCirugia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>InicioCirugia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>DireccionCirugia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medico_tratante_SLE__c</field>
            <value>
                <elementReference>MedicoTratanteCirugia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Modulo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Caso__c</field>
            <value>
                <elementReference>Obtiene_Caso.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtiene_Caso.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_SLE__c</field>
            <value>
                <elementReference>CelularCirugia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Razon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtiene_RT_Evento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialtiesSLE__c</field>
            <value>
                <elementReference>EspecialidadCirugia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>InicioCirugia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Obtiene_Caso.SchedulingType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_llamada__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Tipo_de_llamada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VS_Reminder_Appointment_Surgery_24h__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VS_Reminder_Appointment_Surgery__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationRigthsNumber__c</field>
            <value>
                <elementReference>RigthsValidationNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Obtiene_Caso.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Obtiene_Caso.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_cita</name>
        <label>Crear cita</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <assignRecordIdToReference>IdEvento</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AditionalEmails__c</field>
            <value>
                <elementReference>AditionalEmails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agendamiento_SLE__c</field>
            <value>
                <stringValue>Cita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentId__c</field>
            <value>
                <elementReference>Obtiene_Tarea.AgentId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Agrupacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Called__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Called__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller__c</field>
            <value>
                <elementReference>ProviderPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cantidad_SLE__c</field>
            <value>
                <elementReference>CantidadCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CityCall__c</field>
            <value>
                <elementReference>Obtiene_Caso.AssistanceCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_SLE__c</field>
            <value>
                <elementReference>EmailCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>InicioCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>DireccionCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medico_tratante_SLE__c</field>
            <value>
                <elementReference>MedicoTratanteCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Modulo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Caso__c</field>
            <value>
                <elementReference>Obtiene_Caso.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtiene_Caso.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_SLE__c</field>
            <value>
                <elementReference>CelularCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quien_Ordena_SLE__c</field>
            <value>
                <elementReference>QuienOrdenaCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Razon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtiene_RT_Evento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLE_MotivosANS__c</field>
            <value>
                <elementReference>Motivo_NAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialtiesSLE__c</field>
            <value>
                <elementReference>EspecilidadCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>InicioCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Obtiene_Caso.SchedulingType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_Agendamiento__c</field>
            <value>
                <elementReference>TipoAgendamientoCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_llamada__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Tipo_de_llamada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VS_Reminder_Appointment_Surgery_24h__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VS_Reminder_Appointment_Surgery__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationRigthsNumber__c</field>
            <value>
                <elementReference>RVNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Obtiene_Caso.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Obtiene_Caso.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Crear_traslado</name>
        <label>Crear traslado</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>IdEvento</assignRecordIdToReference>
        <connector>
            <targetReference>Navegar_al_registro_creado</targetReference>
        </connector>
        <inputAssignments>
            <field>AditionalEmails__c</field>
            <value>
                <elementReference>AditionalTransferEmails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agendamiento_SLE__c</field>
            <value>
                <stringValue>Traslado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentId__c</field>
            <value>
                <elementReference>Obtiene_Tarea.AgentId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Agrupacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Called__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Called__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Caller__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_SLE__c</field>
            <value>
                <elementReference>EmailTraslado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Fecha_Fin_de_traslado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>DireccionTraslado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Modulo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_Caso__c</field>
            <value>
                <elementReference>Obtiene_Caso.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtiene_Caso.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_SLE__c</field>
            <value>
                <elementReference>CelularTraslado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Razon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtiene_RT_Evento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>InicioTraslado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Obtiene_Caso.SchedulingType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_llamada__c</field>
            <value>
                <elementReference>Obtiene_Tarea.Tipo_de_llamada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Obtiene_Caso.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Obtiene_Caso.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>Obtiene_Caso</name>
        <label>Obtiene Caso</label>
        <locationX>1405</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_RT_Evento</name>
        <label>Obtiene RT Evento</label>
        <locationX>721</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validar_Formulario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>scheduling_SLE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Tarea</name>
        <label>Obtiene Tarea</label>
        <locationX>721</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_RT_Evento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_de_Caso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Caso.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Datos_de_Contacto_Cirugia</name>
        <label>Actualizar Datos de Contacto</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Crear_agendamiento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Caso.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NotificationEmail__c</field>
            <value>
                <elementReference>EmailActualizacionCirugia.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationPhone__c</field>
            <value>
                <elementReference>CelularActualizacionCirugia.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAppointmentContactInfo</name>
        <label>Actualizar Datos de Contacto Cita</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Crear_cita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Caso.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NotificationEmail__c</field>
            <value>
                <elementReference>EmailActualizacionCita.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationPhone__c</field>
            <value>
                <elementReference>CelularActualizacionCita.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>Actualizar Caso</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Navegar_al_registro_creado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Caso.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NASCauses__c</field>
            <value>
                <elementReference>Motivo_NAS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurgeryDateTime__c</field>
            <value>
                <elementReference>InicioCita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationRigthsNumber__c</field>
            <value>
                <elementReference>RVNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSurgeryCase</name>
        <label>Actualizar Caso Cirugía</label>
        <locationX>886</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Navegar_al_registro_creado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Caso.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SurgeryDateTime__c</field>
            <value>
                <elementReference>InicioCirugia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationRigthsNumber__c</field>
            <value>
                <elementReference>RigthsValidationNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Agendamiento_Cirugia</name>
        <label>Agendamiento Cirugía</label>
        <locationX>886</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validar_Actualizacion_de_datos_Cirugia</targetReference>
        </connector>
        <fields>
            <name>Agendamiento_Cirugia_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agendamiento_Cirugia_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AsuntoCirugia2</name>
                    <fieldText>&lt;p&gt;Asunto&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.SchedulingType__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InicioCirugia</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Fecha de cirugía</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DocumentoCirugia</name>
                    <fieldText>&lt;p&gt;Documento de identidad&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.Account.CS_NumeroIdentificacion__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EmailCirugia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.Contact.Email</elementReference>
                    </defaultValue>
                    <fieldText>Correo electrónico</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CiudadAfiliadoCirugia</name>
                    <fieldText>&lt;p&gt;Ciudad&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.AssistanceCity__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agendamiento_Cirugia_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NumeroAtEPCirugia</name>
                    <fieldText>&lt;p&gt;Número de AtEP&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.CaseNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NombreAfiliadoCirugia</name>
                    <fieldText>&lt;p&gt;Nombre del afiliado&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Obtiene_Caso.Contact.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EdadCirugia</name>
                    <fieldText>&lt;p&gt;Edad&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.Contact.FinServ__Age__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CelularCirugia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.Contact.MobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Número de celular</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AditionalSurgeryEmails</name>
                    <dataType>String</dataType>
                    <fieldText>Correos de notificación adicionales</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CiudadLlamada</name>
                    <fieldText>&lt;p&gt;Ciudad Llamada&lt;/p&gt;&lt;p&gt;{!Obtiene_Tarea.CityCall__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Agendamiento_Cirugia_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agendamiento_Cirugia_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MedicoTratanteCirugia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.IPSSpecialist__c</elementReference>
                    </defaultValue>
                    <fieldText>Medico tratante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EspecialidadCirugia</name>
                    <choiceReferences>Especialidad</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.MedicalSpecialties__c</elementReference>
                    </defaultValue>
                    <fieldText>Especialidad</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CantidadCirugia</name>
                    <dataType>Number</dataType>
                    <fieldText>Cantidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EspecialidadCirugia</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>FISIOTERAPIA,TERAPIA FÍSICA,TERAPIA OCUPACIONAL,TERAPIA RESPIRATORIA.TERAPIAS ALTERNATIVAS</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agendamiento_Cirugia_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DireccionCirugia</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.AddressProvider__c</elementReference>
                    </defaultValue>
                    <fieldText>Dirección</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PhoneProvider</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.providerPhone__c</elementReference>
                    </defaultValue>
                    <fieldText>Teléfono Prestador</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>RigthsValidationNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Número de validación de derecho (NVD)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Agendamiento_Cirugia_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agendamiento_Cirugia_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actualizar_datos_contacto_cirugia</name>
                    <choiceReferences>Si</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>¿Desea actualizar los datos de contacto?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Agendamiento_Cita</name>
        <label>Agendamiento Cita</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Informacion_de_cita</targetReference>
        </connector>
        <fields>
            <name>Agendamiento_Cita_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agendamiento_Cita_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Asuntocita2</name>
                    <fieldText>&lt;p&gt;Asunto&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.SchedulingType__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InicioCita</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Fecha de Cita</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NumeroAtEPCita</name>
                    <fieldText>&lt;p&gt;Número de AtEP&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.Claim__r.CS_numeroLinea__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DocumentoCita</name>
                    <fieldText>&lt;p&gt;Documento de identidad&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.Account.CS_NumeroIdentificacion__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CiudadAfiliadoCita</name>
                    <fieldText>&lt;p&gt;Ciudad Llamada&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Obtiene_Tarea.CityCall__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EmailCita</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.Contact.Email</elementReference>
                    </defaultValue>
                    <fieldText>Correo electrónico</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agendamiento_Cita_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TipoAgendamientoCita</name>
                    <choiceReferences>Juridico</choiceReferences>
                    <choiceReferences>Urgente</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de agendamiento</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Motivo_NAS</name>
                    <choiceReferences>MotivoNAS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Motivo NAS</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>NombreAfiliadoCita</name>
                    <fieldText>&lt;p&gt;Nombre del afiliado&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EdadCita</name>
                    <fieldText>&lt;p&gt;Edad&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.Contact.FinServ__Age__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CelularCita</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.Contact.MobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Número de celular</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AditionalEmails</name>
                    <dataType>String</dataType>
                    <fieldText>Correos Adicionales</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Ingrese los correos de notificación adicionales separándolos por una coma.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Agendamiento_Traslado</name>
        <label>Agendamiento Traslado</label>
        <locationX>1194</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_traslado</targetReference>
        </connector>
        <fields>
            <name>Agendamiento_Traslado_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agendamiento_Traslado_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AsuntoTraslados2</name>
                    <fieldText>&lt;p&gt;Asunto&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.SchedulingType__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InicioTraslado</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Fecha inicio de traslado</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DocumentoTraslado</name>
                    <fieldText>&lt;p&gt;Documento de identidad&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.Account.CS_NumeroIdentificacion__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EmailTraslado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.Contact.Email</elementReference>
                    </defaultValue>
                    <fieldText>Correo electrónico</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CiudadAfiliadoTraslado</name>
                    <fieldText>&lt;p&gt;Ciudad&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.AssistanceCity__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DireccionTraslado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.AddressProvider__c</elementReference>
                    </defaultValue>
                    <fieldText>Direccion</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agendamiento_Traslado_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NumeroAtEPTraslado</name>
                    <fieldText>&lt;p&gt;Número de AtEP&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.CaseNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Fecha_Fin_de_traslado</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Fecha Fin de traslado</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;El agendamiento no puede ser superior a 14 días.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Valida14dias}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>NombreAfiliadoTraslado</name>
                    <fieldText>&lt;p&gt;Nombre del afiliado&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CelularTraslado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.Contact.MobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Número de celular</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EdadTraslado</name>
                    <fieldText>&lt;p&gt;Edad&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.Contact.FinServ__Age__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AditionalTransferEmails</name>
                    <dataType>String</dataType>
                    <fieldText>Correos de notificación adicionales</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Ingrese los correos de notificación adicionales uno tras otro separándolos por una coma.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseOwnerIsnotUser</name>
        <label>Propietario del caso no es usuario</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseOwnerError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(251, 5, 5);&quot;&gt;No es posible realizar un agendamiento sobre esta caso ya que el propietario no corresponde a un usuario del sistema sino una cola de atención.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copia_2_de_Formulario_actualizaci_n</name>
        <label>Formulario actualización datos contacto</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateAppointmentContactInfo</targetReference>
        </connector>
        <fields>
            <name>Copia_2_de_Actualizar_email_y_celular_cirugia</name>
            <fieldText>Actualizar email y celular</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copia_2_de_Actualizar_email_y_celular_cirugia_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailActualizacionCita</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Obtiene_Caso.Contact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email paciente</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CelularActualizacionCita</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Obtiene_Caso.Contact.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Móvil paciente</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_propietario</name>
        <label>Error propietario</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_propietario_cola</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No puede generar un agendamiento si el caso esta asignado a una cola.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Formulario_actualizacion_cirugia</name>
        <label>Formulario actualización</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actualizar_Datos_de_Contacto_Cirugia</targetReference>
        </connector>
        <fields>
            <name>Actualizar_email_y_celular_cirugia</name>
            <fieldText>Actualizar email y celular</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Actualizar_email_y_celular_cirugia_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailActualizacionCirugia</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Obtiene_Caso.Contact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email paciente</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CelularActualizacionCirugia</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Obtiene_Caso.Contact.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Móvil paciente</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Informacion_de_cita</name>
        <label>Información de cita</label>
        <locationX>248</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Tiene_propietario</targetReference>
        </connector>
        <fields>
            <name>Informacion_de_cita_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacion_de_cita_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Servicios</name>
                    <choiceReferences>Citas</choiceReferences>
                    <choiceReferences>Terapias</choiceReferences>
                    <choiceReferences>Examenes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Servicios</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacion_de_cita_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Informacion_de_cita_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacion_de_cita_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MedicoTratanteCita</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.IPSSpecialist__c</elementReference>
                    </defaultValue>
                    <fieldText>Médico tratante</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CiudadAtencion</name>
                    <fieldText>&lt;p&gt;Ciudad&lt;/p&gt;&lt;p&gt;{!Obtiene_Caso.AssistanceCity__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>QuienOrdenaCita</name>
                    <dataType>String</dataType>
                    <fieldText>Quien ordena</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CantidadCita</name>
                    <dataType>Number</dataType>
                    <fieldText>Cantidad</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>EspecilidadCita</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>FISIOTERAPIA,TERAPIA FÍSICA,TERAPIA OCUPACIONAL,TERAPIA RESPIRATORIA.TERAPIAS ALTERNATIVAS</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Servicios</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Terapias</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacion_de_cita_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DireccionCita</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.AddressProvider__c</elementReference>
                    </defaultValue>
                    <fieldText>Dirección</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ProviderPhone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.providerPhone__c</elementReference>
                    </defaultValue>
                    <fieldText>Teléfono</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EspecilidadCita</name>
                    <choiceReferences>Especialidad</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Obtiene_Caso.MedicalSpecialties__c</elementReference>
                    </defaultValue>
                    <fieldText>Especialidad</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>RVNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Número de validación de derecho (NVD)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>UpdateAppointmentContactData</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>¿Desea actualizar los datos de contacto?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Aplica_Agendamiento</name>
        <label>No Aplica Agendamiento</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoAplica</name>
            <fieldText>&lt;p&gt;No se puede generar agendamiento para el formulario seleccionado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1279</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_Caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActualCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdEvento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
