force-app/main/default/flows/Flujo_para_actualizacion_de_tipo_de_registro_en_tarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>BuenaVentaCall</name>
        <label>BuenaVentaCall</label>
        <locationX>1766</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Resultado_1_de_BuenaVentaCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Línea Efectiva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_de_vencimiento_automatica_en_tarea</targetReference>
            </connector>
            <label>Resultado 1 de BuenaVentaCall</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fecha_de_vencimiento_automatica_en_tarea</name>
        <label>Fecha de vencimiento automatica en tarea</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Valida_modulo_de_tarea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>tarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Llamada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Línea Efectiva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Fecha_de_vencimiento</targetReference>
            </connector>
            <label>tarea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_modulo_de_tarea</name>
        <label>Valida modulo de tarea</label>
        <locationX>1106</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Capitalizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Modulo_SLE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capitalizadora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_tarea_tipo_de_registro7</targetReference>
            </connector>
            <label>Capitalizadora</label>
        </rules>
        <rules>
            <name>ARL_Medicalizacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Modulo_SLE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medicalización</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_tarea_tipo_de_registro</targetReference>
            </connector>
            <label>Medicalizacion</label>
        </rules>
        <rules>
            <name>ARL_Prevenci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Modulo_SLE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prevención</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_tarea_tipo_de_registro2</targetReference>
            </connector>
            <label>Prevención</label>
        </rules>
        <rules>
            <name>ARL_Informacion_y_Medios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Modulo_SLE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Información y Medios</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_tarea_tipo_de_registro3</targetReference>
            </connector>
            <label>Información y Medios</label>
        </rules>
        <rules>
            <name>Seguros_Vida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Modulo_SLE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguros de Vida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_tarea_tipo_de_registro4</targetReference>
            </connector>
            <label>Seguros de Vida</label>
        </rules>
        <rules>
            <name>Seguros_Generales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Modulo_SLE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguros Generales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_tarea_tipo_de_registro6</targetReference>
            </connector>
            <label>Seguros Generales</label>
        </rules>
        <rules>
            <name>Chats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Modulo_SLE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chats</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_tarea_tipo_de_registro9</targetReference>
            </connector>
            <label>Chats</label>
        </rules>
        <rules>
            <name>Radicador_Integral_Opcion5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Modulo_SLE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opcion5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_tarea_tipo_de_registro8</targetReference>
            </connector>
            <label>Radicador Integral (Opcion5)</label>
        </rules>
    </decisions>
    <description>Flujo para actualización de Modulo al crear la llamada SLE</description>
    <environments>Default</environments>
    <formulas>
        <name>FechadevencimientoFrom</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Fl {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo para actualización de modulo SLE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualiza_Fecha_de_vencimiento</name>
        <label>Actualiza Fecha de vencimiento</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Valida_modulo_de_tarea</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FechadevencimientoFrom</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_tarea_tipo_de_registro</name>
        <label>Actualiza tarea tipo de registro</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>Medicalización</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_tarea_tipo_de_registro2</name>
        <label>Actualiza tarea tipo de registro</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>Prevención</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_tarea_tipo_de_registro3</name>
        <label>Actualiza tarea tipo de registro</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>Información y Medios</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_tarea_tipo_de_registro4</name>
        <label>Actualiza tarea tipo de registro</label>
        <locationX>1106</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>Seguros de Vida</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_tarea_tipo_de_registro6</name>
        <label>Actualiza tarea tipo de registro</label>
        <locationX>1370</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>Seguros Generales</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_tarea_tipo_de_registro7</name>
        <label>Actualiza tarea tipo de registro</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>Capitalizadora</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_tarea_tipo_de_registro8</name>
        <label>Actualiza tarea tipo de registro</label>
        <locationX>1898</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>Opcion5</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_tarea_tipo_de_registro9</name>
        <label>Actualiza tarea tipo de registro</label>
        <locationX>1634</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <stringValue>Chats</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BuenaVentaCall</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CapitalizadoraRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01279000000L6wSAAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>InformacionyMediosRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01279000000L6wDAAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>MedicalizacionRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01279000000L6ugAAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>Opcion5RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01279000000L6wXAAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>PrevencionRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01279000000L6w8AAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>SegurosDeVidaRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01279000000L6wIAAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>SegurosGeneralesRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01279000000L6wNAAS</stringValue>
        </value>
    </variables>
</Flow>
