force-app/main/default/flows/FlujoDescargarDOcumento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>llamarMetodo</name>
        <label>llamarMetodo</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>ClassStartServiceBCS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>idEntrante</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClassStartServiceBCS</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Tiene_confirmatioCode</name>
        <label>Tiene confirmatioCode</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Descargar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_tiene_confirmationCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtenerDocumentoCaso.FileCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>no_tiene_codigo</targetReference>
            </connector>
            <label>no tiene confirmationCode</label>
        </rules>
    </decisions>
    <description>boton limpio</description>
    <environments>Default</environments>
    <interviewLabel>FlujoDescargarDOcumento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Descargar Documento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>obtenerDocumentoCaso</name>
        <label>obtenerDocumentoCaso</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_confirmatioCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idEntrante</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CS_DocumentoCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Descargar</name>
        <label>Descargar</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>llamarMetodo</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Descargar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>no_tiene_codigo</name>
        <label>no tiene codigo</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>mensaje</name>
            <fieldText>&lt;p&gt;El documento no tiene código, comuníquese con un administrador. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtenerDocumentoCaso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idEntrante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListaId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
