force-app/main/default/flows/Flujo_Extension_del_plazo_SLE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Dias1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dias10</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dias20</name>
        <choiceText>20</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dias3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dias5</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>ContadorExtensiones</name>
        <dataType>Number</dataType>
        <expression>{!Obtiene_Caso.Time_extension_counter__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Extensión del plazo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Extensión del plazo SLE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtiene_Caso</name>
        <label>Obtiene Caso</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_evento_clave</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_evento_clave</name>
        <label>Obtiene evento clave</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extension_del_plazo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_informacion_de_caso</name>
        <label>Actualiza información de caso</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>PANTALLACONFIRMACION</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtiene_Caso.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Motivo_de_la_extension_del_plazo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Days_of_Term_Extension__c</field>
            <value>
                <elementReference>Cantidad_de_dias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone_start_date__c</field>
            <value>
                <elementReference>Obtiene_evento_clave.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_extension_counter__c</field>
            <value>
                <elementReference>ContadorExtensiones</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Extension_del_plazo</name>
        <label>Extensión del plazo</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualiza_informacion_de_caso</targetReference>
        </connector>
        <fields>
            <name>Extension_del_plazo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Extension_del_plazo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Extension_del_plazo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cantidad_de_dias</name>
                    <choiceReferences>Dias1</choiceReferences>
                    <choiceReferences>Dias3</choiceReferences>
                    <choiceReferences>Dias5</choiceReferences>
                    <choiceReferences>Dias10</choiceReferences>
                    <choiceReferences>Dias20</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Cantidad de días</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Motivo_de_la_extension_del_plazo</name>
                    <fieldText>Motivo de la extensión del plazo</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Extension_del_plazo_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PANTALLACONFIRMACION</name>
        <label>PANTALLACONFIRMACION</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flujo_secundario_Extension_del_plazo_SLE</targetReference>
        </connector>
        <fields>
            <name>Tiempofinal</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Se creo la extensión de días correctamente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_Caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flujo_secundario_Extension_del_plazo_SLE</name>
        <label>Flujo secundario Extensión del plazo SLE</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <flowName>Flujo_secundario_Extension_del_plazo_SLE</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
