force-app/main/default/flows/Identificacion_Saludo_Canal_Bot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignar_Variables</name>
        <label>Asignar Variables</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Canal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Banco</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tipo_de_Saludo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Predeterminado</name>
        <label>Predeterminado</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>SaludoInicial</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bienvenido a Colmena Seguros de Vida S.A., es un gusto poder atenderte. Queremos por este canal fortalecer tu conocimiento sobre el seguro que est치s interesado en adquirir, explic치ndote todos sus beneficios.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Tipo_de_Saludo</name>
        <label>Tipo de Saludo</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Predeterminado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Encontro_Informacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>URL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Encontro Informacion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Identificaci칩n Saludo Canal Bot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Identificaci칩n Saludo Canal Bot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ConsultarMetadatos</name>
        <label>ConsultarMetadatos</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mensaje_Inicial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimerInteraccion</elementReference>
            </value>
        </filters>
        <object>Identificacion_de_productos__mdt</object>
        <outputAssignments>
            <assignToReference>SaludoInicial</assignToReference>
            <field>Mensaje_Bienvenida__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Campana</assignToReference>
            <field>Producto_de_interes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>URL</assignToReference>
            <field>URL__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ConsultarMetadatos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Campana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Canal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimerInteraccion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaludoInicial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
