force-app/main/default/flows/Indemnizaciones_Call_VT_request_API_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Integration_Procedure</name>
        <label>Integration Procedure</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>CSIntegrationProcedureInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>params</name>
            <value>
                <elementReference>inputParamsVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>IP_ClaimRequestVT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CSIntegrationProcedureInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>set_Claim_Param</name>
        <label>set Claim Param</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>claimIdParamVar.paramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClaimId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimIdParamVar.paramValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParamsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>claimIdParamVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Integration_Procedure</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Indemnizaciones - Call VT request API Auto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Indemnizaciones - Call VT request API Auto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultar y Radicar VT</stringValue>
            </value>
        </filters>
        <object>Claim</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>set_Claim_Param</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>claimIdParamVar</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputParamsVar</name>
        <apexClass>IPInputParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
