force-app/main/default/flows/NewCallCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>cs_navigateToRecord_Acci_n_1</name>
        <label>cs_navigateToRecord Acción 1</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>c:cs_navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewCallId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:cs_navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <description>Permite duplicar el contenido de una llamada, seleccionando una cuenta diferente para la nueva llamada.</description>
    <environments>Default</environments>
    <interviewLabel>Crear Nueva Llamada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Nueva Llamada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CallCreation</name>
        <label>CallCreation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>NewCallId</assignRecordIdToReference>
        <connector>
            <targetReference>cs_navigateToRecord_Acci_n_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>GetDataCall.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agendamiento_SLE__c</field>
            <value>
                <elementReference>GetDataCall.Agendamiento_SLE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentId__c</field>
            <value>
                <elementReference>GetDataCall.AgentId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agrupacion__c</field>
            <value>
                <elementReference>GetDataCall.Agrupacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AtentoGroupExtension__c</field>
            <value>
                <elementReference>GetDataCall.AtentoGroupExtension__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallIdSLE__c</field>
            <value>
                <elementReference>GetDataCall.CallIdSLE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Called__c</field>
            <value>
                <elementReference>GetDataCall.Called__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller__c</field>
            <value>
                <elementReference>GetDataCall.Caller__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CityCall__c</field>
            <value>
                <elementReference>GetDataCall.CityCall__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComdataGroupExtension__c</field>
            <value>
                <elementReference>GetDataCall.ComdataGroupExtension__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_SLE__c</field>
            <value>
                <elementReference>GetDataCall.Email_SLE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HandCalls__c</field>
            <value>
                <elementReference>GetDataCall.HandCalls__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVRCallCreationDate__c</field>
            <value>
                <elementReference>GetDataCall.IVRCallCreationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVRCallKey__c</field>
            <value>
                <elementReference>GetDataCall.IVRCallKey__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVRDocumentNumber__c</field>
            <value>
                <elementReference>GetDataCall.IVRDocumentNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVRDocumentType__c</field>
            <value>
                <elementReference>GetDataCall.IVRDocumentType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVRMainCallID__c</field>
            <value>
                <elementReference>GetDataCall.IVRMainCallID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulo__c</field>
            <value>
                <elementReference>GetDataCall.Modulo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneExtension__c</field>
            <value>
                <elementReference>GetDataCall.PhoneExtension__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_SLE__c</field>
            <value>
                <elementReference>GetDataCall.Phone_SLE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Razon__c</field>
            <value>
                <elementReference>GetDataCall.Razon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Abierto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>GetDataCall.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>GetDataCall.TaskSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_llamada__c</field>
            <value>
                <elementReference>GetDataCall.Tipo_de_llamada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UUICode__c</field>
            <value>
                <elementReference>GetDataCall.UUICode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserDocument__c</field>
            <value>
                <elementReference>GetDataCall.UserDocument__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoCall__c</field>
            <value>
                <elementReference>GetDataCall.WhoCall__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>GetDataCall.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>GetDataCall</name>
        <label>GetDataCall</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountRelated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeId</name>
        <label>GetRecordTypeId</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDataCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Línea Efectiva</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AccountRelated</name>
        <label>Asociar Cuenta</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CallCreation</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cuenta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Agrupacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Called</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Caller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallIdSLE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CityCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DoneVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IVRCallCreationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IVRCallKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IVRMainCallID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Modulo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PhoneExtension</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneSLE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Razon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Scheduling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UUICode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
