force-app/main/default/flows/NumeroWhastapp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AsignarNumero</name>
        <label>AsignarNumero</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Numero</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numerodecelular</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>version 58</description>
    <environments>Default</environments>
    <formulas>
        <name>Numerodecelular</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ConsultaMensajeria.MessagingEndUser.MessagingPlatformKey}, LEFT({!ConsultaMensajeria.MessagingEndUser.MessagingPlatformKey}, 2), &apos;+&apos;+ LEFT({!ConsultaMensajeria.MessagingEndUser.MessagingPlatformKey}, 2)+&apos; &apos;)</expression>
    </formulas>
    <interviewLabel>NumeroWhastapp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NumeroWhastapp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ConsultaMensajeria</name>
        <label>ConsultaMensajeria</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarNumero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Mensajeria</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ConsultaMensajeria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id_Mensajeria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Numero</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
