force-app/main/default/flows/Numero_de_celular.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AsignarValor</name>
        <label>AsignarValor</label>
        <locationX>1102</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>NumeroCelular</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>agregar indicativo al numero</description>
    <environments>Default</environments>
    <formulas>
        <name>Numero</name>
        <dataType>String</dataType>
        <expression>MID({!ConsultaMensajeria.MessagingEndUser.MessagingPlatformKey}, 11, 12)</expression>
    </formulas>
    <interviewLabel>Numero de celular {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Numero de celular</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ConsultaMensajeria</name>
        <label>ConsultaMensajeria</label>
        <locationX>1100</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarValor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Mensajeria</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ConsultaMensajeria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id_Mensajeria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumeroCelular</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
