force-app/main/default/flows/ObtencionPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asigna_el_precio_Unitario_del_Plan</name>
        <label>Asigna el precio Unitario del Plan</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>PrecioUnitario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_el_precio_del_Plan.UnitPrice</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asigna_el_precio_Unitario_del_Producto_Principal</name>
        <label>Asigna el precio Unitario del Producto Principal</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PrecioUnitario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtiene_el_precio_del_Producto_principal.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Productos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RellenarListaPlanes</name>
        <label>RellenarListaPlanes</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Planes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListaPlanes.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListaPlanes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tiene_planes</name>
        <label>Tiene planes</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Tiehe_Planes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Productos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NombreProductoPrincipal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NombrePlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ListaPlanes</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>Es_un_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombrePlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Productos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NombreProductoPrincipal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfoPlan</targetReference>
            </connector>
            <label>Es un Plan</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NombrePlanConPrecio</name>
        <dataType>String</dataType>
        <expression>{!ListaPlanes.Name} +&apos; Desde $&apos;+ TEXT({!Obtener_Precio_de_cada_Plan.UnitPrice})</expression>
    </formulas>
    <formulas>
        <name>NombrePlanCortado</name>
        <dataType>String</dataType>
        <expression>LEFT({!NombrePlan}, 6)</expression>
    </formulas>
    <interviewLabel>ObtencionProducto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ObtencionPlan</label>
    <loops>
        <name>ListaPlanes</name>
        <label>ListaPlanes</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Productos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Obtener_Precio_de_cada_Plan</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>InfoPlan</name>
        <label>InfoPlan</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_el_precio_del_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NombrePlan</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>DescripcionProducto</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdProduct2</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Video</assignToReference>
            <field>testURL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Precio_de_cada_Plan</name>
        <label>Obtener Precio de cada Plan</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RellenarListaPlanes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ListaPlanes.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_el_precio_del_Plan</name>
        <label>Obtiene el precio del Plan</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_el_precio_Unitario_del_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdProduct2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_el_precio_del_Producto_principal</name>
        <label>Obtiene el precio del Producto principal</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asigna_el_precio_Unitario_del_Producto_Principal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdProduct2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Registro_de_Producto_Principal</name>
        <label>Obtiene Registro de Producto Principal</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtiene_el_precio_del_Producto_principal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NombreProductoPrincipal</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>DescripcionProducto</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdProduct2</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MedioRecaudoProd</assignToReference>
            <field>Medio_Recaudo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Video</assignToReference>
            <field>testURL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Productos</name>
        <label>Productos</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_planes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductoPadre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdProduct2</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductoPadre__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_Registro_de_Producto_Principal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>descripcionPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DescripcionPlanes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DescripcionProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdProduct2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MedioRecaudoProd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombrePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombreProductoPrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Planes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrecioUnitario</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Video</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
