force-app/main/default/flows/ObtenerCandidato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>asigna_Celular</name>
        <label>asigna Celular</label>
        <locationX>1139</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Telefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampoCelular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assingTypeObjectAcc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignClientNumberMobilePhoneAcc</name>
        <label>Asigna Numero Cliente</label>
        <locationX>875</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Telefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampoCelular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assingTypeObjectAcc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignClientNumberMobilePhoneLead</name>
        <label>Asigna Numero Cliente</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Telefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampoCelular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assingTypeObjectLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignClientNumberPhoneAcc</name>
        <label>Asigna Numero Cliente</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Telefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampoTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assingTypeObjectAcc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignClientNumberPhoneLead</name>
        <label>Asigna Numero Cliente</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Telefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampoTelefono</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assingTypeObjectLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assingTypeObjectAcc</name>
        <label>asigna el tipo de objeto del cliente</label>
        <locationX>1007</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>TipoObjCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cuenta</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SearchClientFoundAcc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assingTypeObjectLead</name>
        <label>asigna el tipo de objeto de cliente</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>TipoObjCliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copia_1_de_asigna_Celular</name>
        <label>asigna Celular</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Telefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampoCelular</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assingTypeObjectLead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AsignacionNumeroCelular</name>
        <label>Asignación de numero celular</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>assingTypeObjectLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene numero celular</defaultConnectorLabel>
        <rules>
            <name>PhoneField</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampoTelefono</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Candidato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampoCelular</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignClientNumberPhoneLead</targetReference>
            </connector>
            <label>Esta en campo Telefono</label>
        </rules>
        <rules>
            <name>FieldMobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampoCelular</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Candidato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampoTelefono</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignClientNumberMobilePhoneLead</targetReference>
            </connector>
            <label>Esta en campo Celular</label>
        </rules>
        <rules>
            <name>FieldPCelCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Candidato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampoCelular</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampoTelefono</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_asigna_Celular</targetReference>
            </connector>
            <label>Tiene ambos</label>
        </rules>
    </decisions>
    <decisions>
        <name>SearchClientFoundAcc</name>
        <label>Cliente Encontrado</label>
        <locationX>1007</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>NoAcc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumeroDocumento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Telefono</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Candidato</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>SearchClientFoundLead</name>
        <label>¿Cliente encontrado?</label>
        <locationX>732</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdCandidato</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>AsignacionNumeroCelular</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>searchNumberClientACC</name>
        <label>¿Tiene numero celular?</label>
        <locationX>1007</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>assingTypeObjectAcc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene numero celular</defaultConnectorLabel>
        <rules>
            <name>PhoneFieldAcc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampoTelefono</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampoCelular</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignClientNumberPhoneAcc</targetReference>
            </connector>
            <label>Esta en campo Telefono</label>
        </rules>
        <rules>
            <name>MobilePhoneFieldAcc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampoCelular</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampoTelefono</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignClientNumberMobilePhoneAcc</targetReference>
            </connector>
            <label>Esta en campo Celular</label>
        </rules>
        <rules>
            <name>AllFieldCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampoTelefono</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampoCelular</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigna_Celular</targetReference>
            </connector>
            <label>Tiene ambos campos llenos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormatoFecha</name>
        <dataType>String</dataType>
        <expression>TEXT({!FechaNacimiento})</expression>
    </formulas>
    <formulas>
        <name>NumCelConsulta</name>
        <dataType>String</dataType>
        <expression>RIGHT({!TelefonoDocumento}, LEN({!TelefonoDocumento}) - FIND(&quot; &quot;, {!TelefonoDocumento}))</expression>
    </formulas>
    <interviewLabel>ObtenerCandidato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ObtenerCandidato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Candidato</name>
        <label>Obtener Candidato</label>
        <locationX>732</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SearchClientFoundLead</targetReference>
        </connector>
        <filterLogic>(1 AND 4) OR (2 AND 3) OR (6 AND 7) AND 5</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>NumCelConsulta</elementReference>
            </value>
        </filters>
        <filters>
            <field>Numero_de_documento__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TelefonoDocumento</elementReference>
            </value>
        </filters>
        <filters>
            <field>Numero_de_documento__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>NumCelConsulta</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Correo</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimerNombre</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdCandidato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApellidoCliente</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SegundoNombre</assignToReference>
            <field>MiddleName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampoCelular</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumeroDocumento</assignToReference>
            <field>Numero_de_documento__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampoTelefono</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SegundoApellido</assignToReference>
            <field>Suffix</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoDocumento</assignToReference>
            <field>Tipo_de_documento__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cuenta</name>
        <label>Obtener Cuenta</label>
        <locationX>1007</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>searchNumberClientACC</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CS_NumeroIdentificacionCP__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TelefonoDocumento</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>NumCelConsulta</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>NumCelConsulta</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>FechaExpedicion</assignToReference>
            <field>CS_FechaExpedicion__pc</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumeroDocumento</assignToReference>
            <field>CS_NumeroIdentificacionCP__pc</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TipoDocumento</assignToReference>
            <field>CS_TipoIdentificacionCP__pc</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimerNombre</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdCandidato</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApellidoCliente</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SegundoNombre</assignToReference>
            <field>MiddleName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FechaNacimiento</assignToReference>
            <field>PersonBirthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Correo</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampoCelular</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampoTelefono</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SegundoApellido</assignToReference>
            <field>Suffix</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Cuenta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApellidoCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampoCelular</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampoTelefono</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Correo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FechaExpedicion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FechaNacimiento</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaNacimientoTexto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>FormatoFecha</elementReference>
        </value>
    </variables>
    <variables>
        <name>IdCandidato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumeroDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimerNombre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SegundoApellido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SegundoNombre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Telefono</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TelefonoDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TipoObjCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
