force-app/main/default/flows/Obtener_Prestadores_de_Servicio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Service_Providers</name>
        <label>Get Service Providers</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>ObtainInformationServiceProviders</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <stringValue>Bogóta</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contract</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ips</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outNetwork</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>procedureAPIName</name>
            <value>
                <stringValue>Request_WS_serviceProviders</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>service</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceType</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>severityID</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ObtainInformationServiceProviders</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Obtener Prestadores de Servicio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Obtener Prestadores de Servicio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>records</name>
        <label>records</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>show_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>row_selected</name>
        <label>row selected</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>selectedRowToShow</name>
            <fieldText>&lt;p&gt;{!table.selectedRows}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>show_data</name>
        <label>show data</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>row_selected</targetReference>
        </connector>
        <fields>
            <name>serviceProviders</name>
            <fieldText>&lt;p&gt;{!Get_Service_Providers.output}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AccountSource&quot;,&quot;guid&quot;:&quot;column-ff17&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Source&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>asdfasdf</name>
            <extensionName>c:omniScriptTermsAndConditions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Providers</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>DataExample</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
