force-app/main/default/flows/ObtencionProducto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Keyword</name>
        <label>Keyword</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Keykord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextoCortado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Producto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NombreProductoIndividual</name>
        <label>NombreProductoIndividual</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NombreIndividual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lista.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreAliado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lista.Ally__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedioRecaudo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lista.Medio_Recaudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requiereBeneficiario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lista.Beneficiary_Application__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProductoVacio</name>
        <label>ProductoVacio</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NombreIndividual</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vacio</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>rellenarlista</name>
        <label>rellenarlista</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ListaProductos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lista.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NombreProductoIndividual</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Sin_Producto</name>
        <label>Sin Producto</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Productos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductoVacio</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Producto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lista</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TextoCortado</name>
        <dataType>String</dataType>
        <expression>REVERSE(LEFT(REVERSE({!Keykord}), FIND(&apos; &apos;, REVERSE({!Keykord}))-1))</expression>
    </formulas>
    <interviewLabel>ObtencionProducto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ObtencionProducto</label>
    <loops>
        <name>Lista</name>
        <label>Lista</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <collectionReference>Productos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>rellenarlista</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Producto</name>
        <label>Producto</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sin_Producto</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>KeyWord__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Keykord</elementReference>
            </value>
        </filters>
        <filters>
            <field>KeyWord__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ally__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Keykord</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ally__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductoPadre__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Productos</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Ally__c</queriedFields>
        <queriedFields>Medio_Recaudo__c</queriedFields>
        <queriedFields>Beneficiary_Application__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Keyword</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Keykord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaProductos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MedioRecaudo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombreAliado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NombreIndividual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Productos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>requiereBeneficiario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
