force-app/main/default/flows/SendaLinkClaimUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Codificar_link</name>
        <label>Codificar link</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>GenerateDigestString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateURLSendaLink</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cryptoKey</name>
            <value>
                <elementReference>EncodeKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>encodeString</name>
            <value>
                <stringValue>txtToEncode</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vector</name>
            <value>
                <elementReference>InitVector</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateDigestString</nameSegment>
        <outputParameters>
            <assignToReference>CodedLink</assignToReference>
            <name>codifiedString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AssignCodeToEncode</name>
        <label>Asignar Cadena</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>LinkBaseURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSendaLink.Endpoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimerDocumentNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CS_Asegurado_Afectado__r.PrimaryParticipantContact.CS_NumeroIdentificacionCP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimerDocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CS_Asegurado_Afectado__r.PrimaryParticipantContact.CS_TipoIdentificacionCP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>baseLinkToEncode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LinksSendaParams</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StringToEncode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StringToEncode</name>
        <label>Asignar Cadena para Codificar</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>txtToEncode</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>baseLinkToEncode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EncodeKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSendaLink.Client_Secret__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitVector</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSendaLink.Client_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Codificar_link</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsWARecord</name>
        <label>Solo para Accidentes Laborales</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>IsWorkAccident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWARecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUserData</targetReference>
            </connector>
            <label>Reclamación de accidente laboral?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FullURL</name>
        <dataType>String</dataType>
        <expression>{!LinkBaseURL} &amp; {!LinksSendaParams} &amp; &apos;&amp;Checksum=&apos; &amp; {!CodedLink}</expression>
    </formulas>
    <formulas>
        <name>LinksSendaParams</name>
        <dataType>String</dataType>
        <expression>&apos;IdLlamada=0&amp;Cedula=&apos;&amp; {!GetUserData.EmployeeNumber} &amp;&apos;&amp;IdTipoDocumento=&apos;&amp; {!ClaimerDocumentType} &amp;&apos;&amp;Documento=&apos;&amp; {!ClaimerDocumentNumber} &amp;&apos;&amp;ProvieneDe=10&apos;</expression>
    </formulas>
    <formulas>
        <name>SendaLinkI</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!FullURL}) &lt;= 255, {!FullURL}, LEFT({!FullURL}, 255))</expression>
    </formulas>
    <formulas>
        <name>SendaLinkII</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!FullURL}) &gt; 255, RIGHT({!FullURL}, LEN({!FullURL})-255), &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Flujo Actualizar Link Senda {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Actualizar Link Senda</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSendaLink</name>
        <label>Obtener Endpoint Senda</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCodeToEncode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Checksum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VS_Callout_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserData</name>
        <label>Obtener Datos Usuario</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSendaLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWARecordType</name>
        <label>Obtener tipo de registro Accidente Laboral</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsWARecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateURLSendaLink</name>
        <label>Actualizar Links</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>CS_TipoDocumentoReclamante__c</field>
            <value>
                <elementReference>ClaimerDocumentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClaimEmail__c</field>
            <value>
                <elementReference>$Record.CS_Asegurado_Afectado__r.PrimaryParticipantContact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClaimerDocumentNumber__c</field>
            <value>
                <elementReference>ClaimerDocumentNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SendaMedicoLink__c</field>
            <value>
                <elementReference>SendaLinkI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SendaURLAdditional__c</field>
            <value>
                <elementReference>SendaLinkII</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWARecordType</targetReference>
        </connector>
        <object>Claim</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>baseLinkToEncode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaimerDocumentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaimerDocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CodedLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EncodeKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitVector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LinkBaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtToEncode</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
