force-app/main/default/flows/SetTakerDataOnCall.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>hasTakerPolicy</name>
        <label>Existe tomador de Póliza</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Participante_de_poliza_de_seguro__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Participante_de_poliza_de_seguro__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTakerData</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Actualizar Datos Tomador Póliza sobre Llamada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Datos Tomador Póliza sobre Llamada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTakerData</name>
        <label>Obtener datos tomador</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasTakerPolicy</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participante_de_poliza_de_seguro__r.InsurancePolicy.NameInsured.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Participante_de_poliza_de_seguro__r.InsurancePolicy.NameInsured.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetTakerData</name>
        <label>Actualizar datos tomador</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>TakerPoliciyId__c</field>
            <value>
                <elementReference>GetTakerData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TakerPolicyName__c</field>
            <value>
                <elementReference>GetTakerData.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTakerData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participante_de_poliza_de_seguro__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
