force-app/main/default/flows/TriggerClaimCoveragePaymentDetail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asignar_nuevos_valores_cobertura</name>
        <label>Asignar nuevos valores cobertura</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Obtener_Cobertura.CS_PaidValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valorpagadoacumulado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Cobertura</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>On_Create_Or_Update</name>
        <label>En Creación o Actualización</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Valida_Estado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>En Actualización</defaultConnectorLabel>
        <rules>
            <name>On_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valida_Estado</targetReference>
            </connector>
            <label>En Creación</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_Estado</name>
        <label>Valida Estado</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>UpdateClaim_TriggerClaimCoveragePaymentDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Proceso_de_Pago_VT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceso de Pago VT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Registros</targetReference>
            </connector>
            <label>Proceso de Pago VT</label>
        </rules>
        <rules>
            <name>Pagado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Cobertura</targetReference>
            </connector>
            <label>Pagado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CorreoReclamante</name>
        <dataType>String</dataType>
        <expression>{!$Record.ClaimParticipantRecipient.CS_Email__c}</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Valorpagadoacumulado</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!Obtener_Cobertura.CS_PaidValue__c}), 0, {!Obtener_Cobertura.CS_PaidValue__c})+{!$Record.CS_PaymentValue__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TriggerClaimCoveragePaymentDetail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Cobertura</name>
        <label>Obtener Cobertura</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_nuevos_valores_cobertura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ClaimCoverageId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimCoverage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Cobertura</name>
        <label>Actualizar Cobertura</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>UpdateClaim_TriggerClaimCoveragePaymentDetail</targetReference>
        </connector>
        <inputReference>Obtener_Cobertura</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Registros</name>
        <label>Actualizar Registros</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>UpdateClaim_TriggerClaimCoveragePaymentDetail</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_ApprovalPayDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ApprovalPaymentUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_Correo_Reclamante</name>
        <label>Asignar Correo Reclamante</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>On_Create_Or_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_ClaimEmail__c</field>
            <value>
                <elementReference>CorreoReclamante</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Correo_Reclamante</targetReference>
        </connector>
        <object>ClaimCoveragePaymentDetail</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>UpdateClaim_TriggerClaimCoveragePaymentDetail</name>
        <label>Actualiza la Indemnización</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <flowName>UpdateClaim_TriggerClaimCoveragePaymentDetail</flowName>
        <inputAssignments>
            <name>newRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>oldRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
