force-app/main/default/flows/UpdateCaseFromPolizaOrReclamacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Numero_de_ARL_lleno</name>
        <label>Numero de ARL lleno</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Numero_de_siniestro_lleno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Numero_de_Control_ARL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_UpdateCaseFromPoliza</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Numero_de_siniestro_lleno</name>
        <label>Numero de siniestro lleno</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Numerop_de_atel_lleno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Siniestro__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseFromReclamacion</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Numerop_de_atel_lleno</name>
        <label>Numerop de atel lleno</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>ProductoLleno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Numero_de_ATEL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_UpdateCaseFromReclamacion</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Poliza_lleno</name>
        <label>Poliza lleno</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Numero_de_ARL_lleno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado Predeterminado</defaultConnectorLabel>
        <rules>
            <name>NumeroPolizaSeguro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Numero_Poliza_de_seguro__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseFromPoliza</targetReference>
            </connector>
            <label>NumeroPolizaSeguro</label>
        </rules>
    </decisions>
    <decisions>
        <name>PQRCase</name>
        <label>No es formulario</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Es_PQR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Formulario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Poliza_lleno</targetReference>
            </connector>
            <label>Es PQR</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductoLleno</name>
        <label>ProductoLleno</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Titulo_de_Capitalizacion_Lleno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCaso</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Titulo_de_Capitalizacion_Lleno</name>
        <label>Titulo de Capitalizacion Lleno</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS_Titulo_de_Capitalizaci_n__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCaso_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateCaseFromPolizaOrReclamacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCaseFromPolizaOrReclamacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordType</name>
        <label>Obtener Tipo de registro</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PQRCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formulario</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_UpdateCaseFromPoliza</name>
        <label>Copy 1 of UpdateCaseFromPoliza</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Numero_de_siniestro_lleno</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_Canal_de_venta__c</field>
            <value>
                <elementReference>$Record.CS_Numero_de_Control_ARL__r.RenewalChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_EstrategiaM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_de_Control_ARL__r.CS_Estrategia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoColmenaM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_de_Control_ARL__r.Product.CS_Producto_Colmena_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_de_Control_ARL__r.Product.CS_Producto_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_RamoM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_de_Control_ARL__r.Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>$Record.CS_Numero_de_Control_ARL__r.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_UpdateCaseFromReclamacion</name>
        <label>Copy 1 of UpdateCaseFromReclamacion</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>ProductoLleno</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_Canal_de_venta__c</field>
            <value>
                <elementReference>$Record.CS_Numero_de_ATEL__r.PolicyNumber.RenewalChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_EstrategiaM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_de_ATEL__r.PolicyNumber.CS_Estrategia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoColmenaM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_de_ATEL__r.PolicyNumber.Product.CS_Producto_Colmena_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_de_ATEL__r.PolicyNumber.Product.CS_Producto_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_RamoM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_de_ATEL__r.PolicyNumber.Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>$Record.CS_Numero_de_ATEL__r.PolicyNumber.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseFromPoliza</name>
        <label>UpdateCaseFromPoliza</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Numero_de_ARL_lleno</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_Canal_de_venta__c</field>
            <value>
                <elementReference>$Record.CS_Numero_Poliza_de_seguro__r.RenewalChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_EstrategiaM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_Poliza_de_seguro__r.CS_Estrategia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoColmenaM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_Poliza_de_seguro__r.Product.CS_Producto_Colmena_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_Poliza_de_seguro__r.Product.CS_Producto_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_RamoM2__c</field>
            <value>
                <elementReference>$Record.CS_Numero_Poliza_de_seguro__r.Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>$Record.CS_Numero_Poliza_de_seguro__r.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseFromReclamacion</name>
        <label>UpdateCaseFromReclamacion</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Numerop_de_atel_lleno</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_Canal_de_venta__c</field>
            <value>
                <elementReference>$Record.CS_Siniestro__r.PolicyNumber.RenewalChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_EstrategiaM2__c</field>
            <value>
                <elementReference>$Record.CS_Siniestro__r.PolicyNumber.CS_Estrategia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoColmenaM2__c</field>
            <value>
                <elementReference>$Record.CS_Siniestro__r.PolicyNumber.Product.CS_Producto_Colmena_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoM2__c</field>
            <value>
                <elementReference>$Record.CS_Siniestro__r.PolicyNumber.Product.CS_Producto_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_RamoM2__c</field>
            <value>
                <elementReference>$Record.CS_Siniestro__r.PolicyNumber.Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>$Record.CS_Siniestro__r.PolicyNumber.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaso</name>
        <label>updateCaso</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Titulo_de_Capitalizacion_Lleno</targetReference>
        </connector>
        <inputAssignments>
            <field>CS_ProductoColmenaM2__c</field>
            <value>
                <elementReference>$Record.Product.CS_Producto_Colmena_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoM2__c</field>
            <value>
                <elementReference>$Record.Product.CS_Producto_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_RamoM2__c</field>
            <value>
                <elementReference>$Record.Product.Family</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaso_0</name>
        <label>updateCaso</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <inputAssignments>
            <field>CS_Canal_de_venta__c</field>
            <value>
                <elementReference>$Record.CS_Titulo_de_Capitalizaci_n__r.CS_Canal_de_venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_EstrategiaM2__c</field>
            <value>
                <elementReference>$Record.CS_Titulo_de_Capitalizaci_n__r.CS_Estrategia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoColmenaM2__c</field>
            <value>
                <elementReference>$Record.CS_Titulo_de_Capitalizaci_n__r.CS_Producto__r.CS_Producto_Colmena_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_ProductoM2__c</field>
            <value>
                <elementReference>$Record.CS_Titulo_de_Capitalizaci_n__r.CS_Producto__r.CS_Producto_M2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_RamoM2__c</field>
            <value>
                <elementReference>$Record.CS_Titulo_de_Capitalizaci_n__r.CS_Producto__r.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>$Record.CS_Titulo_de_Capitalizaci_n__r.CS_Producto__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
