force-app/main/default/flows/UpdateParticipantClaimVT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>SetFieldClaimParticipant</name>
        <label>SetFieldClaimParticipant</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.ClaimId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.IsClaimant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.IsClaimant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.IsInjured</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.IsInjured</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_SecondName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_SecondName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_SecondLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_SecondLastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_FirstNameOfAccountHolder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_FirstNameOfAccountHolder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_SecondNameOfAccountHolder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_SecondNameOfAccountHolder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_FirstLastNameOfAccountHolder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_FirstLastNameOfAccountHolder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_SecondLastNameofAccountHolder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_SecondLastNameofAccountHolder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_BankAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_BankAccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_BankingEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_BankingEntity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_BankAccountType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_BankAccountType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_DestinationAccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_DestinationAccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_AccountHolderDocumentNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_AccountHolderDocumentNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_DocumentTypeAccountHolder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_DocumentTypeAccountHolder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_PersonType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_PersonType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.OtherRoles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.OtherRoles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_Deparment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_Deparment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_DocumentNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_DocumentNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_DocumentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_DocumentType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.CS_PhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.CS_PhoneNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipant.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateClaimParticipant.Roles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ClaimParticipantList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_ClaimParticipant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateClaimParticipant</targetReference>
        </connector>
    </assignments>
    <description>Flow que actualiza los participantes de los Claims creados de tipo Monopoliza de la respuesta de VT.</description>
    <environments>Default</environments>
    <interviewLabel>UpdateParticipantClaimVT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateClaimParticipantVT</label>
    <loops>
        <name>IterateClaimParticipant</name>
        <label>IterateClaimParticipant</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetParticipantClaimFather</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetFieldClaimParticipant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateClaimParticipants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateClaimParticipants</name>
        <label>CreateClaimParticipants</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>Var_ClaimParticipantList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetParticipantClaimFather</name>
        <label>GetParticipantClaimFather</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateClaimParticipant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CS_Multipolicy__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClaimParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParticipantClaimFather</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CS_Multipolicy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Claim</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_ClaimParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClaimParticipant</objectType>
    </variables>
    <variables>
        <name>Var_ClaimParticipantList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ClaimParticipant</objectType>
    </variables>
</Flow>
