force-app/main/default/flows/UpdateLCode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AssignCode</name>
        <label>Asignar Código</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewLCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewCode</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsWorkAccident</name>
        <label>Accidente Laboral</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>WorkAccident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClaimData.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRecordTypeId.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActualLCode</targetReference>
            </connector>
            <label>Accidente Laboral</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewLCode</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE({!LCode})+1)</expression>
    </formulas>
    <interviewLabel>Actualizar Contador Código L {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Contador Código L</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetActualLCode</name>
        <label>Obtener Código L Actual</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LCode</stringValue>
            </value>
        </filters>
        <object>GeneralCharacteristics__c</object>
        <outputAssignments>
            <assignToReference>LCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetClaimData</name>
        <label>Datos Indemnizaciones</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsWorkAccident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeId</name>
        <label>Obtener Tipo de Registro</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClaimData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AssignNewCode</name>
        <label>Asignar Nuevo Código</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LCode</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>UpdatedCode</elementReference>
            </value>
        </inputAssignments>
        <object>GeneralCharacteristics__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>LCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
