force-app/main/default/flows/UpdateClaim_TriggerClaimCoveragePaymentDetail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Email_Aprobacion_de_Pago_VT</name>
        <label>Enviar Email Aprobacion de Pago VT</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>ClaimCoveragePaymentDetail.Envio_correo_Aprobacion_Pago</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreateEmailMessageVTPaymentProcess</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClaimCoveragePaymentDetail.Envio_correo_Aprobacion_Pago</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_Email_confirmacion_de_Pago</name>
        <label>Enviar Email confirmacion de Pago</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>ClaimCoveragePaymentDetail.Envio_Correo_Confirmacion_Pago</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreatingEmailMessagePaymentConfirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClaimCoveragePaymentDetail.Envio_Correo_Confirmacion_Pago</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Email_Pago_rechazado</name>
        <label>Envio Email Pago rechazado</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>ClaimCoveragePaymentDetail.Envio_Correo_Pago_Rechazado</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreatingEmailMessagePaymentDeclined</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClaimCoveragePaymentDetail.Envio_Correo_Pago_Rechazado</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendBellNotification</name>
        <label>Envía notificación de campana</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Asignar_email_template_rechazado</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIDS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Pago rechazado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetClaimRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asignar_email_template_pagado</name>
        <label>Asignar email template pagado</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ConfirmacionPago</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_Email_confirmacion_de_Pago</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Email_Template_Proceso_de_Pago_VT</name>
        <label>Asignar Email Template Proceso de Pago VT</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AprobacionPago</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_Email_Aprobacion_de_Pago_VT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_email_template_rechazado</name>
        <label>Asignar email template rechazado</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>EmailTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Declined_Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Envio_Email_Pago_rechazado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bell_Notification_Recipients</name>
        <label>Asignar Destinatarios de Notificación de Campana</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetClaimRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCustomNotificationType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_GetClaimCoverageRecord</name>
        <label>Actualiza la variable GetClaimRecord</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>GetCoberturaRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Analisis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCoberturaRecord.CS_SubStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pago Rechazado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateClaimCoverage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>WasThePaymentRejected</name>
        <label>Validar Nuevo Estado</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pago Rechazado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCoberturaRecord</targetReference>
            </connector>
            <label>¿Pago Rechazado?</label>
        </rules>
        <rules>
            <name>ValidateStatusProcesoDePagoVT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceso de Pago VT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtiene_el_registro_de_Cobertura_Proceso_Pago_VT</targetReference>
            </connector>
            <label>¿Proceso de pago VT?</label>
        </rules>
        <rules>
            <name>ValidateStatusPagado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Obtiene_el_registro_de_Cobertura_Pagado</targetReference>
            </connector>
            <label>¿Pagado?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;La indemnización número &apos; + {!GetClaimRecord.Name} + &apos;, con número de radicado &apos; + {!GetClaimRecord.ClaimNumber__c} + &apos; tuvo un pago rechazado.&apos;</expression>
    </formulas>
    <interviewLabel>UpdateClaim_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateClaim_TriggerClaimCoveragePaymentDetail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateEmailMessageVTPaymentProcess</name>
        <label>Creacion Mensaje de Correo Electronico - Proceso de Pago VT</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>No responder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>htmlBodyVTPaymentProcess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varClaimCoveragePaymentDetailSubjectVTPaymentProcessConfirmationDeclined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Obtener_registros_de_Indemnizacion_Proceso_Pago_VT.CS_correoReclamante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidatedFromAddress</field>
            <value>
                <stringValue>no-responder@ext.colmenaseguros.com</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreatingEmailMessagePaymentConfirmation</name>
        <label>Creacion Mensaje de Correo Electronico - Confirmacion de Pago</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>No responder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>htmlBodyPaymentConfirmation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varClaimCoveragePaymentDetailSubjectVTPaymentProcessConfirmationDeclined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Obtener_registros_de_Indemnizacion_Pagado.CS_correoReclamante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidatedFromAddress</field>
            <value>
                <stringValue>no-responder@ext.colmenaseguros.com</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreatingEmailMessagePaymentDeclined</name>
        <label>Creacion Mensaje de Correo Electronico - Pago Rechazado</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <stringValue>No responder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>htmlBodyPaymentDeclined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varClaimCoveragePaymentDetailSubjectVTPaymentProcessConfirmationDeclined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>GetClaimRecord.CS_correoReclamante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidatedFromAddress</field>
            <value>
                <stringValue>no-responder@ext.colmenaseguros.com</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copia_2_de_Obtiene_el_registro_de_Cobertura_Pagado</name>
        <label>Obtiene el registro de Cobertura - Pagado</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_registros_de_Indemnizacion_Pagado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.ClaimCoverageId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimCoverage</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ClaimId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CS_SubStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClaimRecord</name>
        <label>Obtener registros de Indemnización</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_GetClaimCoverageRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCoberturaRecord.ClaimId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CS_SubEstado__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ClaimNumber__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCoberturaRecord</name>
        <label>Obtiene el registro de Cobertura</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetClaimRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.ClaimCoverageId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimCoverage</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ClaimId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CS_SubStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomNotificationType</name>
        <label>Obtener notificación personalizada</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendBellNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomNotificationTypeName</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_registros_de_Indemnizacion_Pagado</name>
        <label>Obtener registros de Indemnización Pagado</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_email_template_pagado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCoberturaRecord.ClaimId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CS_SubEstado__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ClaimNumber__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CS_correoReclamante__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_registros_de_Indemnizacion_Proceso_Pago_VT</name>
        <label>Obtener registros de Indemnización Proceso de Pago VT</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Email_Template_Proceso_de_Pago_VT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCoberturaRecord.ClaimId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CS_SubEstado__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ClaimNumber__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CS_correoReclamante__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_el_registro_de_Cobertura_Proceso_Pago_VT</name>
        <label>Obtiene el registro de Cobertura - Proceso Pago VT</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_registros_de_Indemnizacion_Proceso_Pago_VT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.ClaimCoverageId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimCoverage</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ClaimId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CS_SubStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateClaimCoverage</name>
        <label>Actualiza Cobertura de Indemnización</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Bell_Notification_Recipients</targetReference>
        </connector>
        <inputReference>GetCoberturaRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WasThePaymentRejected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>htmlBodyPaymentConfirmation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(0, 151, 174); font-size: 20px;&quot;&gt;Proceso de Indemnizaciones&lt;/span&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 16px;&quot;&gt;Apreciado cliente,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: arial; font-size: 16px;&quot;&gt;Agradecemos el tiempo que tomó para acercarse a nuestra compañía mediante la solicitud que fue presentada.&amp;nbsp;Al respecto, queremos informarle que el&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-family: arial; font-size: 16px;&quot;&gt;{!varClaimCoveragePaymentDetailScheduledPaymentDate}&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: arial; font-size: 16px;&quot;&gt;se realizó el pago de&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-family: arial; font-size: 16px;&quot;&gt;{!varClaimCoveragePaymentDetailPaidValue}&lt;/strong&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: arial; font-size: 16px;&quot;&gt;&amp;nbsp;correspondiente al amparo&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-family: arial; font-size: 16px;&quot;&gt;{!varClaimCoveragePaymentDetailEmailClaimCoverageName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: arial; font-size: 16px;&quot;&gt;&amp;nbsp;mediante el medio de pago&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-family: arial; font-size: 16px;&quot;&gt;{!varClaimCoveragePaymentDetailPaymentMethod}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(102, 102, 102); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Queremos informarle que nuestro defensor del consumidor financiero es Andrés Augusto Garavito Colmenares y el defensor suplente es César Alejandro Pérez Hamilton.&amp;nbsp;Puede comunicarse con él en Bogotá a los teléfonos: (601) 2131370 - 2131322, celular 321 9240479 - 323 2322934 - 323 2322911, Correo electrónico:&amp;nbsp;&lt;/em&gt;&lt;a href=&quot;mailto:defensordelconsumidorfinancierovida@colmenaseguros.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(102, 102, 102); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&lt;em&gt;defensordelconsumidorfinancierovida@colmenaseguros.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;color: rgb(102, 102, 102); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;&amp;nbsp;&amp;nbsp;o a la avenida 19 No. 114 - 09 Of. 502.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Colmena Seguros, adelante valientes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Atentamente,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Gerencia de Indemnizaciones Colmena Seguros&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>htmlBodyPaymentDeclined</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 15pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(0, 151, 174);&quot;&gt;Proceso de Indemnizaciones&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Apreciado cliente,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif;&quot;&gt;Agradecemos el tiempo que tomó para acercarse a nuestra compañía mediante la solicitud que fue presentada.&amp;nbsp;Al respecto, queremos informarle que la ejecución del pago por $&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(102, 102, 102); font-family: sans-serif;&quot;&gt;{!varClaimCoveragePaymentDetailPaymentValue}&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif;&quot;&gt;no fue exitoso por motivo&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(102, 102, 102); font-family: arial;&quot;&gt;{!varClaimCoveragePaymentDetailReportedError}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102); font-family: arial;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Por lo anterior, acudimos a su colaboración para enviarnos una certificación de otra cuenta bancaria que se encuentre activa y de la que el asegurado sea titular. Una vez obtenga el documento, podrá enviárnoslo a través de&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.colmenaseguros.com/solicita-tu-indemnizacion&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(5, 99, 193);&quot;&gt;Colmena Seguros - Solicita tu indemnización en Colmena&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;en la opción&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;&lt;em&gt;Retomar&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;&amp;nbsp;y haciendo referencia al número de radicado citado en el asunto.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Queremos informarle que nuestro&amp;nbsp;&lt;/em&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;&lt;em&gt;defensor&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;&amp;nbsp;del consumidor financiero es Andrés Augusto Garavito Colmenares y el defensor suplente es César Alejandro Pérez Hamilton.&amp;nbsp;Puede comunicarse con él en Bogotá a los teléfonos: (601) 2131370 - 2131322, celular 321 9240479 - 323 2322934 - 323 2322911, Correo electrónico:&amp;nbsp;&lt;/em&gt;&lt;a href=&quot;mailto:defensordelconsumidorfinancierovida@colmenaseguros.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(5, 99, 193);&quot;&gt;&lt;em&gt;defensordelconsumidorfinancierovida@colmenaseguros.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;&amp;nbsp;&amp;nbsp;o a la avenida 19 No. 114 - 09 Of. 502.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Colmena Seguros, adelante valientes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Atentamente,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Gerencia de Indemnizaciones Colmena Seguros&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>htmlBodyVTPaymentProcess</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 151, 174); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: 15pt;&quot;&gt;Proceso de Indemnizaciones&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: inherit;&quot;&gt;Apreciado cliente,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; font-size: inherit;&quot;&gt;Agradecemos el tiempo que tomó para acercarse a nuestra compañía mediante la solicitud que fue presentada.&amp;nbsp;Al respecto, queremos informarle que la definición de la siguiente póliza y amparo resultó favorable para el pago del beneficio por:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;font-family: arial; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-variant-alternates: inherit; font-variant-position: inherit; font-stretch: inherit; font-size: 16px; line-height: inherit; font-optical-sizing: inherit; font-size-adjust: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; color: rgb(0, 0, 0); width: 589px; border: none;&quot; width=&quot;589&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;border-width: 1px; border-style: solid; border-color: rgb(191, 191, 191); width: 113px; padding: 0cm 5px; height: 2px;&quot; valign=&quot;bottom&quot; nowrap=&quot;nowrap&quot;&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;b&gt;&lt;span style=&quot;border: 0px; font-size: 10pt; padding: 0px;&quot; lang=&quot;ES-CO&quot;&gt;&lt;span style=&quot;font-style: inherit;&quot;&gt;&lt;span style=&quot;font-variant: inherit;&quot;&gt;&lt;span style=&quot;font-weight: inherit;&quot;&gt;&lt;span style=&quot;font-stretch: inherit;&quot;&gt;&lt;span style=&quot;line-height: inherit;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif;&quot;&gt;&lt;span style=&quot;font-optical-sizing: inherit;&quot;&gt;&lt;span style=&quot;font-size-adjust: inherit;&quot;&gt;&lt;span style=&quot;font-kerning: inherit;&quot;&gt;&lt;span style=&quot;font-feature-settings: inherit;&quot;&gt;&lt;span style=&quot;font-variation-settings: inherit;&quot;&gt;&lt;span style=&quot;vertical-align: baseline;&quot;&gt;&lt;span style=&quot;color: rgb(102, 102, 102) !important;&quot;&gt;No. Póliza&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/b&gt;&lt;/span&gt;&lt;/span&gt;&lt;/td&gt;&lt;td style=&quot;border-bottom: 1px solid rgb(191, 191, 191); width: 237px; padding: 0cm; height: 2px; border-top: 1px solid rgb(191, 191, 191); border-right: 1px solid rgb(191, 191, 191); border-left: none;&quot; valign=&quot;top&quot;&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;b&gt;&lt;span style=&quot;border: 0px; font-size: inherit; padding: 0px;&quot; lang=&quot;ES-CO&quot;&gt;&lt;span style=&quot;font-style: inherit;&quot;&gt;&lt;span style=&quot;font-variant: inherit;&quot;&gt;&lt;span style=&quot;font-weight: inherit;&quot;&gt;&lt;span style=&quot;font-stretch: inherit;&quot;&gt;&lt;span style=&quot;line-height: inherit;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif;&quot;&gt;&lt;span style=&quot;font-optical-sizing: inherit;&quot;&gt;&lt;span style=&quot;font-size-adjust: inherit;&quot;&gt;&lt;span style=&quot;font-kerning: inherit;&quot;&gt;&lt;span style=&quot;font-feature-settings: inherit;&quot;&gt;&lt;span style=&quot;font-variation-settings: inherit;&quot;&gt;&lt;span style=&quot;vertical-align: baseline;&quot;&gt;&lt;span style=&quot;color: rgb(102, 102, 102) !important;&quot;&gt;Amparo&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/b&gt;&lt;/span&gt;&lt;/span&gt;&lt;/td&gt;&lt;td style=&quot;border-bottom: 1px solid rgb(191, 191, 191); width: 239px; padding: 0cm 5px; height: 2px; border-top: 1px solid rgb(191, 191, 191); border-right: 1px solid rgb(191, 191, 191); border-left: none;&quot; valign=&quot;bottom&quot; nowrap=&quot;nowrap&quot;&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;b&gt;&lt;span style=&quot;border: 0px; font-size: inherit; padding: 0px;&quot; lang=&quot;ES-CO&quot;&gt;&lt;span style=&quot;font-style: inherit;&quot;&gt;&lt;span style=&quot;font-variant: inherit;&quot;&gt;&lt;span style=&quot;font-weight: inherit;&quot;&gt;&lt;span style=&quot;font-stretch: inherit;&quot;&gt;&lt;span style=&quot;line-height: inherit;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif;&quot;&gt;&lt;span style=&quot;font-optical-sizing: inherit;&quot;&gt;&lt;span style=&quot;font-size-adjust: inherit;&quot;&gt;&lt;span style=&quot;font-kerning: inherit;&quot;&gt;&lt;span style=&quot;font-feature-settings: inherit;&quot;&gt;&lt;span style=&quot;font-variation-settings: inherit;&quot;&gt;&lt;span style=&quot;vertical-align: baseline;&quot;&gt;&lt;span style=&quot;color: rgb(102, 102, 102) !important;&quot;&gt;Valor Indemnización&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/span&gt;&lt;/b&gt;&lt;/span&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;border-bottom: 1px solid rgb(191, 191, 191); width: 113px; padding: 0cm 5px; height: 2px; border-top: none; border-right: 1px solid rgb(191, 191, 191); border-left: 1px solid rgb(191, 191, 191);&quot; valign=&quot;bottom&quot; nowrap=&quot;nowrap&quot;&gt;{!varClaimCoveragePaymentDetailEmailInsurancePolicy}&lt;/td&gt;&lt;td style=&quot;border-bottom: 1px solid rgb(191, 191, 191); width: 237px; padding: 0cm; height: 2px; border-top: none; border-right: 1px solid rgb(191, 191, 191); border-left: none;&quot; valign=&quot;top&quot;&gt;{!varClaimCoveragePaymentDetailEmailClaimCoverageName}&lt;/td&gt;&lt;td style=&quot;border-bottom: 1px solid rgb(191, 191, 191); width: 239px; padding: 0cm 5px; height: 2px; border-top: none; border-right: 1px solid rgb(191, 191, 191); border-left: none;&quot; valign=&quot;bottom&quot; nowrap=&quot;nowrap&quot;&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;&lt;span style=&quot;font-size: 14.6667px;&quot;&gt;{!varClaimCoveragePaymentDetailPaymentValue}&lt;/span&gt;&lt;/span&gt;&amp;nbsp;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Queremos hacer las cosas fáciles, es por eso que estamos tratando de no generar pagos mediante cheque. Algunas entidades ofrecen la posibilidad de abrir cuentas bancarias mediante aplicaciones digitales, por lo que sugerimos tomar esta opción si no tiene una cuenta en este momento.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Una vez obtenga la documentación, podrá enviárnosla a través de&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.colmenaseguros.com/solicita-tu-indemnizacion&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: inherit; color: rgb(5, 99, 193);&quot;&gt;Colmena Seguros - Solicita tu indemnización en Colmena&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;en la opción&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;&lt;em&gt;Retomar&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;&amp;nbsp;y haciendo referencia al número de radicado citado en el asunto.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; color: rgb(0, 0, 0); font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Queremos informarle que nuestro defensor del consumidor financiero es Andrés Augusto Garavito Colmenares y el defensor suplente es César Alejandro Pérez Hamilton.&amp;nbsp;Puede comunicarse con él en Bogotá a los teléfonos: (601) 2131370 - 2131322, celular 321 9240479 - 323 2322934 - 323 2322911, Correo electrónico:&amp;nbsp;&lt;/em&gt;&lt;a href=&quot;mailto:defensordelconsumidorfinancierovida@colmenaseguros.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif;&quot;&gt;&lt;em&gt;defensordelconsumidorfinancierovida@colmenaseguros.com&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;&amp;nbsp;&amp;nbsp;o a la avenida 19 No. 114 - 09 Of. 502.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Colmena Seguros, adelante valientes&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Atentamente,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: inherit; font-family: &amp;quot;Gill Sans MT&amp;quot;, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Gerencia de Indemnizaciones Colmena Seguros&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Declined_Payment</stringValue>
        </value>
    </variables>
    <variables>
        <name>newRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClaimCoveragePaymentDetail</objectType>
    </variables>
    <variables>
        <name>oldRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClaimCoveragePaymentDetail</objectType>
    </variables>
    <variables>
        <name>RecipientIDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClaimCoveragePaymentDetailEmailClaimCoverageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>newRecord.CS_EmailClaimCoverageName__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoveragePaymentDetailEmailInsurancePolicy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>newRecord.EmailInsurancePolicy__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoveragePaymentDetailPaidValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>newRecord.CS_PaidValue__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoveragePaymentDetailPaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>newRecord.CS_PaymentMethod__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoveragePaymentDetailPaymentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>newRecord.CS_PaymentValue__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoveragePaymentDetailReportedError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>newRecord.Reported_Error__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoveragePaymentDetailScheduledPaymentDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>newRecord.ScheduledPaymentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varClaimCoveragePaymentDetailSubjectVTPaymentProcessConfirmationDeclined</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>newRecord.Subject_to_template_Declined_Payment__c</elementReference>
        </value>
    </variables>
</Flow>
