force-app/main/default/flows/XFLS_Actualizar_actividad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Status_RECHAZADO</name>
        <label>Set Status RECHAZADO</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>XFLS_ObtenerActividad.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_Actualizar_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_Mapeo_de_campos</name>
        <label>Mapeo de campos</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>XFLS_ObtenerActividad.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.XFLS_FechaInicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XFLS_ObtenerActividad.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.XFLS_FechaFin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XFLS_ObtenerActividad.XFLS_Cantidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XFLS_ObtenerActividad.XFLS_Contacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.XFLS_NombreContacto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_MapeoEstados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_SetStatusACTIVA</name>
        <label>Set Status ACTIVA</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>XFLS_ObtenerActividad.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_Actualizar_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_SetStatusEjecutada</name>
        <label>Set Status Ejecutada</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>XFLS_ObtenerActividad.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ejecutada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_Actualizar_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_SetStatusEliminada</name>
        <label>Set Status Eliminada</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>XFLS_ObtenerActividad.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eliminada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_Actualizar_Actividad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_SetStatusSuspendida</name>
        <label>Set Status Suspendida</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>XFLS_ObtenerActividad.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suspendida</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_Actualizar_Actividad</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>XFLS_MapeoEstados</name>
        <label>Mapeo de estados</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>XFLS_Actualizar_Actividad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Asignar_ACTIVA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendiente por aceptar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aceptada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_SetStatusACTIVA</targetReference>
            </connector>
            <label>Asignar ACTIVA</label>
        </rules>
        <rules>
            <name>Asignar_RECHAZADO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_RECHAZADO</targetReference>
            </connector>
            <label>Asignar RECHAZADO</label>
        </rules>
        <rules>
            <name>Asignar_EJECUTADA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_SetStatusEjecutada</targetReference>
            </connector>
            <label>Asignar EJECUTADA</label>
        </rules>
        <rules>
            <name>Asignar_SUSPENDIDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspendido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_SetStatusSuspendida</targetReference>
            </connector>
            <label>Asignar SUSPENDIDA</label>
        </rules>
        <rules>
            <name>Asignar_ELIMINADA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eliminada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_SetStatusEliminada</targetReference>
            </connector>
            <label>Asignar ELIMINADA</label>
        </rules>
    </decisions>
    <description>Flujo que actualiza los campos actualizados en la Orden de servicio en la Actividad</description>
    <environments>Default</environments>
    <interviewLabel>Actualizar actividad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar actividad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>XFLS_ObtenerActividad</name>
        <label>Obtener Actividad</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>XFLS_Mapeo_de_campos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>XFLS_Cantidad__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>XFLS_Contacto__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>XFLS_Actualizar_Actividad</name>
        <label>Actualizar Actividad</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <inputReference>XFLS_ObtenerActividad</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>XFLS_ObtenerActividad</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>XFLS_FechaInicio__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>XFLS_FechaFin__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Duration</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>XFLS_NombreContacto__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
