force-app/main/default/flows/XFLS_ServiceAppointmentBeforeInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>XFLS_AddCurrentTototalTime</name>
        <label>Add Current To Total Time</label>
        <locationX>182</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>totalScheduledTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentDurationInMinutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_TimeExceeded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_FlagTimeExceededError</name>
        <label>Flag Time Exceeded Error</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>$Record.XFLS_TotalScheduledTimeOutRange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_ContactoEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_SetCity</name>
        <label>Set City</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>$Record.XFLS_CiudadEjecucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XFLS_GetWorkOrder.XFLS_CiudadesDesarrollo__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>XFLS_SetContact</name>
        <label>Set Contact</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.XFLS_Contacto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XFLS_GetWorkOrder.XFLS_Contacto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_CityEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_UpdateCalculatedFields_0</name>
        <label>Update Calculated Fields</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EarliestStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_GetSiblingServiceAppointments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_UpdateScheduledTimeCounter</name>
        <label>Update Scheduled Time Counter</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>totalScheduledTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>XFLS_ServiceAppointmentsLoop.FSL__Duration_In_Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_ServiceAppointmentsLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validar_estado</name>
        <label>Validar estado</label>
        <locationX>358</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>XFLS_UpdateScheduledTimeCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Programado</defaultConnectorLabel>
        <rules>
            <name>No_programado</name>
            <conditionLogic>1 OR 2 OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>XFLS_ServiceAppointmentsLoop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fallidas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>XFLS_ServiceAppointmentsLoop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>XFLS_ServiceAppointmentsLoop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reprogramar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>XFLS_ServiceAppointmentsLoop.XFLS_SinFecha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_ServiceAppointmentsLoop</targetReference>
            </connector>
            <label>No programado</label>
        </rules>
    </decisions>
    <decisions>
        <name>XFLS_CityEmpty</name>
        <label>Ciudad de ejecución Empty</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>XFLS_CityEmpty_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.XFLS_CiudadEjecucion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_SetCity</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>XFLS_ContactoEmpty</name>
        <label>Contacto Empty</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>XFLS_CityEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>XFLS_ContactoEmpty_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.XFLS_Contacto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_SetContact</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>XFLS_FechasLlenas</name>
        <label>Campos fecha llenos</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>XFLS_GetSiblingServiceAppointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>XFLS_FechasLlenas_YES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_UpdateCalculatedFields_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>XFLS_TimeExceeded</name>
        <label>Time Exceeded</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>XFLS_ContactoEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>XFLS_TimeExceeded_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalScheduledTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>XFLS_GetParentWorkOrderLineItem.DurationInMinutes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_FlagTimeExceededError</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Flujo disparado antes de la creación de una cita de servicio.</description>
    <environments>Default</environments>
    <formulas>
        <name>currentDurationInMinutes</name>
        <dataType>Number</dataType>
        <expression>IF(
   OR(
        ISBLANK({!$Record.SchedEndTime}),
        ISBLANK({!$Record.SchedStartTime})
    ),
   0,
   ({!$Record.SchedEndTime}-{!$Record.SchedStartTime})*24*60
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Service Appointment After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment Before Insert</label>
    <loops>
        <name>XFLS_ServiceAppointmentsLoop</name>
        <label>Service Appointments Loop</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <collectionReference>XFLS_GetSiblingServiceAppointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validar_estado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>XFLS_AddCurrentTototalTime</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>XFLS_GetParentWorkOrderLineItem</name>
        <label>Get Parent Work Order Line Item</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>XFLS_GetWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>XFLS_GetSiblingServiceAppointments</name>
        <label>Get Sibling Service Appointments</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>XFLS_GetParentWorkOrderLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSL__Duration_In_Minutes__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>XFLS_SinFecha__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>XFLS_GetWorkOrder</name>
        <label>Get WorkOrder</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>XFLS_ServiceAppointmentsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>XFLS_GetParentWorkOrderLineItem.WorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>XFLS_Contacto__c</queriedFields>
        <queriedFields>XFLS_DireccionPrincipal__c</queriedFields>
        <queriedFields>XFLS_CiudadesDesarrollo__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>XFLS_FechasLlenas</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>totalScheduledTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
