force-app/main/default/flows/XFLS_GenerarCapacidadesMensuales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Creacion_de_la_capacidad_del_recurso</name>
        <label>Creación de la capacidad del recurso</label>
        <locationX>138</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>XFLS_Capacity_to_create.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_todos_los_consultores.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XFLS_Capacity_to_create.CapacityInHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XFLS_Capacity_to_create.TimePeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XFLS_Capacity_to_create.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Day_of_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XFLS_Capacity_to_create.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Day_of_Month</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_todos_los_consultores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Se_anade_a_la_lista_de_capacidades_a_crear</name>
        <label>Se añade a la lista de capacidades a crear</label>
        <locationX>138</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>XFLS_Capacities_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>XFLS_Capacity_to_create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creacion_de_la_capacidad_del_recurso</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>XFLS_ValidarInicioMes</name>
        <label>Validar inicio de més</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_inicio_del_mes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hoy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>First_Day_of_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_Obtener_consultores</targetReference>
            </connector>
            <label>Es inicio del més</label>
        </rules>
    </decisions>
    <description>Flujo que generar capacidades mensuales a todos los consultores activos y que estan basados en capacidad</description>
    <environments>Default</environments>
    <formulas>
        <description>Primer dia del més</description>
        <name>First_Day_of_Month</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY()),1)</expression>
    </formulas>
    <formulas>
        <name>Hoy</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Último día del més</description>
        <name>Last_Day_of_Month</name>
        <dataType>Date</dataType>
        <expression>IF(
MONTH( TODAY() ) = 12,
DATE( YEAR( TODAY() ), 12, 31 ),
DATE( YEAR( TODAY() ), MONTH ( TODAY() ) + 1, 1 ) - 1)</expression>
    </formulas>
    <interviewLabel>Generar capacidades mensuales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generar capacidades mensuales</label>
    <loops>
        <name>Recorrer_todos_los_consultores</name>
        <label>Recorrer todos los consultores</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <collectionReference>XFLS_Obtener_consultores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Se_anade_a_la_lista_de_capacidades_a_crear</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Guardar_capacidades_generadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Guardar_capacidades_generadas</name>
        <label>Guardar capacidades generadas</label>
        <locationX>50</locationX>
        <locationY>972</locationY>
        <inputReference>XFLS_Capacities_To_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>XFLS_Obtener_consultores</name>
        <label>Obtener consultores</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_todos_los_consultores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsCapacityBased</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>XFLS_ValidarInicioMes</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-01</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>XFLS_Capacities_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResourceCapacity</objectType>
    </variables>
    <variables>
        <name>XFLS_Capacity_to_create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResourceCapacity</objectType>
    </variables>
</Flow>
