force-app/main/default/flows/XFLS_WorkOrderLineItemCalculateScheduledTime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>XFLS_AssignExecutedTime</name>
        <label>Assign Executed Time</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>loopTotalOfHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCurrentTimeInHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_ServiceAppointmentLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_AssignIdToWorkOrderLineItemUpdate</name>
        <label>Assign Id to Work Order Line Item Update</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>workOrderLineItemUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrderLineItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOrderLineItemUpdate.XFLS_HorasProgramadas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_ServiceAppointmentLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>XFLS_AssignTotalTime</name>
        <label>Assign Total Time</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>workOrderLineItemUpdate.XFLS_HorasProgramadas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalOfHoursRounded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>XFLS_UpdateWorkOrderLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>XFLS_HasAppointments</name>
        <label>Has Appointments</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>XFLS_HasAppointments_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>XFLS_GetServiceAppointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_AssignIdToWorkOrderLineItemUpdate</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>XFLS_ValidateStatus</name>
        <label>Validate Status</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>XFLS_AssignExecutedTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Programado</defaultConnectorLabel>
        <rules>
            <name>No_programado</name>
            <conditionLogic>1 OR 2 OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>XFLS_ServiceAppointmentLoop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fallidas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>XFLS_ServiceAppointmentLoop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>XFLS_ServiceAppointmentLoop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reprogramar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>XFLS_ServiceAppointmentLoop.XFLS_SinFecha__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_ServiceAppointmentLoop</targetReference>
            </connector>
            <label>No programado</label>
        </rules>
    </decisions>
    <description>Flujo encargado de actualizar el tiempo total agendado en un item de orden de trabajo.</description>
    <environments>Default</environments>
    <formulas>
        <name>loopCurrentTimeInHours</name>
        <dataType>Number</dataType>
        <expression>{!XFLS_ServiceAppointmentLoop.FSL__Duration_In_Minutes__c}/60.00</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalOfHoursRounded</name>
        <dataType>Number</dataType>
        <expression>IF(
    AND(
        MOD({!loopTotalOfHours}, 1) &gt; 0.00,
        MOD({!loopTotalOfHours}, 1) &lt; 0.50
    ),
    {!loopTotalOfHours} + (0.50 - MOD({!loopTotalOfHours}, 1)),
    IF(
        AND(
            MOD({!loopTotalOfHours}, 1) &gt; 0.50,
            MOD({!loopTotalOfHours}, 1) &lt; 1.00
        ),
        {!loopTotalOfHours} + (1.00 - MOD({!loopTotalOfHours}, 1)),
        {!loopTotalOfHours}
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Work Order Line Item Calculate Scheduled Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Line Item Calculate Scheduled Time</label>
    <loops>
        <name>XFLS_ServiceAppointmentLoop</name>
        <label>Service Appointment Loop</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>XFLS_GetServiceAppointment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>XFLS_ValidateStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>XFLS_AssignTotalTime</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>XFLS_GetServiceAppointment</name>
        <label>Get Service Appointment</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>XFLS_HasAppointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderLineItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSL__Duration_In_Minutes__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>XFLS_SinFecha__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>XFLS_UpdateWorkOrderLineItem</name>
        <label>Update Work Order Line Item</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <inputReference>workOrderLineItemUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>XFLS_GetServiceAppointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopTotalOfHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>workOrderLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderLineItemUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
