force-app/main/default/flows/XFLS_ServiceAppointmentAfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>XFLS_CampoActualizado</name>
        <label>Campo Actualizado</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>XFLS_CampoActualizado_ActualDuration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ejecutada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WOLI.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_CalculateExecutedTime</targetReference>
            </connector>
            <label>Actual Duration</label>
        </rules>
        <rules>
            <name>XFLS_CampoActualizado_DurationInMinutes</name>
            <conditionLogic>1 OR 2 OR (3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSL__Duration_In_Minutes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.XFLS_SinFecha__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enviada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WOLI.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>XFLS_CalculateScheduledTime</targetReference>
            </connector>
            <label>Duration In Minutes</label>
        </rules>
    </decisions>
    <description>Flujo disparado después de la actualización de una cita de servicio.</description>
    <environments>Default</environments>
    <interviewLabel>Service Appointment After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>XFLS_CampoActualizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>XFLS_CalculateExecutedTime</name>
        <label>Calculate Executed Time</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <flowName>XFLS_WorkOrderLineItemCalculateExecutedTime</flowName>
        <inputAssignments>
            <name>workOrderLineItemId</name>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>XFLS_CalculateScheduledTime</name>
        <label>Calculate Scheduled Time</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <flowName>XFLS_WorkOrderLineItemCalculateScheduledTime</flowName>
        <inputAssignments>
            <name>workOrderLineItemId</name>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
