force-app/main/default/flows/XFLS_OrdenServicio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_notificacion_Duracion</name>
        <label>Enviar notificación Duracion</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>WorkOrderLineItem.XFLS_CambioDuracion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrderLineItem.XFLS_CambioDuracion</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notificacion_fecha_fin</name>
        <label>Enviar notificacion fecha fin</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>WorkOrderLineItem.XFLS_CambioFechaFin</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrderLineItem.XFLS_CambioFechaFin</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_notificacion_fecha_inicio</name>
        <label>Enviar notificacion fecha inicio</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>WorkOrderLineItem.XFLS_CambioFechaInicio</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrderLineItem.XFLS_CambioFechaInicio</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Cambia_duracion</name>
        <label>Cambia duracion</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Enviar_notificacion_fecha_fin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Duracion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Duration</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_notificacion_Duracion</targetReference>
            </connector>
            <label>Duracion</label>
        </rules>
        <rules>
            <name>Fecha_Inicio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.XFLS_FechaInicio__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_notificacion_fecha_inicio</targetReference>
            </connector>
            <label>Fecha Inicio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>XFLS_OrdenServicio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>XFLS_OrdenServicio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cambia_duracion</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>XFLS_FechaInicio__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>XFLS_FechaFin__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Duration</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
