force-app/main/default/flows/XFLS_Actualizar_OS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OS_rechazada</name>
        <label>OS rechazada</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>WorkOrderLineItem.Rechazar_OS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Obtener_actividad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrderLineItem.Rechazar_OS</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignar_nuevo_propietario_a_la_actividad</name>
        <label>Asignar nuevo propietario a la actividad</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>Obtener_actividad.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_nuevo_owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_actividad</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Aceptada</name>
        <label>Aceptada</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Eliminada_o_Rechazada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTRO</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aceptada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_fecha</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_de_estado</name>
        <label>Cambio status</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Completada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cambia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aceptada</targetReference>
            </connector>
            <label>Cambia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completada</name>
        <label>Completada</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>TRUE2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.XFLS_TiempoEjecutado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Duration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_Status</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eliminada_o_Rechazada</name>
        <label>Eliminada o Rechazada</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eliminada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OS_rechazada</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Actualizar OS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar OS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_actividad</name>
        <label>Obtener actividad</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_username_nuevo_propietario_actividad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Nuevo Owner &quot;Leydy&quot;</description>
        <name>Obtener_nuevo_owner</name>
        <label>Obtener nuevo propietario de la actividad</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_nuevo_propietario_a_la_actividad</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_username_nuevo_propietario_actividad.User_acti_rechazadas__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_username_nuevo_propietario_actividad</name>
        <label>Obtener username nuevo propietario actividad</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_nuevo_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>V1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametro_global__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>User_acti_rechazadas__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_actividad</name>
        <label>Actualizar actividad</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <inputReference>Obtener_actividad</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_fecha</name>
        <label>Actualizar fecha</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>XFLS_FechaAcepta__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cambiar_Status</name>
        <label>Cambiar Status</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cambio_de_estado</targetReference>
        </connector>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
