DeploySP3Semana1_2/flows/ClosedCaseNotification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HealthProfessionalNotification</name>
        <label>Notificacion Cierre Priofesional de la Salud</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>UpdateStatusClaim</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Notificacion_cierre_de_caso.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Notificacion Cierre Caso Profesional Salud</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificacionProfesionalSalud</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>SetOwnerIdToList</name>
        <label>Set owner id to list</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Record.Claim__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HealthProfessionalNotification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>InitialConditions</name>
        <label>Initial conditions</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_PriorRecord.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotificationByRecordtype</targetReference>
            </connector>
            <label>Execute</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotificationByRecordtype</name>
        <label>Notification by recordtype</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HealthProfessional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Profesional_de_la_Salud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Notificacion_cierre_de_caso</targetReference>
            </connector>
            <label>Health professional</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NotificacionProfesionalSalud</name>
        <dataType>String</dataType>
        <expression>&apos;El caso número &apos; &amp; {!var_Record.CaseNumber} &amp; &apos; ha sido cerrado.&apos;</expression>
    </formulas>
    <interviewLabel>Notificacion cierre de caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificacion cierre de caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Notificacion_cierre_de_caso</name>
        <label>Obtener Notificación cierre de caso</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOwnerIdToList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cierre_Caso_Profesional_de_la_Salud</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateStatusClaim</name>
        <label>UpdateStatusClaim</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Claim__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_SubEstado__c</field>
            <value>
                <stringValue>Caso Gestionado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Análisis</stringValue>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InitialConditions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Action que notifica el cierre del caso</description>
        <name>NotificacionCierreCasoProfesionalSalud</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;El caso número &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!var_Record.CaseNumber}&amp;nbsp;&lt;/span&gt;ha sido cerrado.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Varible encargada de guardar los reponsables del caso</description>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIdClaim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PriorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
