DeploySP3Semana1_2/flows/CS_SetMilestoneByChangeStatus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_entitlement_name</name>
        <label>Set entitlement name</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_EntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Caso indemnización milestone análisis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_entitlement_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_entitlement_name2</name>
        <label>Set entitlement name</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_EntitlementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Caso indemnización motor de reglas/en proceso</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_entitlement_process</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_status_to_stoped_milestone</name>
        <label>Change status to stoped milestone</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Soped_milestone</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>var_PriorRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Análisis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspendido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pago parcial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_milestone</targetReference>
            </connector>
            <label>Soped milestone</label>
        </rules>
        <rules>
            <name>Dont_stoped_milestone</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>var_PriorRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pago parcial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_PriorRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspendido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Análisis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.IsStopped</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DontStopMilestone</targetReference>
            </connector>
            <label>Dont stoped milestone</label>
        </rules>
        <rules>
            <name>Complete_milestone</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>var_PriorRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Análisis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Objetado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_last_milestone</targetReference>
            </connector>
            <label>Complete milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_status_to_set_entitlement</name>
        <label>Check status to set entitlement</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Change_status_to_stoped_milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Analisis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Análisis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.IsStopped</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_entitlement_name</targetReference>
            </connector>
            <label>Is Analisis</label>
        </rules>
        <rules>
            <name>Motor_reglas_En_pagador</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Pagador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Motor de reglas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_entitlement_name2</targetReference>
            </connector>
            <label>Motor reglas/En pagador</label>
        </rules>
    </decisions>
    <decisions>
        <name>InitialConditions</name>
        <label>Initial conditions</label>
        <locationX>1073</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_PriorRecord.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_CasoIndemnizacion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_status_to_set_entitlement</targetReference>
            </connector>
            <label>Execute</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asignar Milestone por cambio de estado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar Milestone por cambio de estado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_entitlement_process</name>
        <label>Get entitlement process</label>
        <locationX>512</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_entitlement_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EntitlementName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_last_milestone</name>
        <label>Complete last milestone</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>DontStopMilestone</name>
        <label>Dont Stop milestone</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Stop_milestone</name>
        <label>Stop milestone</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_entitlement_to_Case</name>
        <label>Update entitlement to Case</label>
        <locationX>512</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_entitlement_process.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InitialConditions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_EntitlementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PriorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
