DeploysDevSP2/flows/claimSendEmail.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Actualizar_Documentos_Faltantes</name>
        <label>Actualizar Documentos Faltantes</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>CS_EmailClaimInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsNewClaim</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Claim</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Claim</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Claims</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CS_EmailClaimInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Envío de email al crearse un registro de Claim</description>
        <name>SendEmailClaimCreated</name>
        <label>Send email claim created</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Claim.SendEmailClaimCreated</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Claim.SendEmailClaimCreated</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asignar_Claims</name>
        <label>Asignar Claims</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Claims</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Documentos_Faltantes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsNewClaim</name>
        <label>Is new claim</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SendClaimEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SendClaimEmail__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailClaimCreated</targetReference>
            </connector>
            <label>Is new</label>
        </rules>
    </decisions>
    <description>Envió automático de correo electrónico  al crear un siniestro.</description>
    <environments>Default</environments>
    <interviewLabel>claimSendEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>claimSendEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_Claims</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5 AND 6 AND 7))</filterLogic>
        <filters>
            <field>ClaimEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SendClaimEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SendClaimEmail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Análisis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_SubEstado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Documentos Adicionales</stringValue>
            </value>
        </filters>
        <filters>
            <field>CS_SubEstado__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Claim</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Claims</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim</objectType>
    </variables>
</Flow>
