DeploysDevSP2/flows/CS_Case_After_Update_Claim.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Es_de_Claim</name>
        <label>Es de Claim?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si_Es_de_Claim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Profesional_de_la_Salud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Firma_investigadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_Gestion_de_Operaciones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Reclamante</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NombreReclamante</name>
        <dataType>String</dataType>
        <expression>{!Obtener_Reclamante.CS_FirstName__c} + &apos; &apos; + {!Obtener_Reclamante.CS_SecondName__c} + &apos; &apos; + {!Obtener_Reclamante.CS_LastName__c} + &apos; &apos;+ {!Obtener_Reclamante.CS_SecondLastName__c}</expression>
    </formulas>
    <formulas>
        <name>TipoDocumentoReclamante</name>
        <dataType>String</dataType>
        <expression>TEXT({!Obtener_Reclamante.CS_DocumentType__c})</expression>
    </formulas>
    <interviewLabel>Case After Update | Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Update | Claim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Reclamante</name>
        <label>Obtener Reclamante</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Reclamante</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClaimId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Claim__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClaimant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ClaimParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Reclamante</name>
        <label>Actualizar Reclamante</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CS_Nombre_Reclamante__c</field>
            <value>
                <elementReference>NombreReclamante</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Numero_Identificacion_Reclamante__c</field>
            <value>
                <elementReference>Obtener_Reclamante.CS_DocumentNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Tipo_Identificacion_Reclamante__c</field>
            <value>
                <elementReference>TipoDocumentoReclamante</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Es_de_Claim</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
