DeploysDevSP2/flows/SendEmailGroundObjection.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pagoparcial</name>
        <label>Envio correo status pago parcial</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Claim.SendEmailStatusPartialPayment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Claim.SendEmailStatusPartialPayment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailGroundObjection</name>
        <label>Envi贸 de correo causal de objeci贸n</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Claim.SendEmailGroundObjection</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Claim.SendEmailGroundObjection</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>En Pagador</description>
        <name>SendEmailStatusInPayer</name>
        <label>Envio correo status en pagador</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Claim.SendEmailStatusInPayer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Claim.SendEmailStatusInPayer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendingMailWaitingForDocuments</name>
        <label>Envio de correo en espera de documentos</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Claim.SendEmailStatusInSuspended</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateNotificationDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Claim.SendEmailStatusInSuspended</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>StatusPagado</name>
        <label>Envio correo status pagado</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Claim.SendEmailStatusPaid</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Claim.SendEmailStatusPaid</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>SendEmailCauseObjection</name>
        <label>Envio de correo causal de objecion</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Objetado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Objetado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailGroundObjection</targetReference>
            </connector>
            <label>Objetado</label>
        </rules>
        <rules>
            <name>En_pagador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Pagador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailStatusInPayer</targetReference>
            </connector>
            <label>En pagador</label>
        </rules>
        <rules>
            <name>Pagado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusPagado</targetReference>
            </connector>
            <label>Pagado</label>
        </rules>
        <rules>
            <name>Pago_parcial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pago parcial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pagoparcial</targetReference>
            </connector>
            <label>Pago parcial</label>
        </rules>
        <rules>
            <name>Suspendido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspendido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_SubEstado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentos Solicitados</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendingMailWaitingForDocuments</targetReference>
            </connector>
            <label>Suspendido</label>
        </rules>
    </decisions>
    <description>Envi贸 de correo que notifica la causal de objeci贸n al remitente.</description>
    <environments>Default</environments>
    <interviewLabel>Envio de correo por cambio de estado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envio de correo por cambio de estado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateNotificationDate</name>
        <label>UpdateNotificationDate</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>FirstNotificationDateWaitingForDocument__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastNotificationDateWaitingForDocument__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SendEmailCauseObjection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ClaimEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Claim</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
